USE [Issue_MaterialInOut]
GO
/****** Object:  StoredProcedure [dbo].[Check_user_update_price_sap]    Script Date: 1/13/2026 12:58:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Check_user_update_price_sap]
	@UserID as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    
	if exists(select * from [Issue_MaterialInOut].[dbo].[tbl_UserIssueRQ] where UserLogin=@UserID and RoleDept='ACC-CHECK' )  --and RoleID=1 --level1
	begin
		--cho phep update gia
		select 1
	end
	else
	begin
		-- khong thuoc ke toan khong duoc phep update gia
		select 0
	end

END
GO
/****** Object:  StoredProcedure [dbo].[Check_user_update_price_sap2]    Script Date: 1/13/2026 12:58:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[Check_user_update_price_sap2]
	@UserID as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    --chi bo phan moi duoc sua va quyen level 3 (RoleID=3)
	if exists(select * from [Issue_MaterialInOut].[dbo].[tbl_UserIssueRQ] where UserLogin=@UserID and RoleDept='RQ' and RoleID=3 )  --and RoleID=1 --level1
	begin
		--cho phep update gia
		select 1
	end
	else
	begin
		--  khong duoc phep update gia
		select 0
	end

END
GO
/****** Object:  StoredProcedure [dbo].[Export_ScrapList_Report_A]    Script Date: 1/13/2026 12:58:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[Export_ScrapList_Report_A]  -- Export_ScrapList_Report_A 'RQB-PUR-0126-3'
	@Request_NO as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

	--select * from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] where RequestNo=@Request_NO
	SELECT TOP (1000) a.[ID]
      ,a.[RequestNo]
      ,a.[Material]
      ,a.[ItemDescription]
      ,a.[TypeID]
      ,a.[MvType]
      ,a.[MvName]
      ,a.[Plant]
      ,a.[VendorCode]
      ,a.[CostCenter]
      ,a.[Sloc]
      ,a.[IssueQty]
      ,a.[UnitPrice_ST]
      ,a.[Amount_ST]
      --,a.[UnitPrice_AC]
      --,a.[Amount_AC]
      ,a.[DateVoucher]
      ,a.[CountryofOrigin]
      ,a.[Note]
	  ,(select top 1 NameCode from [ScrapSystem].[dbo].[MaterMVT_PUS] b where a.CostCenter=b.Costcenter) as NameCode
	  ,(select top 1 VendorName from [Issue_MaterialInOut].[dbo].[tbl_VendorMaster] c where a.VendorCode=c.VendorCode) as VendorName
      --,[UserCreate]
      --,[UserUpdate]
      --,[DateUpdate]
      --,[CodeInchage_Issue]
      --,[NameInchage_Issue]
      --,[DateInchage_Issue]
      --,[StatusInchage_Issue]
      --,[CodeMGR_Issue]
      --,[NameMGR_Issue]
      --,[DateMGR_Issue]
      --,[StatusMGR_Issue]
      --,[CodeGM_Issue]
      --,[NameGM_Issue]
      --,[DateGM_Issue]
      --,[StatusGM_Issue]
      --,[NameACC_Check]
      --,[CodeACC_Check]
      --,[DateACC_Check]
      --,[StatusACC_Check]
      --,[CodeACC_MGR]
      --,[NameACC_MGR]
      --,[DateACC_MGR]
      --,[StatusACC_MGR]
      --,[CodeACC_GM]
      --,[NameACC_GM]
      --,[DateACC_GM]
      --,[StatusACC_GM]
      --,[CodeInchage_Out]
      --,[NameInchage_Out]
      --,[DateInchage_Out]
      --,[StatusInchage_Out]
      --,[CodeMGR_Out]
      --,[NameMGR_Out]
      --,[DateMGR_Out]
      --,[StatusMGR_Out]
      --,[CodeGM_Out]
      --,[NameGM_Out]
      --,[DateGM_Out]
      --,[StatusGM_Out]
      --,[Status_RQ]
      --,[Status_IVoice]
      --,[Status_Delete]
      --,[RQDeptID]
      --,[Insert_Date]
      --,[CDS_No]
      --,[CDS_Date]
      --,[User_Approved_OutSAP]
      --,[Name_Approved_OutSAP]
      --,[Status_Approved_OutSAP]
      --,[Date_Approved_OutSAP]
      --,[NameSacntion]
      --,[Flag_price_sap]
  FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a where a.RequestNo=@Request_NO
 


END
GO
/****** Object:  StoredProcedure [dbo].[Export_ScrapList_Report_B]    Script Date: 1/13/2026 12:58:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Export_ScrapList_Report_B]  -- Export_ScrapList_Report_B 'RQB-PUR-0126-3'
	@Request_NO as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

	--select * from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] where RequestNo=@Request_NO
	SELECT TOP (1000) a.[ID]
      ,a.[RequestNo]
      ,a.[Material]
      ,a.[ItemDescription]
      ,a.[TypeID]
      ,a.[MvType]
      ,a.[MvName]
      ,a.[Plant]
      ,a.[VendorCode]
      ,a.[CostCenter]
      ,a.[Sloc]
      ,a.[IssueQty]
      ,a.[UnitPrice_ST]
      ,a.[Amount_ST]
      ,a.[UnitPrice_AC]
      ,a.[Amount_AC]
      ,a.[DateVoucher]
      ,a.[CountryofOrigin]
      ,a.[Note]
	  ,(select top 1 NameCode from [ScrapSystem].[dbo].[MaterMVT_PUS] b where a.CostCenter=b.Costcenter) as NameCode
	  ,(select top 1 VendorName from [Issue_MaterialInOut].[dbo].[tbl_VendorMaster] c where a.VendorCode=c.VendorCode) as VendorName
      --,[UserCreate]
      --,[UserUpdate]
      --,[DateUpdate]
      --,[CodeInchage_Issue]
      --,[NameInchage_Issue]
      --,[DateInchage_Issue]
      --,[StatusInchage_Issue]
      --,[CodeMGR_Issue]
      --,[NameMGR_Issue]
      --,[DateMGR_Issue]
      --,[StatusMGR_Issue]
      --,[CodeGM_Issue]
      --,[NameGM_Issue]
      --,[DateGM_Issue]
      --,[StatusGM_Issue]
      --,[NameACC_Check]
      --,[CodeACC_Check]
      --,[DateACC_Check]
      --,[StatusACC_Check]
      --,[CodeACC_MGR]
      --,[NameACC_MGR]
      --,[DateACC_MGR]
      --,[StatusACC_MGR]
      --,[CodeACC_GM]
      --,[NameACC_GM]
      --,[DateACC_GM]
      --,[StatusACC_GM]
      --,[CodeInchage_Out]
      --,[NameInchage_Out]
      --,[DateInchage_Out]
      --,[StatusInchage_Out]
      --,[CodeMGR_Out]
      --,[NameMGR_Out]
      --,[DateMGR_Out]
      --,[StatusMGR_Out]
      --,[CodeGM_Out]
      --,[NameGM_Out]
      --,[DateGM_Out]
      --,[StatusGM_Out]
      --,[Status_RQ]
      --,[Status_IVoice]
      --,[Status_Delete]
      --,[RQDeptID]
      --,[Insert_Date]
      --,[CDS_No]
      --,[CDS_Date]
      --,[User_Approved_OutSAP]
      --,[Name_Approved_OutSAP]
      --,[Status_Approved_OutSAP]
      --,[Date_Approved_OutSAP]
      --,[NameSacntion]
      --,[Flag_price_sap]
  FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a where a.RequestNo=@Request_NO
 


END
GO
/****** Object:  StoredProcedure [dbo].[Select_Issue_Material_Report_A]    Script Date: 1/13/2026 12:58:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[Select_Issue_Material_Report_A]  -- Select_Issue_Material_Report_A 'RQB-PUR-1225-35'
	-- Add the parameters for the stored procedure here
	@Request_NO as nvarchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	---SET NOCOUNT ON;


	select [RequestNo]
      ,[Material]
	  ,[Plant] 
	  ,[IssueQty]
	  ,[UnitPrice_ST]
      ,[Amount_ST]
      --,[UnitPrice_AC]
      --,[Amount_AC] 
	  ,Status_RQ
	  from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] where RequestNo=@Request_NO and Status_RQ<>'Approved'
    
END
GO
/****** Object:  StoredProcedure [dbo].[Select_Issue_Material_Report_A2]    Script Date: 1/13/2026 12:58:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[Select_Issue_Material_Report_A2]  -- Select_Issue_Material_Report_A2 'RQB-PUR-1225-35'
	-- Add the parameters for the stored procedure here
	@Request_NO as nvarchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	---SET NOCOUNT ON;


	select [RequestNo]
      ,[Material]
	  ,[Plant] 
	  ,[IssueQty]
	  ,[UnitPrice_ST]
      ,[Amount_ST]
      --,[UnitPrice_AC]
      --,[Amount_AC] 
	  ,Status_RQ
	  from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] where RequestNo=@Request_NO and Status_RQ<>'Approved' and Flag_price_sap=1
    
END
GO
/****** Object:  StoredProcedure [dbo].[Select_Issue_Material_Report_B]    Script Date: 1/13/2026 12:58:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_Issue_Material_Report_B]  -- Select_Issue_Material_Report_B 'RQB-PUR-1225-35'
	-- Add the parameters for the stored procedure here
	@Request_NO as nvarchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	---SET NOCOUNT ON;


	select [RequestNo]
      ,[Material]
	  ,[Plant] 
	  ,[IssueQty]
	  ,[UnitPrice_ST]
      ,[Amount_ST]
      ,[UnitPrice_AC]
      ,[Amount_AC] 
	  ,Status_RQ
	  from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] where RequestNo=@Request_NO and Status_RQ<>'Approved'
    
END
GO
/****** Object:  StoredProcedure [dbo].[Select_Issue_Material_Report_B2]    Script Date: 1/13/2026 12:58:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[Select_Issue_Material_Report_B2]  -- Select_Issue_Material_Report_B2 'RQB-PUR-1225-35'
	-- Add the parameters for the stored procedure here
	@Request_NO as nvarchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	---SET NOCOUNT ON;


	select [RequestNo]
      ,[Material]
	  ,[Plant] 
	  ,[IssueQty]
	  ,[UnitPrice_ST]
      ,[Amount_ST]
      ,[UnitPrice_AC]
      ,[Amount_AC] 
	  ,Status_RQ
	  from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] where RequestNo=@Request_NO and Status_RQ<>'Approved' and Flag_price_sap=1
    
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Issue_Material_Search]    Script Date: 1/13/2026 12:58:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Issue_Material_Search]   --- [SP_Issue_Material_Search] 'RQA-PUR-0722-1'
	@RQ nvarchar(500)
AS
BEGIN
	select AB.* 
	from 
	(
		(
		select  convert(varchar(500),ROW_NUMBER() OVER(ORDER BY a.ID ASC)) AS No,a.RequestNo, a.Material , a.IssueQty, a.UnitPrice_ST,  CONVERT(varchar, CAST(Amount_ST AS money), 1)  as Amount_ST , a.Plant , b.NamePlant, c.TypeName ,a.VendorCode,  e.VendorName,
		   a.MvType, a.MvName,d.[AccountCost],d.[AccountName] , a.DateVoucher ,a.Note ,  a.CostCenter,f.DeptName  , a.Sloc,  a.Status_RQ, a.Flag_price_sap,a.ID
		from  [dbo].[tbl_RQ_MaterialIssue] a  inner join  [dbo].[tbl_Plant] b on a.Plant = b.Plant
		inner join [dbo].[tbl_TypeMater] c on a.TypeID = c.TypeID 
	   inner join  [dbo].[tbl_ACC_Master] d on d.[TypeID] =  a.TypeID
		left join tbl_VendorMaster e on a.VendorCode =  e.VendorCode 
		inner join tbl_DeptMaster f on a.RQDeptID = f.DeptCode
		where a.Status_Delete = 'N' and a.RequestNo = @RQ
		) 
	union  all
		(
		select  'TOTAL' ,'','',  sum(a.IssueQty) as TotalQty, null,  CONVERT(varchar, CAST(sum(Amount_ST) AS money), 1)  Total_Price, '' , '', '' ,'',  '',
		   '','','','' , '' ,'' ,  '',''  , '',  '', '' , ''
			from  [dbo].[tbl_RQ_MaterialIssue] a  inner join  [dbo].[tbl_Plant] b on a.Plant = b.Plant
		inner join [dbo].[tbl_TypeMater] c on a.TypeID = c.TypeID 
	   inner join  [dbo].[tbl_ACC_Master] d on d.[TypeID] =  a.TypeID
		left join tbl_VendorMaster e on a.VendorCode =  e.VendorCode 
		inner join tbl_DeptMaster f on a.RQDeptID = f.DeptCode
		where a.Status_Delete = 'N' and a.RequestNo = @RQ
		) 
	
	) as AB



	
    
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Issue_Material_Search_B]    Script Date: 1/13/2026 12:58:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Issue_Material_Search_B]   --- [SP_Issue_Material_Search_B] 'RQB-PUR-0722-1'
	@RQ nvarchar(500) =  null
AS 
BEGIN
	select AB.* 
	from 
	(
		(
		select convert(varchar(500),ROW_NUMBER() OVER(ORDER BY a.ID ASC)) AS No, a.RequestNo, a.Material , a.IssueQty, a.UnitPrice_ST, 
        CONVERT(varchar, CAST(Amount_ST AS money), 1)  as Amount_ST ,
		 UnitPrice_AC,
        CONVERT(varchar, CAST(Amount_AC AS money), 1)  as Amount_AC,
		 a.Plant , b.NamePlant, c.TypeName ,a.VendorCode,  e.VendorName,
		   a.MvType, a.MvName,d.[AccountCost],d.[AccountName] , a.DateVoucher ,a.Note ,  a.CostCenter,f.DeptName  , a.Sloc,  a.Status_RQ,a.Flag_price_sap,a.ID
		from  [dbo].[tbl_RQ_MaterialIssueB] a  inner join  [dbo].[tbl_Plant] b on a.Plant = b.Plant
		inner join [dbo].[tbl_TypeMater] c on a.TypeID = c.TypeID 
	   inner join  [dbo].[tbl_ACC_Master] d on d.[TypeID] =  a.TypeID
		left join tbl_VendorMaster e on a.VendorCode =  e.VendorCode 
		inner join tbl_DeptMaster f on a.RQDeptID = f.DeptCode
		where a.Status_Delete = 'N' and a.RequestNo = @RQ 
		) 
	union  all
		(
	    select 'TOTAL', '','',  sum(a.IssueQty) as TotalQty, null, CONVERT(varchar, CAST(sum(Amount_ST) AS money), 1)  as Total_Price, null, CONVERT(varchar, CAST(sum(Amount_AC ) AS money), 1), '' , '', '' ,'',  '',
	    '','','','' , '' ,'' ,  '',''  , '',  '', '',''
		from  [dbo].[tbl_RQ_MaterialIssueB] a  inner join  [dbo].[tbl_Plant] b on a.Plant = b.Plant
		inner join [dbo].[tbl_TypeMater] c on a.TypeID = c.TypeID 
	   inner join  [dbo].[tbl_ACC_Master] d on d.[TypeID] =  a.TypeID
		left join tbl_VendorMaster e on a.VendorCode =  e.VendorCode 
		inner join tbl_DeptMaster f on a.RQDeptID = f.DeptCode
		where a.Status_Delete = 'N' and a.RequestNo = @RQ
		) 
	
	) as AB


	--where AB.RequestNo != ''
	
    
END
GO
/****** Object:  StoredProcedure [dbo].[Update_Issue_Material_Report_A]    Script Date: 1/13/2026 12:58:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[Update_Issue_Material_Report_A]  -- Update_Issue_Material_Report_A 'RQB-PUR-1225-35','K1KY03A00030','V501','5','10000','50000','2007600_ACC'
	@Request_NO as nvarchar(100), 
	@material as nvarchar(50), 
	@plant as nvarchar(50), 
	@qty_issue as float, 
	@UnitPrice_ST as float, 
	@Amount_ST as float,
	@UserID as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

   if exists(select top 1 * from [Issue_MaterialInOut].[dbo].[tbl_Material_PriceSAP] where [Plant]=@plant and [Component]=@material)
   begin

		--check den gia
		if exists(select top 1 * from [Issue_MaterialInOut].[dbo].[tbl_Material_PriceSAP] where [Plant]=@plant and [Component]=@material and Price_STD=@UnitPrice_ST)
		begin
			--gia bang nhau => khong update
			select 1
		end
		else
		begin
			
				--gia thay doi lay theo gia moi tren sap
				--insert history bang gia thay doi
				declare @giamoi as float
				declare @amoutmoi as float

				set @giamoi = (select top 1 Price_STD from [Issue_MaterialInOut].[dbo].[tbl_Material_PriceSAP] where [Plant]=@plant and [Component]=@material)
				set @amoutmoi = @giamoi*@qty_issue
				--select @giacu=UnitPrice_ST,@amoutcu=Amount_ST from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] where [Plant]=@plant and Material=@material and IssueQty=@qty_issue and RequestNo=@Request_NO

				print @giamoi
				print @amoutmoi

				--luu history gia thay doi
				insert into [Issue_MaterialInOut].[dbo].[tbl_History_change_price_SAP](
				[Request_NO]
		      ,[Plant]
		      ,[Material]
		      ,[QtyIssue]
		      ,[giacu]
		      ,[amountcu]
		      ,[giamoi]
		      ,[amountmoi]
		      ,[UserID]
				) values(
				@Request_NO,@plant,@material,@qty_issue,@UnitPrice_ST,@Amount_ST,@giamoi,@amoutmoi,@UserID
				)
				---Khong update gia moi  => chi update trang thai co
				--set UnitPrice_ST=@giamoi,Amount_ST=@amoutmoi
				update [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] set Flag_price_sap=1 where [Plant]=@plant and Material=@material and IssueQty=@qty_issue and RequestNo=@Request_NO

				select 2
		end
   end
   else
   begin

		--khong ton tai mater
		select 9
   end


END
GO
/****** Object:  StoredProcedure [dbo].[Update_Issue_Material_Report_A2]    Script Date: 1/13/2026 12:58:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[Update_Issue_Material_Report_A2]  -- Update_Issue_Material_Report_A2 'RQB-PUR-1225-35','K1KY03A00030','V501','5','10000','50000','2007600_ACC'
	@Request_NO as nvarchar(100), 
	@material as nvarchar(50), 
	@plant as nvarchar(50), 
	@qty_issue as float, 
	@UnitPrice_ST as float, 
	@Amount_ST as float,
	@UserID as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

   --gia thay doi lay theo gia moi tren sap
	--insert history bang gia thay doi
	declare @giamoi as float
	declare @amoutmoi as float

	set @giamoi = (select top 1 Price_STD from [Issue_MaterialInOut].[dbo].[tbl_Material_PriceSAP] where [Plant]=@plant and [Component]=@material)
	set @amoutmoi = @giamoi*@qty_issue
	--select @giacu=UnitPrice_ST,@amoutcu=Amount_ST from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] where [Plant]=@plant and Material=@material and IssueQty=@qty_issue and RequestNo=@Request_NO

	print @giamoi
	print @amoutmoi
	---Khong update gia moi  => chi update trang thai co
	--set UnitPrice_ST=@giamoi,Amount_ST=@amoutmoi   --Flag_price_sap=2  (da duoc update gia)
	update [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] set Flag_price_sap=2,UnitPrice_ST=@giamoi,Amount_ST=@amoutmoi where [Plant]=@plant and Material=@material and IssueQty=@qty_issue and RequestNo=@Request_NO

	select 2


END
GO
/****** Object:  StoredProcedure [dbo].[Update_Issue_Material_Report_B]    Script Date: 1/13/2026 12:58:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Update_Issue_Material_Report_B]  -- Update_Issue_Material_Report_B 'RQB-PUR-1225-35','K1KY03A00030','V501','5','10000','50000','2007600_ACC'
	@Request_NO as nvarchar(100), 
	@material as nvarchar(50), 
	@plant as nvarchar(50), 
	@qty_issue as float, 
	@UnitPrice_ST as float, 
	@Amount_ST as float,
	@UserID as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

   if exists(select top 1 * from [Issue_MaterialInOut].[dbo].[tbl_Material_PriceSAP] where [Plant]=@plant and [Component]=@material)
   begin

		--check den gia
		if exists(select top 1 * from [Issue_MaterialInOut].[dbo].[tbl_Material_PriceSAP] where [Plant]=@plant and [Component]=@material and Price_STD=@UnitPrice_ST)
		begin
			--gia bang nhau => khong update
			select 1
		end
		else
		begin
			
				--gia thay doi lay theo gia moi tren sap
				--insert history bang gia thay doi
				declare @giamoi as float
				declare @amoutmoi as float

				set @giamoi = (select top 1 Price_STD from [Issue_MaterialInOut].[dbo].[tbl_Material_PriceSAP] where [Plant]=@plant and [Component]=@material)
				set @amoutmoi = @giamoi*@qty_issue
				--select @giacu=UnitPrice_ST,@amoutcu=Amount_ST from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] where [Plant]=@plant and Material=@material and IssueQty=@qty_issue and RequestNo=@Request_NO

				print @giamoi
				print @amoutmoi

				--luu history 
				insert into [Issue_MaterialInOut].[dbo].[tbl_History_change_price_SAP](
				[Request_NO]
		      ,[Plant]
		      ,[Material]
		      ,[QtyIssue]
		      ,[giacu]
		      ,[amountcu]
		      ,[giamoi]
		      ,[amountmoi]
		      ,[UserID]
				) values(
				@Request_NO,@plant,@material,@qty_issue,@UnitPrice_ST,@Amount_ST,@giamoi,@amoutmoi,@UserID
				)
				---Khong update gia moi  => chi update trang thai co
				--set UnitPrice_ST=@giamoi,Amount_ST=@amoutmoi
				update [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] set Flag_price_sap=1 where [Plant]=@plant and Material=@material and IssueQty=@qty_issue and RequestNo=@Request_NO

				select 2
		end
   end
   else
   begin

		--khong ton tai mater
		select 9
   end


END
GO
/****** Object:  StoredProcedure [dbo].[Update_Issue_Material_Report_B2]    Script Date: 1/13/2026 12:58:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[Update_Issue_Material_Report_B2]  -- Update_Issue_Material_Report_B2 'RQB-PUR-1225-35','K1KY03A00030','V501','5','10000','50000','2007600_ACC'
	@Request_NO as nvarchar(100), 
	@material as nvarchar(50), 
	@plant as nvarchar(50), 
	@qty_issue as float, 
	@UnitPrice_ST as float, 
	@Amount_ST as float,
	@UserID as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

   --gia thay doi lay theo gia moi tren sap
	--insert history bang gia thay doi
	declare @giamoi as float
	declare @amoutmoi as float

	set @giamoi = (select top 1 Price_STD from [Issue_MaterialInOut].[dbo].[tbl_Material_PriceSAP] where [Plant]=@plant and [Component]=@material)
	set @amoutmoi = @giamoi*@qty_issue
	--select @giacu=UnitPrice_ST,@amoutcu=Amount_ST from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] where [Plant]=@plant and Material=@material and IssueQty=@qty_issue and RequestNo=@Request_NO

	print @giamoi
	print @amoutmoi
	---Khong update gia moi  => chi update trang thai co
	--set UnitPrice_ST=@giamoi,Amount_ST=@amoutmoi   --Flag_price_sap=2  (da duoc update gia)
	update [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] set Flag_price_sap=2,UnitPrice_ST=@giamoi,Amount_ST=@amoutmoi where [Plant]=@plant and Material=@material and IssueQty=@qty_issue and RequestNo=@Request_NO

	select 2


END
GO
