USE [Issue_MaterialInOut]
GO
/****** Object:  StoredProcedure [dbo].[Export_ScrapList_Report_B]    Script Date: 1/11/2026 11:48:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Export_ScrapList_Report_B]  -- Export_ScrapList_Report_B 'RQB-PUR-0126-3'
	@Request_NO as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

	select * from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] where RequestNo=@Request_NO
 


END
GO
/****** Object:  StoredProcedure [dbo].[SP_Issue_Material_Search]    Script Date: 1/11/2026 11:48:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Issue_Material_Search]   --- [SP_Issue_Material_Search] 'RQA-PUR-0722-1'
	@RQ nvarchar(500)
AS
BEGIN
	select AB.* 
	from 
	(
		(
		select  convert(varchar(500),ROW_NUMBER() OVER(ORDER BY a.ID ASC)) AS No,a.RequestNo, a.Material , a.IssueQty, a.UnitPrice_ST,  CONVERT(varchar, CAST(Amount_ST AS money), 1)  as Amount_ST , a.Plant , b.NamePlant, c.TypeName ,a.VendorCode,  e.VendorName,
		   a.MvType, a.MvName,d.[AccountCost],d.[AccountName] , a.DateVoucher ,a.Note ,  a.CostCenter,f.DeptName  , a.Sloc,  a.Status_RQ, a.Flag_price_sap,a.ID
		from  [dbo].[tbl_RQ_MaterialIssue] a  inner join  [dbo].[tbl_Plant] b on a.Plant = b.Plant
		inner join [dbo].[tbl_TypeMater] c on a.TypeID = c.TypeID 
	   inner join  [dbo].[tbl_ACC_Master] d on d.[TypeID] =  a.TypeID
		left join tbl_VendorMaster e on a.VendorCode =  e.VendorCode 
		inner join tbl_DeptMaster f on a.RQDeptID = f.DeptCode
		where a.Status_Delete = 'N' and a.RequestNo = @RQ
		) 
	union  all
		(
		select  'TOTAL' ,'','',  sum(a.IssueQty) as TotalQty, null,  CONVERT(varchar, CAST(sum(Amount_ST) AS money), 1)  Total_Price, '' , '', '' ,'',  '',
		   '','','','' , '' ,'' ,  '',''  , '',  '', '' , ''
			from  [dbo].[tbl_RQ_MaterialIssue] a  inner join  [dbo].[tbl_Plant] b on a.Plant = b.Plant
		inner join [dbo].[tbl_TypeMater] c on a.TypeID = c.TypeID 
	   inner join  [dbo].[tbl_ACC_Master] d on d.[TypeID] =  a.TypeID
		left join tbl_VendorMaster e on a.VendorCode =  e.VendorCode 
		inner join tbl_DeptMaster f on a.RQDeptID = f.DeptCode
		where a.Status_Delete = 'N' and a.RequestNo = @RQ
		) 
	
	) as AB



	
    
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Issue_Material_Search_B]    Script Date: 1/11/2026 11:48:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Issue_Material_Search_B]   --- [SP_Issue_Material_Search_B] 'RQB-PUR-0722-1'
	@RQ nvarchar(500) =  null
AS 
BEGIN
	select AB.* 
	from 
	(
		(
		select convert(varchar(500),ROW_NUMBER() OVER(ORDER BY a.ID ASC)) AS No, a.RequestNo, a.Material , a.IssueQty, a.UnitPrice_ST, 
        CONVERT(varchar, CAST(Amount_ST AS money), 1)  as Amount_ST ,
		 UnitPrice_AC,
        CONVERT(varchar, CAST(Amount_AC AS money), 1)  as Amount_AC,
		 a.Plant , b.NamePlant, c.TypeName ,a.VendorCode,  e.VendorName,
		   a.MvType, a.MvName,d.[AccountCost],d.[AccountName] , a.DateVoucher ,a.Note ,  a.CostCenter,f.DeptName  , a.Sloc,  a.Status_RQ,a.Flag_price_sap,a.ID
		from  [dbo].[tbl_RQ_MaterialIssueB] a  inner join  [dbo].[tbl_Plant] b on a.Plant = b.Plant
		inner join [dbo].[tbl_TypeMater] c on a.TypeID = c.TypeID 
	   inner join  [dbo].[tbl_ACC_Master] d on d.[TypeID] =  a.TypeID
		left join tbl_VendorMaster e on a.VendorCode =  e.VendorCode 
		inner join tbl_DeptMaster f on a.RQDeptID = f.DeptCode
		where a.Status_Delete = 'N' and a.RequestNo = @RQ 
		) 
	union  all
		(
	    select 'TOTAL', '','',  sum(a.IssueQty) as TotalQty, null, CONVERT(varchar, CAST(sum(Amount_ST) AS money), 1)  as Total_Price, null, CONVERT(varchar, CAST(sum(Amount_AC ) AS money), 1), '' , '', '' ,'',  '',
	    '','','','' , '' ,'' ,  '',''  , '',  '', '',''
		from  [dbo].[tbl_RQ_MaterialIssueB] a  inner join  [dbo].[tbl_Plant] b on a.Plant = b.Plant
		inner join [dbo].[tbl_TypeMater] c on a.TypeID = c.TypeID 
	   inner join  [dbo].[tbl_ACC_Master] d on d.[TypeID] =  a.TypeID
		left join tbl_VendorMaster e on a.VendorCode =  e.VendorCode 
		inner join tbl_DeptMaster f on a.RQDeptID = f.DeptCode
		where a.Status_Delete = 'N' and a.RequestNo = @RQ
		) 
	
	) as AB


	--where AB.RequestNo != ''
	
    
END
GO
