USE [Issue_MaterialInOut]
GO
/****** Object:  Table [dbo].[tbl_RQ_MaterialIssue]    Script Date: 1/14/2026 5:20:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_RQ_MaterialIssue](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RequestNo] [nvarchar](500) NULL,
	[Material] [nvarchar](500) NULL,
	[ItemDescription] [nvarchar](500) NULL,
	[TypeID] [nvarchar](500) NULL,
	[MvType] [nvarchar](500) NULL,
	[MvName] [nvarchar](500) NULL,
	[Plant] [nvarchar](500) NULL,
	[VendorCode] [nvarchar](500) NULL,
	[CostCenter] [nvarchar](500) NULL,
	[Sloc] [nvarchar](200) NULL,
	[IssueQty] [float] NULL,
	[UnitPrice_ST] [float] NULL,
	[Amount_ST] [float] NULL,
	[DateVoucher] [nvarchar](500) NULL,
	[CountryofOrigin] [nvarchar](500) NULL,
	[Note] [nvarchar](max) NULL,
	[UserCreate] [nvarchar](500) NULL,
	[UserUpdate] [nvarchar](500) NULL,
	[DateUpdate] [datetime] NULL,
	[CodeInchage_Issue] [nvarchar](500) NULL,
	[NameInchage_Issue] [nvarchar](500) NULL,
	[DateInchage_Issue] [datetime] NULL,
	[StatusInchage_Issue] [nvarchar](500) NULL,
	[CodeMGR_Issue] [nvarchar](500) NULL,
	[NameMGR_Issue] [nvarchar](500) NULL,
	[DateMGR_Issue] [datetime] NULL,
	[StatusMGR_Issue] [nvarchar](500) NULL,
	[CodeGM_Issue] [nvarchar](500) NULL,
	[NameGM_Issue] [nvarchar](500) NULL,
	[DateGM_Issue] [datetime] NULL,
	[StatusGM_Issue] [nvarchar](500) NULL,
	[NameACC_Check] [nvarchar](500) NULL,
	[CodeACC_Check] [nvarchar](500) NULL,
	[DateACC_Check] [datetime] NULL,
	[StatusACC_Check] [nvarchar](500) NULL,
	[CodeACC_MGR] [nvarchar](500) NULL,
	[NameACC_MGR] [nvarchar](500) NULL,
	[DateACC_MGR] [datetime] NULL,
	[StatusACC_MGR] [nvarchar](500) NULL,
	[CodeACC_GM] [nvarchar](500) NULL,
	[NameACC_GM] [nvarchar](500) NULL,
	[DateACC_GM] [datetime] NULL,
	[StatusACC_GM] [nvarchar](500) NULL,
	[CodeInchage_Out] [nvarchar](500) NULL,
	[NameInchage_Out] [nvarchar](500) NULL,
	[DateInchage_Out] [datetime] NULL,
	[StatusInchage_Out] [nvarchar](500) NULL,
	[CodeMGR_Out] [nvarchar](500) NULL,
	[NameMGR_Out] [nvarchar](500) NULL,
	[DateMGR_Out] [datetime] NULL,
	[StatusMGR_Out] [nvarchar](500) NULL,
	[CodeGM_Out] [nvarchar](500) NULL,
	[NameGM_Out] [nvarchar](500) NULL,
	[DateGM_Out] [datetime] NULL,
	[StatusGM_Out] [nvarchar](500) NULL,
	[Status_RQ] [nvarchar](500) NULL,
	[Status_IVoice] [nvarchar](50) NULL,
	[Status_Delete] [nvarchar](50) NULL,
	[RQDeptID] [nvarchar](300) NULL,
	[Insert_Date] [datetime] NULL,
	[CDS_No] [nvarchar](500) NULL,
	[CDS_Date] [nvarchar](200) NULL,
	[User_Approved_OutSAP] [nvarchar](500) NULL,
	[Name_Approved_OutSAP] [varchar](500) NULL,
	[Status_Approved_OutSAP] [nvarchar](500) NULL,
	[Date_Approved_OutSAP] [datetime] NULL,
	[SanctionName] [nvarchar](50) NULL,
	[Flag_price_sap] [tinyint] NULL,
	[Type_Rosh_Halb] [nvarchar](50) NULL,
	[Reason] [nvarchar](300) NULL,
	[NameCode] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_RQ_MaterialIssue] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_RQ_MaterialIssueB]    Script Date: 1/14/2026 5:20:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_RQ_MaterialIssueB](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RequestNo] [nvarchar](500) NULL,
	[Material] [nvarchar](500) NULL,
	[ItemDescription] [nvarchar](500) NULL,
	[TypeID] [nvarchar](500) NULL,
	[MvType] [nvarchar](500) NULL,
	[MvName] [nvarchar](500) NULL,
	[Plant] [nvarchar](500) NULL,
	[VendorCode] [nvarchar](500) NULL,
	[CostCenter] [nvarchar](500) NULL,
	[Sloc] [nvarchar](200) NULL,
	[IssueQty] [float] NULL,
	[UnitPrice_ST] [float] NULL,
	[Amount_ST] [float] NULL,
	[UnitPrice_AC] [float] NULL,
	[Amount_AC] [float] NULL,
	[DateVoucher] [nvarchar](500) NULL,
	[CountryofOrigin] [nvarchar](500) NULL,
	[Note] [nvarchar](max) NULL,
	[UserCreate] [nvarchar](500) NULL,
	[UserUpdate] [nvarchar](500) NULL,
	[DateUpdate] [datetime] NULL,
	[CodeInchage_Issue] [nvarchar](500) NULL,
	[NameInchage_Issue] [nvarchar](500) NULL,
	[DateInchage_Issue] [datetime] NULL,
	[StatusInchage_Issue] [nvarchar](500) NULL,
	[CodeMGR_Issue] [nvarchar](500) NULL,
	[NameMGR_Issue] [nvarchar](500) NULL,
	[DateMGR_Issue] [datetime] NULL,
	[StatusMGR_Issue] [nvarchar](500) NULL,
	[CodeGM_Issue] [nvarchar](500) NULL,
	[NameGM_Issue] [nvarchar](500) NULL,
	[DateGM_Issue] [datetime] NULL,
	[StatusGM_Issue] [nvarchar](500) NULL,
	[NameACC_Check] [nvarchar](500) NULL,
	[CodeACC_Check] [nvarchar](500) NULL,
	[DateACC_Check] [datetime] NULL,
	[StatusACC_Check] [nvarchar](500) NULL,
	[CodeACC_MGR] [nvarchar](500) NULL,
	[NameACC_MGR] [nvarchar](500) NULL,
	[DateACC_MGR] [datetime] NULL,
	[StatusACC_MGR] [nvarchar](500) NULL,
	[CodeACC_GM] [nvarchar](500) NULL,
	[NameACC_GM] [nvarchar](500) NULL,
	[DateACC_GM] [datetime] NULL,
	[StatusACC_GM] [nvarchar](500) NULL,
	[CodeInchage_Out] [nvarchar](500) NULL,
	[NameInchage_Out] [nvarchar](500) NULL,
	[DateInchage_Out] [datetime] NULL,
	[StatusInchage_Out] [nvarchar](500) NULL,
	[CodeMGR_Out] [nvarchar](500) NULL,
	[NameMGR_Out] [nvarchar](500) NULL,
	[DateMGR_Out] [datetime] NULL,
	[StatusMGR_Out] [nvarchar](500) NULL,
	[CodeGM_Out] [nvarchar](500) NULL,
	[NameGM_Out] [nvarchar](500) NULL,
	[DateGM_Out] [datetime] NULL,
	[StatusGM_Out] [nvarchar](500) NULL,
	[Status_RQ] [nvarchar](500) NULL,
	[Status_IVoice] [nvarchar](50) NULL,
	[Status_Delete] [nvarchar](50) NULL,
	[RQDeptID] [nvarchar](500) NULL,
	[Insert_Date] [datetime] NULL,
	[CDS_No] [varchar](500) NULL,
	[CDS_Date] [nvarchar](200) NULL,
	[User_Approved_OutSAP] [nvarchar](500) NULL,
	[Name_Approved_OutSAP] [varchar](500) NULL,
	[Status_Approved_OutSAP] [nvarchar](50) NULL,
	[Date_Approved_OutSAP] [datetime] NULL,
	[SanctionName] [nvarchar](50) NULL,
	[Flag_price_sap] [tinyint] NULL,
	[Type_Rosh_Halb] [nvarchar](50) NULL,
	[Reason] [nvarchar](300) NULL,
	[NameCode] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_RQ_MaterialIssue] ADD  CONSTRAINT [DF_tbl_RQ_MaterialIssue_UnitPrice_ST]  DEFAULT ((0)) FOR [UnitPrice_ST]
GO
ALTER TABLE [dbo].[tbl_RQ_MaterialIssue] ADD  CONSTRAINT [DF_tbl_Material_Issue_Status_RQ]  DEFAULT (N'Pending') FOR [Status_RQ]
GO
ALTER TABLE [dbo].[tbl_RQ_MaterialIssue] ADD  CONSTRAINT [DF_tbl_RQ_MaterialIssue_Status_IVoice]  DEFAULT (N'N') FOR [Status_IVoice]
GO
ALTER TABLE [dbo].[tbl_RQ_MaterialIssue] ADD  CONSTRAINT [DF_tbl_RQ_MaterialIssue_Status_Delete]  DEFAULT (N'N') FOR [Status_Delete]
GO
ALTER TABLE [dbo].[tbl_RQ_MaterialIssue] ADD  CONSTRAINT [DF_tbl_RQ_MaterialIssue_Insert_Date]  DEFAULT (getdate()) FOR [Insert_Date]
GO
ALTER TABLE [dbo].[tbl_RQ_MaterialIssue] ADD  CONSTRAINT [DF_tbl_RQ_MaterialIssue_Status_Approved_OutSAP]  DEFAULT (N'Pending') FOR [Status_Approved_OutSAP]
GO
ALTER TABLE [dbo].[tbl_RQ_MaterialIssue] ADD  CONSTRAINT [DF_tbl_RQ_MaterialIssue_Flag_price_sap]  DEFAULT ((0)) FOR [Flag_price_sap]
GO
ALTER TABLE [dbo].[tbl_RQ_MaterialIssueB] ADD  CONSTRAINT [DF_tbl_RQ_ClaimScap_Material_Status_RQ]  DEFAULT (N'Pending') FOR [Status_RQ]
GO
ALTER TABLE [dbo].[tbl_RQ_MaterialIssueB] ADD  CONSTRAINT [DF_tbl_RQ_MaterialIssueB_Status_IVoice]  DEFAULT (N'N') FOR [Status_IVoice]
GO
ALTER TABLE [dbo].[tbl_RQ_MaterialIssueB] ADD  CONSTRAINT [DF_tbl_RQ_ClaimScap_Material_Status_Delete]  DEFAULT (N'N') FOR [Status_Delete]
GO
ALTER TABLE [dbo].[tbl_RQ_MaterialIssueB] ADD  CONSTRAINT [DF_tbl_RQ_MaterialIssueB_Insert_Date]  DEFAULT (getdate()) FOR [Insert_Date]
GO
ALTER TABLE [dbo].[tbl_RQ_MaterialIssueB] ADD  CONSTRAINT [DF_tbl_RQ_MaterialIssueB_Status_Approved_OutSAP]  DEFAULT (N'Pending') FOR [Status_Approved_OutSAP]
GO
ALTER TABLE [dbo].[tbl_RQ_MaterialIssueB] ADD  CONSTRAINT [DF_tbl_RQ_MaterialIssueB_Flag_price_sap]  DEFAULT ((0)) FOR [Flag_price_sap]
GO
/****** Object:  StoredProcedure [dbo].[Export_ScrapList_Report_A]    Script Date: 1/14/2026 5:20:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Export_ScrapList_Report_A]  -- Export_ScrapList_Report_A 'RQA-IT-0126-20'
	@Request_NO as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

	--select * from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] where RequestNo=@Request_NO
	SELECT TOP (1000) a.[ID]
      ,a.[RequestNo]
      ,a.[Material]
      ,a.[ItemDescription]
      --,a.[TypeID]
	  ,(select top 1 TypeName from [Issue_MaterialInOut].[dbo].[tbl_TypeMater] c where a.TypeID=c.TypeID) as TypeID
      ,a.[MvType]
      ,a.[MvName]
      ,a.[Plant]
      ,a.[VendorCode]
      ,a.[CostCenter]
      ,a.[Sloc]
      ,a.[IssueQty]
      ,a.[UnitPrice_ST]
      ,a.[Amount_ST]
      --,a.[UnitPrice_AC]
      --,a.[Amount_AC]
      ,a.[DateVoucher]
      ,a.[CountryofOrigin]
      ,a.[Note]
	  --,(select top 1 NameCode from [ScrapSystem].[dbo].[MaterMVT_PUS] b where a.CostCenter=b.Costcenter) as NameCode
	  ,a.NameCode
	  ,(select top 1 VendorName from [Issue_MaterialInOut].[dbo].[tbl_VendorMaster] c where a.VendorCode=c.VendorCode) as VendorName
      --,[UserCreate]
      --,[UserUpdate]
      --,[DateUpdate]
      --,[CodeInchage_Issue]
      --,[NameInchage_Issue]
      --,[DateInchage_Issue]
      --,[StatusInchage_Issue]
      --,[CodeMGR_Issue]
      --,[NameMGR_Issue]
      --,[DateMGR_Issue]
      --,[StatusMGR_Issue]
      --,[CodeGM_Issue]
      --,[NameGM_Issue]
      --,[DateGM_Issue]
      --,[StatusGM_Issue]
      --,[NameACC_Check]
      --,[CodeACC_Check]
      --,[DateACC_Check]
      --,[StatusACC_Check]
      --,[CodeACC_MGR]
      --,[NameACC_MGR]
      --,[DateACC_MGR]
      --,[StatusACC_MGR]
      --,[CodeACC_GM]
      --,[NameACC_GM]
      --,[DateACC_GM]
      --,[StatusACC_GM]
      --,[CodeInchage_Out]
      --,[NameInchage_Out]
      --,[DateInchage_Out]
      --,[StatusInchage_Out]
      --,[CodeMGR_Out]
      --,[NameMGR_Out]
      --,[DateMGR_Out]
      --,[StatusMGR_Out]
      --,[CodeGM_Out]
      --,[NameGM_Out]
      --,[DateGM_Out]
      --,[StatusGM_Out]
      --,[Status_RQ]
      --,[Status_IVoice]
      --,[Status_Delete]
      ,[RQDeptID]
      --,[Insert_Date]
      --,[CDS_No]
      --,[CDS_Date]
      --,[User_Approved_OutSAP]
      --,[Name_Approved_OutSAP]
      --,[Status_Approved_OutSAP]
      --,[Date_Approved_OutSAP]
      --,[NameSacntion]
      --,[Flag_price_sap]
	  ,[Reason]
	  ,Type_Rosh_Halb
  FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a where a.RequestNo=@Request_NO
 


END
GO
/****** Object:  StoredProcedure [dbo].[Export_ScrapList_Report_B]    Script Date: 1/14/2026 5:20:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Export_ScrapList_Report_B]  -- Export_ScrapList_Report_B 'RQB-PUR-0126-3'
	@Request_NO as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

	--select * from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] where RequestNo=@Request_NO
	SELECT TOP (1000) a.[ID]
      ,a.[RequestNo]
      ,a.[Material]
      ,a.[ItemDescription]
      --,a.[TypeID]
	  ,(select top 1 TypeName from [Issue_MaterialInOut].[dbo].[tbl_TypeMater] c where a.TypeID=c.TypeID) as TypeID
      ,a.[MvType]
      ,a.[MvName]
      ,a.[Plant]
      ,a.[VendorCode]
      ,a.[CostCenter]
      ,a.[Sloc]
      ,a.[IssueQty]
      ,a.[UnitPrice_ST]
      ,a.[Amount_ST]
      ,a.[UnitPrice_AC]
      ,a.[Amount_AC]
      ,a.[DateVoucher]
      ,a.[CountryofOrigin]
      ,a.[Note]
	  --,(select top 1 NameCode from [ScrapSystem].[dbo].[MaterMVT_PUS] b where a.CostCenter=b.Costcenter) as NameCode
	  ,a.NameCode
	  ,(select top 1 VendorName from [Issue_MaterialInOut].[dbo].[tbl_VendorMaster] c where a.VendorCode=c.VendorCode) as VendorName
      --,[UserCreate]
      --,[UserUpdate]
      --,[DateUpdate]
      --,[CodeInchage_Issue]
      --,[NameInchage_Issue]
      --,[DateInchage_Issue]
      --,[StatusInchage_Issue]
      --,[CodeMGR_Issue]
      --,[NameMGR_Issue]
      --,[DateMGR_Issue]
      --,[StatusMGR_Issue]
      --,[CodeGM_Issue]
      --,[NameGM_Issue]
      --,[DateGM_Issue]
      --,[StatusGM_Issue]
      --,[NameACC_Check]
      --,[CodeACC_Check]
      --,[DateACC_Check]
      --,[StatusACC_Check]
      --,[CodeACC_MGR]
      --,[NameACC_MGR]
      --,[DateACC_MGR]
      --,[StatusACC_MGR]
      --,[CodeACC_GM]
      --,[NameACC_GM]
      --,[DateACC_GM]
      --,[StatusACC_GM]
      --,[CodeInchage_Out]
      --,[NameInchage_Out]
      --,[DateInchage_Out]
      --,[StatusInchage_Out]
      --,[CodeMGR_Out]
      --,[NameMGR_Out]
      --,[DateMGR_Out]
      --,[StatusMGR_Out]
      --,[CodeGM_Out]
      --,[NameGM_Out]
      --,[DateGM_Out]
      --,[StatusGM_Out]
      --,[Status_RQ]
      --,[Status_IVoice]
      --,[Status_Delete]
      ,[RQDeptID]
      --,[Insert_Date]
      --,[CDS_No]
      --,[CDS_Date]
      --,[User_Approved_OutSAP]
      --,[Name_Approved_OutSAP]
      --,[Status_Approved_OutSAP]
      --,[Date_Approved_OutSAP]
      --,[NameSacntion]
      --,[Flag_price_sap]
	  ,[Reason]
	  ,Type_Rosh_Halb
  FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a where a.RequestNo=@Request_NO
 


END
GO
