USE [Issue_MaterialInOut]
GO
/****** Object:  Table [dbo].[tbl_RQ_MaterialIssue]    Script Date: 3/8/2026 11:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_RQ_MaterialIssue](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RequestNo] [nvarchar](500) NULL,
	[Material] [nvarchar](500) NULL,
	[ItemDescription] [nvarchar](500) NULL,
	[TypeID] [nvarchar](500) NULL,
	[MvType] [nvarchar](500) NULL,
	[MvName] [nvarchar](500) NULL,
	[Plant] [nvarchar](500) NULL,
	[VendorCode] [nvarchar](500) NULL,
	[CostCenter] [nvarchar](500) NULL,
	[Sloc] [nvarchar](200) NULL,
	[IssueQty] [float] NULL,
	[UnitPrice_ST] [float] NULL,
	[Amount_ST] [float] NULL,
	[DateVoucher] [nvarchar](500) NULL,
	[CountryofOrigin] [nvarchar](500) NULL,
	[Note] [nvarchar](max) NULL,
	[UserCreate] [nvarchar](500) NULL,
	[UserUpdate] [nvarchar](500) NULL,
	[DateUpdate] [datetime] NULL,
	[CodeInchage_Issue] [nvarchar](500) NULL,
	[NameInchage_Issue] [nvarchar](500) NULL,
	[DateInchage_Issue] [datetime] NULL,
	[StatusInchage_Issue] [nvarchar](500) NULL,
	[CodeMGR_Issue] [nvarchar](500) NULL,
	[NameMGR_Issue] [nvarchar](500) NULL,
	[DateMGR_Issue] [datetime] NULL,
	[StatusMGR_Issue] [nvarchar](500) NULL,
	[CodeGM_Issue] [nvarchar](500) NULL,
	[NameGM_Issue] [nvarchar](500) NULL,
	[DateGM_Issue] [datetime] NULL,
	[StatusGM_Issue] [nvarchar](500) NULL,
	[NameACC_Check] [nvarchar](500) NULL,
	[CodeACC_Check] [nvarchar](500) NULL,
	[DateACC_Check] [datetime] NULL,
	[StatusACC_Check] [nvarchar](500) NULL,
	[CodeACC_MGR] [nvarchar](500) NULL,
	[NameACC_MGR] [nvarchar](500) NULL,
	[DateACC_MGR] [datetime] NULL,
	[StatusACC_MGR] [nvarchar](500) NULL,
	[CodeACC_GM] [nvarchar](500) NULL,
	[NameACC_GM] [nvarchar](500) NULL,
	[DateACC_GM] [datetime] NULL,
	[StatusACC_GM] [nvarchar](500) NULL,
	[CodeInchage_Out] [nvarchar](500) NULL,
	[NameInchage_Out] [nvarchar](500) NULL,
	[DateInchage_Out] [datetime] NULL,
	[StatusInchage_Out] [nvarchar](500) NULL,
	[CodeMGR_Out] [nvarchar](500) NULL,
	[NameMGR_Out] [nvarchar](500) NULL,
	[DateMGR_Out] [datetime] NULL,
	[StatusMGR_Out] [nvarchar](500) NULL,
	[CodeGM_Out] [nvarchar](500) NULL,
	[NameGM_Out] [nvarchar](500) NULL,
	[DateGM_Out] [datetime] NULL,
	[StatusGM_Out] [nvarchar](500) NULL,
	[Status_RQ] [nvarchar](500) NULL,
	[Status_IVoice] [nvarchar](50) NULL,
	[Status_Delete] [nvarchar](50) NULL,
	[RQDeptID] [nvarchar](300) NULL,
	[Insert_Date] [nvarchar](50) NULL,
	[CDS_No] [nvarchar](500) NULL,
	[CDS_Date] [nvarchar](200) NULL,
	[User_Approved_OutSAP] [nvarchar](500) NULL,
	[Name_Approved_OutSAP] [varchar](500) NULL,
	[Status_Approved_OutSAP] [nvarchar](500) NULL,
	[Date_Approved_OutSAP] [datetime] NULL,
	[NameSacntion] [nvarchar](50) NULL,
	[Flag_price_sap] [tinyint] NULL,
	[DocumentNo] [nvarchar](50) NULL,
	[Export_flag_98] [tinyint] NULL,
	[Export_flag_99] [tinyint] NULL,
	[Export_flag_outscrap] [tinyint] NULL,
 CONSTRAINT [PK_tbl_RQ_MaterialIssue] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_RQ_MaterialIssueB]    Script Date: 3/8/2026 11:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_RQ_MaterialIssueB](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RequestNo] [nvarchar](500) NULL,
	[Material] [nvarchar](500) NULL,
	[ItemDescription] [nvarchar](500) NULL,
	[TypeID] [nvarchar](500) NULL,
	[MvType] [nvarchar](500) NULL,
	[MvName] [nvarchar](500) NULL,
	[Plant] [nvarchar](500) NULL,
	[VendorCode] [nvarchar](500) NULL,
	[CostCenter] [nvarchar](500) NULL,
	[Sloc] [nvarchar](200) NULL,
	[IssueQty] [float] NULL,
	[UnitPrice_ST] [float] NULL,
	[Amount_ST] [float] NULL,
	[UnitPrice_AC] [float] NULL,
	[Amount_AC] [float] NULL,
	[DateVoucher] [nvarchar](500) NULL,
	[CountryofOrigin] [nvarchar](500) NULL,
	[Note] [nvarchar](max) NULL,
	[UserCreate] [nvarchar](500) NULL,
	[UserUpdate] [nvarchar](500) NULL,
	[DateUpdate] [datetime] NULL,
	[CodeInchage_Issue] [nvarchar](500) NULL,
	[NameInchage_Issue] [nvarchar](500) NULL,
	[DateInchage_Issue] [datetime] NULL,
	[StatusInchage_Issue] [nvarchar](500) NULL,
	[CodeMGR_Issue] [nvarchar](500) NULL,
	[NameMGR_Issue] [nvarchar](500) NULL,
	[DateMGR_Issue] [datetime] NULL,
	[StatusMGR_Issue] [nvarchar](500) NULL,
	[CodeGM_Issue] [nvarchar](500) NULL,
	[NameGM_Issue] [nvarchar](500) NULL,
	[DateGM_Issue] [datetime] NULL,
	[StatusGM_Issue] [nvarchar](500) NULL,
	[NameACC_Check] [nvarchar](500) NULL,
	[CodeACC_Check] [nvarchar](500) NULL,
	[DateACC_Check] [datetime] NULL,
	[StatusACC_Check] [nvarchar](500) NULL,
	[CodeACC_MGR] [nvarchar](500) NULL,
	[NameACC_MGR] [nvarchar](500) NULL,
	[DateACC_MGR] [datetime] NULL,
	[StatusACC_MGR] [nvarchar](500) NULL,
	[CodeACC_GM] [nvarchar](500) NULL,
	[NameACC_GM] [nvarchar](500) NULL,
	[DateACC_GM] [datetime] NULL,
	[StatusACC_GM] [nvarchar](500) NULL,
	[CodeInchage_Out] [nvarchar](500) NULL,
	[NameInchage_Out] [nvarchar](500) NULL,
	[DateInchage_Out] [datetime] NULL,
	[StatusInchage_Out] [nvarchar](500) NULL,
	[CodeMGR_Out] [nvarchar](500) NULL,
	[NameMGR_Out] [nvarchar](500) NULL,
	[DateMGR_Out] [datetime] NULL,
	[StatusMGR_Out] [nvarchar](500) NULL,
	[CodeGM_Out] [nvarchar](500) NULL,
	[NameGM_Out] [nvarchar](500) NULL,
	[DateGM_Out] [datetime] NULL,
	[StatusGM_Out] [nvarchar](500) NULL,
	[Status_RQ] [nvarchar](500) NULL,
	[Status_IVoice] [nvarchar](50) NULL,
	[Status_Delete] [nvarchar](50) NULL,
	[RQDeptID] [nvarchar](500) NULL,
	[Insert_Date] [datetime] NULL,
	[CDS_No] [varchar](500) NULL,
	[CDS_Date] [nvarchar](200) NULL,
	[User_Approved_OutSAP] [nvarchar](500) NULL,
	[Name_Approved_OutSAP] [varchar](500) NULL,
	[Status_Approved_OutSAP] [nvarchar](50) NULL,
	[Date_Approved_OutSAP] [datetime] NULL,
	[NameSacntion] [nvarchar](50) NULL,
	[Flag_price_sap] [tinyint] NULL,
	[Type_Rosh_Halb] [nvarchar](50) NULL,
	[Reason] [nvarchar](50) NULL,
	[NameCode] [nvarchar](50) NULL,
	[DocumentNo] [nvarchar](50) NULL,
	[Export_flag_98] [tinyint] NULL,
	[Export_flag_99] [tinyint] NULL,
	[Export_flag_outscrap] [tinyint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_RQ_MaterialIssue] ADD  CONSTRAINT [DF_tbl_RQ_MaterialIssue_UnitPrice_ST]  DEFAULT ((0)) FOR [UnitPrice_ST]
GO
ALTER TABLE [dbo].[tbl_RQ_MaterialIssue] ADD  CONSTRAINT [DF_tbl_Material_Issue_Status_RQ]  DEFAULT (N'Pending') FOR [Status_RQ]
GO
ALTER TABLE [dbo].[tbl_RQ_MaterialIssue] ADD  CONSTRAINT [DF_tbl_RQ_MaterialIssue_Status_IVoice]  DEFAULT (N'N') FOR [Status_IVoice]
GO
ALTER TABLE [dbo].[tbl_RQ_MaterialIssue] ADD  CONSTRAINT [DF_tbl_RQ_MaterialIssue_Status_Delete]  DEFAULT (N'N') FOR [Status_Delete]
GO
ALTER TABLE [dbo].[tbl_RQ_MaterialIssue] ADD  CONSTRAINT [DF_tbl_RQ_MaterialIssue_Insert_Date]  DEFAULT (getdate()) FOR [Insert_Date]
GO
ALTER TABLE [dbo].[tbl_RQ_MaterialIssue] ADD  CONSTRAINT [DF_tbl_RQ_MaterialIssue_Status_Approved_OutSAP]  DEFAULT (N'Pending') FOR [Status_Approved_OutSAP]
GO
ALTER TABLE [dbo].[tbl_RQ_MaterialIssue] ADD  CONSTRAINT [DF_tbl_RQ_MaterialIssue_Flag_price_sap]  DEFAULT ((0)) FOR [Flag_price_sap]
GO
ALTER TABLE [dbo].[tbl_RQ_MaterialIssue] ADD  CONSTRAINT [DF_tbl_RQ_MaterialIssue_Export_flag_98]  DEFAULT ((0)) FOR [Export_flag_98]
GO
ALTER TABLE [dbo].[tbl_RQ_MaterialIssue] ADD  CONSTRAINT [DF_tbl_RQ_MaterialIssue_Export_flag_99]  DEFAULT ((0)) FOR [Export_flag_99]
GO
ALTER TABLE [dbo].[tbl_RQ_MaterialIssue] ADD  CONSTRAINT [DF_tbl_RQ_MaterialIssue_Export_flag_outscrap]  DEFAULT ((0)) FOR [Export_flag_outscrap]
GO
ALTER TABLE [dbo].[tbl_RQ_MaterialIssueB] ADD  CONSTRAINT [DF_tbl_RQ_ClaimScap_Material_Status_RQ]  DEFAULT (N'Pending') FOR [Status_RQ]
GO
ALTER TABLE [dbo].[tbl_RQ_MaterialIssueB] ADD  CONSTRAINT [DF_tbl_RQ_MaterialIssueB_Status_IVoice]  DEFAULT (N'N') FOR [Status_IVoice]
GO
ALTER TABLE [dbo].[tbl_RQ_MaterialIssueB] ADD  CONSTRAINT [DF_tbl_RQ_ClaimScap_Material_Status_Delete]  DEFAULT (N'N') FOR [Status_Delete]
GO
ALTER TABLE [dbo].[tbl_RQ_MaterialIssueB] ADD  CONSTRAINT [DF_tbl_RQ_MaterialIssueB_Insert_Date]  DEFAULT (getdate()) FOR [Insert_Date]
GO
ALTER TABLE [dbo].[tbl_RQ_MaterialIssueB] ADD  CONSTRAINT [DF_tbl_RQ_MaterialIssueB_Status_Approved_OutSAP]  DEFAULT (N'Pending') FOR [Status_Approved_OutSAP]
GO
ALTER TABLE [dbo].[tbl_RQ_MaterialIssueB] ADD  CONSTRAINT [DF_tbl_RQ_MaterialIssueB_Flag_price_sap]  DEFAULT ((0)) FOR [Flag_price_sap]
GO
ALTER TABLE [dbo].[tbl_RQ_MaterialIssueB] ADD  CONSTRAINT [DF_tbl_RQ_MaterialIssueB_Export_flag_98]  DEFAULT ((0)) FOR [Export_flag_98]
GO
ALTER TABLE [dbo].[tbl_RQ_MaterialIssueB] ADD  CONSTRAINT [DF_tbl_RQ_MaterialIssueB_Export_flag_99]  DEFAULT ((0)) FOR [Export_flag_99]
GO
ALTER TABLE [dbo].[tbl_RQ_MaterialIssueB] ADD  CONSTRAINT [DF_tbl_RQ_MaterialIssueB_Export_flag_outscrap]  DEFAULT ((0)) FOR [Export_flag_outscrap]
GO
/****** Object:  StoredProcedure [dbo].[Export_Form_98]    Script Date: 3/8/2026 11:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Export_Form_98]  --Export_Form_98 'RQB-PUR-0126-3','B','2015597_1'
	@Requestno as nvarchar(50), 
	@TypeName as nvarchar(50),
	@userid as nvarchar(10)
AS
BEGIN
	
	if exists(select * from [Issue_MaterialInOut].[dbo].[tbl_UserStock_IssueMaterial] where [UserName]=@userid)
	begin
		--ton tai user PMS thi moi cho phep export
		if(@TypeName = 'A')
		begin
			--from A
			if exists(select * from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] where RequestNo=@Requestno  and Status_Delete='N')  ---and Status_Approved_OutSAP<>'Pending'
			begin
					--PMS ky roi moi duoc out sap
					  select 1, a.Plant,a.Material,a.Sloc as 'Issue Sloc','' as 'Receive Sloc',a.IssueQty as Qty,
					  (select top 1 b.AccountCost from tbl_TypeMater b where b.TypeID=a.TypeID) as 'GL account',
					  a.CostCenter from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a where a.RequestNo=@Requestno and Export_flag_98=0

					  ---truong hop update => thuc hien auto

					--select 1
			end
			else
			begin
				--NG kiem tra lai
				--select 0
				 select 0, '' as Plant,'' as Material, '' as 'Issue Sloc','' as 'Receive Sloc', ''  as Qty,'' as 'GL account', '' as CostCenter 
			end
		end
		else
		begin
			 --form B
			 if exists(select * from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] where RequestNo=@Requestno  and Status_Delete='N')  ---and Status_Approved_OutSAP<>'Pending'
				begin
						--PMS ky roi moi duoc out sap
						    select 1, a.Plant,a.Material,a.Sloc as 'Issue Sloc','' as 'Receive Sloc',a.IssueQty as Qty,
							  (select b.AccountCost from tbl_TypeMater b where b.TypeID=a.TypeID) as 'GL account',
							  a.CostCenter from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a where a.RequestNo=@Requestno and Export_flag_98=0

							  ---truong hop update => thuc hien auto

						--select 1
				end
				else
				begin
					--NG kiem tra lai
					--select 0
					select 0, '' as Plant,'' as Material, '' as 'Issue Sloc','' as 'Receive Sloc', ''  as Qty,'' as 'GL account', '' as CostCenter 
				end
		end

	end
	else
	begin
		--user khong co quyen exxport
		select 2
	end

END
GO
/****** Object:  StoredProcedure [dbo].[Export_Outscrap]    Script Date: 3/8/2026 11:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[Export_Outscrap]  --Export_Outscrap 'RQB-PUR-0126-3','B','2015597_1'
	@Requestno as nvarchar(50), 
	@TypeName as nvarchar(50),
	@userid as nvarchar(10)
AS
BEGIN
	
	if exists(select * from [Issue_MaterialInOut].[dbo].[tbl_UserStock_IssueMaterial] where [UserName]=@userid)
	begin
		--ton tai user PMS thi moi cho phep export
		if(@TypeName = 'A')
		begin
			--from A
			if exists(select * from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] where RequestNo=@Requestno  and Status_Delete='N')  ---and Status_Approved_OutSAP<>'Pending'
			begin
					--PMS ky roi moi duoc out sap
					  select 1, a.Plant,a.Material,a.Sloc as 'Issue Sloc','' as 'Receive Sloc',a.IssueQty as Qty,
					  (select top 1 b.AccountCost from tbl_TypeMater b where b.TypeID=a.TypeID) as 'GL account',
					  a.CostCenter,
					  '' as Reservation,
					  '' as Reservationitem,
					  '' as ReceivingMaterial,
					  '' as ReceivingPlant,
					  '' as Reason
					  from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a where a.RequestNo=@Requestno and Export_flag_outscrap=0

					  ---truong hop update => thuc hien auto

					--select 1
			end
			else
			begin
				--NG kiem tra lai
				--select 0
				 select 0, '' as Plant,'' as Material, '' as 'Issue Sloc','' as 'Receive Sloc', ''  as Qty,'' as 'GL account', '' as CostCenter 
			end
		end
		else
		begin
			 --form B
			 if exists(select * from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] where RequestNo=@Requestno  and Status_Delete='N')  ---and Status_Approved_OutSAP<>'Pending'
				begin
						--PMS ky roi moi duoc out sap
						    select 1, a.Plant,a.Material,a.Sloc as 'Issue Sloc','' as 'Receive Sloc',a.IssueQty as Qty,
							  (select b.AccountCost from tbl_TypeMater b where b.TypeID=a.TypeID) as 'GL account',
							  a.CostCenter, 
							  '' as Reservation,
							  '' as Reservationitem,
							  '' as ReceivingMaterial,
							  '' as ReceivingPlant,
							  '' as Reason
							  from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a where a.RequestNo=@Requestno and Export_flag_outscrap=0

							  ---truong hop update => thuc hien auto

						--select 1
				end
				else
				begin
					--NG kiem tra lai
					--select 0
					select 0, '' as Plant,'' as Material, '' as 'Issue Sloc','' as 'Receive Sloc', ''  as Qty,'' as 'GL account', '' as CostCenter 
				end
		end

	end
	else
	begin
		--user khong co quyen exxport
		select 2
	end

END
GO
/****** Object:  StoredProcedure [dbo].[Export_Tranfer_99]    Script Date: 3/8/2026 11:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[Export_Tranfer_99]  --Export_Tranfer_99 'RQB-PUR-0126-3','B','2015597_1'
	@Requestno as nvarchar(50), 
	@TypeName as nvarchar(50),
	@userid as nvarchar(10)
AS
BEGIN
	
	if exists(select * from [Issue_MaterialInOut].[dbo].[tbl_UserStock_IssueMaterial] where [UserName]=@userid)
	begin
		--ton tai user PMS thi moi cho phep export
		if(@TypeName = 'A')
		begin
			--from A
			if exists(select * from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] where RequestNo=@Requestno  and Status_Delete='N')  ---and Status_Approved_OutSAP<>'Pending'
			begin
					--PMS ky roi moi duoc out sap
					  select 1, a.Plant,a.Material,a.Sloc as 'Issue Sloc','' as 'Receive Sloc',a.IssueQty as Qty 
					 from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a where a.RequestNo=@Requestno and Export_flag_99=0

					  ---truong hop update => thuc hien auto

					--select 1
			end
			else
			begin
				--NG kiem tra lai
				--select 0
				 select 0, '' as Plant,'' as Material, '' as 'Issue Sloc','' as 'Receive Sloc', ''  as Qty
			end
		end
		else
		begin
			 --form B
			 if exists(select * from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] where RequestNo=@Requestno  and Status_Delete='N')  ---and Status_Approved_OutSAP<>'Pending'
				begin
						--PMS ky roi moi duoc out sap
						    select 1, a.Plant,a.Material,a.Sloc as 'Issue Sloc','' as 'Receive Sloc',a.IssueQty as Qty
							  from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a where a.RequestNo=@Requestno and Export_flag_99=0

							  ---truong hop update => thuc hien auto

						--select 1
				end
				else
				begin
					--NG kiem tra lai
					--select 0
					select 0, '' as Plant,'' as Material, '' as 'Issue Sloc','' as 'Receive Sloc', ''  as Qty
				end
		end

	end
	else
	begin
		--user khong co quyen exxport
		select 2
	end

END
GO
/****** Object:  StoredProcedure [dbo].[Select_PMS_OutSAP]    Script Date: 3/8/2026 11:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_PMS_OutSAP]
	
AS
BEGIN
	
	-- select distinct RequestNo,RQDeptID as Department,Status_RQ,Status_Approved_OutSAP,'B' as TypeForm from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] where Status_Delete='N' and Insert_Date between '2025-01-28' and '2026-03-09' 
--union
--select distinct RequestNo,RQDeptID as Department,Status_RQ,Status_Approved_OutSAP,'A' as TypeForm from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] where Status_Delete='N' and Insert_Date between '2026-01-28' and '2026-03-09' 

SELECT DISTINCT RequestNo,RQDeptID AS Department, Status_RQ,Status_Approved_OutSAP,'B' AS TypeForm,NameSacntion,DocumentNo
FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB]
WHERE Status_Delete = 'N' AND Insert_Date BETWEEN DATEADD(MONTH, -6, GETDATE()) AND GETDATE()

UNION

SELECT DISTINCT RequestNo,RQDeptID AS Department,Status_RQ,Status_Approved_OutSAP,'A' AS TypeForm,NameSacntion,DocumentNo
FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue]
WHERE Status_Delete = 'N' AND Insert_Date BETWEEN DATEADD(MONTH, -2, GETDATE()) AND GETDATE()


END
GO
/****** Object:  StoredProcedure [dbo].[Select_PMS_OutSAP_download]    Script Date: 3/8/2026 11:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_PMS_OutSAP_download]  -- Select_PMS_OutSAP_download '2026-01-08','2026-03-08','2015597_1','1'
	@_fromdate as nvarchar(50), 
	@_todate as nvarchar(50), 
	@userid as nvarchar(50),
	@typedownload as nvarchar(5)
AS
BEGIN

IF EXISTS (SELECT * FROM [Issue_MaterialInOut].[dbo].[tbl_UserStock_IssueMaterial] WHERE [UserName] = @userid )
    BEGIN

	if(@typedownload = '0')
	begin
		--truong hop download tong
		SELECT DISTINCT 1, RequestNo, RQDeptID AS Department, Status_RQ, 
               Status_Approved_OutSAP, 'B' AS TypeForm, NameSacntion, DocumentNo
        FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB]
        WHERE Status_Delete = 'N' AND Insert_Date BETWEEN CONVERT(DATETIME, @_fromdate, 120) AND DATEADD(SECOND, 86399, CONVERT(DATETIME, @_todate, 120))  --_todate bao gồm cả ngày cuối (đến 23:59:59):

        UNION

        SELECT DISTINCT 1, RequestNo, RQDeptID AS Department, Status_RQ, 
               Status_Approved_OutSAP, 'A' AS TypeForm, NameSacntion, DocumentNo
        FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue]
        WHERE Status_Delete = 'N' AND Insert_Date BETWEEN CONVERT(DATETIME, @_fromdate, 120) AND DATEADD(SECOND, 86399, CONVERT(DATETIME, @_todate, 120))  --_todate bao gồm cả ngày cuối (đến 23:59:59):

	end
	else
	begin
		--download chi tiet
		SELECT 1,RequestNo, 
		Material,ItemDescription,TypeID,MvType,Plant,VendorCode,CostCenter,Sloc,IssueQty
		,[UnitPrice_ST]
      ,[Amount_ST]
      ,[UnitPrice_AC]
      ,[Amount_AC], 
		RQDeptID AS Department, Status_RQ, 
               Status_Approved_OutSAP, 'B' AS TypeForm, NameSacntion, DocumentNo
        FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB]
        WHERE Status_Delete = 'N' AND Insert_Date BETWEEN CONVERT(DATETIME, @_fromdate, 120) AND DATEADD(SECOND, 86399, CONVERT(DATETIME, @_todate, 120))  --_todate bao gồm cả ngày cuối (đến 23:59:59):

        UNION

        SELECT 1,RequestNo,
		Material,ItemDescription,TypeID,MvType,Plant,VendorCode,CostCenter,Sloc,IssueQty
		,[UnitPrice_ST]
      ,[Amount_ST]
      ,0 as UnitPrice_AC
      ,0 as Amount_AC, 
	  RQDeptID AS Department, Status_RQ, 
               Status_Approved_OutSAP, 'A' AS TypeForm, NameSacntion, DocumentNo
        FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue]
        WHERE Status_Delete = 'N' AND Insert_Date BETWEEN CONVERT(DATETIME, @_fromdate, 120) AND DATEADD(SECOND, 86399, CONVERT(DATETIME, @_todate, 120))  --_todate bao gồm cả ngày cuối (đến 23:59:59):

	end


        


    END
    ELSE
    BEGIN
        SELECT 2
    END




END
GO
/****** Object:  StoredProcedure [dbo].[Select_PMS_OutSAP_search]    Script Date: 3/8/2026 11:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_PMS_OutSAP_search] --Select_PMS_OutSAP_search '2026-02-08','2026-03-08','',''
	@_fromdate as nvarchar(50), 
	@_todate as nvarchar(50), 
	@requestno as nvarchar(50),
	@sanctionno as nvarchar(50)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	---SET NOCOUNT ON;
	declare @sql  as nvarchar(max)
	set @sql = '
	select * from (
	SELECT RequestNo, 
			RQDeptID AS Department, Status_RQ, 
               Status_Approved_OutSAP, ''B'' AS TypeForm, NameSacntion, DocumentNo,Status_Delete
        FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB]
        WHERE Insert_Date BETWEEN CONVERT(DATETIME, '''+@_fromdate+''', 120) AND DATEADD(SECOND, 86399, CONVERT(DATETIME, '''+@_todate+''', 120)) 

        UNION

        SELECT RequestNo,
	  RQDeptID AS Department, Status_RQ, 
               Status_Approved_OutSAP, ''A'' AS TypeForm, NameSacntion, DocumentNo,Status_Delete
        FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue]
        WHERE Insert_Date BETWEEN CONVERT(DATETIME, '''+@_fromdate+''', 120) AND DATEADD(SECOND, 86399, CONVERT(DATETIME, '''+@_todate+''', 120)) 
		) as ABC where Status_Delete = ''N''
	'
   
   if(@requestno <>'')
   begin
		set @sql += ' and RequestNo='''+@requestno+''' '
   end

   if(@sanctionno <>'')
   begin
		set @sql += ' and NameSacntion='''+@sanctionno+''' '
   end

   --print @sql
   exec (@sql)

END
GO
/****** Object:  StoredProcedure [dbo].[Update_Document_No]    Script Date: 3/8/2026 11:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Update_Document_No]  --Update_Document_No 'RQB-PUR-0326-4','B','123456','2015597_1'
	@Requestno as nvarchar(50), 
	@TypeName as nvarchar(50),
	@DocumentNo as nvarchar(50),
	@userid as nvarchar(10)
AS
BEGIN
	
	if exists(select * from [Issue_MaterialInOut].[dbo].[tbl_UserStock_IssueMaterial] where [UserName]=@userid)
	begin
		--ton tai user PMS thi moi cho phep export
		if(@TypeName = 'A')
		begin
			--from A
			if exists(select * from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] where RequestNo=@Requestno  and Status_Delete='N')  ---and Status_Approved_OutSAP<>'Pending'
			begin
					update [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] set DocumentNo=@DocumentNo where RequestNo=@Requestno  and Status_Delete='N'

					select 1
			end
			else
			begin
				--NG kiem tra lai
				--select 0
				 select 0
			end
		end
		else
		begin
			 --form B
			 if exists(select * from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] where RequestNo=@Requestno  and Status_Delete='N')  ---and Status_Approved_OutSAP<>'Pending'
				begin
						--PMS ky roi moi duoc out sap
						   update [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] set DocumentNo=@DocumentNo where RequestNo=@Requestno  and Status_Delete='N'

						select 1
				end
				else
				begin
					--NG kiem tra lai
					--select 0
					select 0
				end
		end

	end
	else
	begin
		--user khong co quyen exxport
		select 2
	end

END
GO
