USE [Issue_MaterialInOut]
GO
/****** Object:  Table [dbo].[tbl_TypeMater]    Script Date: 2/27/2026 5:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_TypeMater](
	[TypeID] [int] NULL,
	[TypeName] [nvarchar](500) NULL,
	[Decription] [nvarchar](1000) NULL,
	[UserInsert] [nvarchar](500) NULL,
	[NameTemplate] [nvarchar](10) NULL,
	[DateInsert] [datetime] NULL,
	[FlagDelete] [nvarchar](500) NULL,
	[AccountCost] [nvarchar](100) NULL,
	[AccountName] [nvarchar](500) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_TypeMater] ADD  CONSTRAINT [DF_tbl_TypeMater_FlagDelete]  DEFAULT (N'N') FOR [FlagDelete]
GO
/****** Object:  StoredProcedure [dbo].[Check_user_update_price_sap_ACC]    Script Date: 2/27/2026 5:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[Check_user_update_price_sap_ACC] --Check_user_update_price_sap_ACC '2007600_IT'
	@UserID as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


	--if exists(select * from [Issue_MaterialInOut].[dbo].[tbl_User_checkPrice] where [UserID]=@UserID)    
	if exists(select * from [Issue_MaterialInOut].[dbo].[tbl_UserIssueRQ] where UserLogin=@UserID and RoleDept='ACC-CHECK' )  --and RoleID=1 --level1
	begin
		--cho phep update gia
		select 1
	end
	else
	begin
		-- khong thuoc ke toan khong duoc phep update gia
		select 0
	end

END
GO
/****** Object:  StoredProcedure [dbo].[Delete_from_AB]    Script Date: 2/27/2026 5:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Delete_from_AB]
	@id as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;
	if exists(select * from [Issue_MaterialInOut].[dbo].[tbl_TypeMater] where ID=@id and FlagDelete='N')
	begin
		 update [Issue_MaterialInOut].[dbo].[tbl_TypeMater] set FlagDelete='Y' where ID=cast(@id as int)

		select 1
	end
	else
	begin
		select 0
	end

   

END
GO
/****** Object:  StoredProcedure [dbo].[Insert_Form_AB]    Script Date: 2/27/2026 5:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Insert_Form_AB]
	@TypeID as nvarchar(50), 
	@TypeName as nvarchar(100), 
	@Decription as nvarchar(500), 
	@NameTemplate as nvarchar(50), 
	@AccountCost as nvarchar(50), 
	@AccountName as nvarchar(300)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

	if not exists(select * from [Issue_MaterialInOut].[dbo].[tbl_TypeMater] where TypeID=@TypeID and TypeName=@TypeName)
	begin
		insert into [Issue_MaterialInOut].[dbo].[tbl_TypeMater] (
		   [TypeID]
			  ,[TypeName]
			  ,[Decription]     
			  ,[NameTemplate]      
			  ,[AccountCost]
			  ,[AccountName]
		   ) values(
		   @TypeID,@TypeName,@Decription,@NameTemplate,@AccountCost,@AccountName
		   )
		   select 1	
	end
	else
	begin
		select 0
	end

   


END
GO
/****** Object:  StoredProcedure [dbo].[Select_form_AB]    Script Date: 2/27/2026 5:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_form_AB]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

  select TOP (1000) * from [Issue_MaterialInOut].[dbo].[tbl_TypeMater] where FlagDelete='N'



END
GO
/****** Object:  StoredProcedure [dbo].[Select_form_AB_loc]    Script Date: 2/27/2026 5:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_form_AB_loc]
	@filtertypename as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

  select TOP (1000) * from [Issue_MaterialInOut].[dbo].[tbl_TypeMater] where [TypeName] like '%'+@filtertypename+'%' and FlagDelete='N'



END
GO
/****** Object:  StoredProcedure [dbo].[SP_Issue_Material_BindRQ_Approved]    Script Date: 2/27/2026 5:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Issue_Material_BindRQ_Approved]  ---  [SP_Issue_Material_BindRQ_Approved] 'IT','2020','RQ','2013168_1','1'
	@DeptID nvarchar(500),
	@Stock nvarchar(500) = null,
	@RoleName nvarchar(500),
	@User nvarchar(500),
    @RoleAproved nvarchar(500)
AS
BEGIN
	
	-- declare @Stock_N  nvarchar(200), @delimiter nvarchar(10)
	--SET @delimiter=','
--	set  @Stock_N = '''' +  (select REPLACE(@Stock, @delimiter , ''','''))  + '''' 
	declare @Sql nvarchar(max)


	
	IF (@RoleAproved  = 1 and @RoleName = 'RQ')  
	begin
		--19.01.2026
		--truong hop typ =1 : user LOG van  phai duoc nhin thay
		if(@User ='2012757' and @DeptID='LOG')
		begin
				set @Sql = 
				'
				select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
				from [dbo].[tbl_RQ_MaterialIssue] a
				where Status_Delete = ''N'' and     (a.Status_RQ = ''Approved'' or [StatusInchage_Issue] = ''OK'')  and
				 a.TypeID=1 
				 and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
				order by  Insert_Date desc
				'
		end
		else
		begin
				--code old
				set @Sql = 
				'
					select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
					from [dbo].[tbl_RQ_MaterialIssue] a
					where Status_Delete = ''N'' and     (a.Status_RQ = ''Approved'' or [StatusInchage_Issue] = ''OK'')  and
					 a.UserCreate ='''+ @User+''' and RQDeptID =  '''+ @DeptID+''' 
					 and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
					order by  Insert_Date desc
				'
		end
	
	end

   
	IF (@RoleAproved  = 2 and @RoleName = 'RQ')
	begin
	  set @Sql = 
	     '
				select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
				from [dbo].[tbl_RQ_MaterialIssue] a
				where Status_Delete = ''N'' and    (a.Status_RQ = ''Approved'' or [StatusMGR_Issue] =''OK'')
				 and RQDeptID =  '''+ @DeptID+''' 
				and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
				order by  Insert_Date desc
		 '
	end

	IF (@RoleAproved  = 3 and @RoleName = 'RQ') 
			begin
			 set @Sql = 
				 '
						select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
						from [dbo].[tbl_RQ_MaterialIssue] a
						where Status_Delete = ''N'' and    ( a.Status_RQ = ''Approved'' or[StatusGM_Issue] =''OK'' )
						 and RQDeptID =  '''+ @DeptID+'''   
						and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
						order by  Insert_Date desc
				'
			end
	
  
  IF (@RoleAproved  = 1 and @RoleName = 'ACC-CHECK') 
			begin
			 set @Sql = 
				 '
						select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
						from [dbo].[tbl_RQ_MaterialIssue] a
						where Status_Delete = ''N'' and    ( a.Status_RQ = ''Approved''  or [StatusACC_Check] = ''OK'')
						and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
						order by  Insert_Date desc
				'
		end

IF (@RoleAproved  = 2 and @RoleName = 'ACC-CHECK') 
			begin
			 set @Sql = 
				 '
						select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
						from [dbo].[tbl_RQ_MaterialIssue] a
						where Status_Delete = ''N'' and      (a.Status_RQ = ''Approved'' or [StatusACC_MGR] = ''OK'')
						and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
						order by  Insert_Date desc
				'
		end

IF (@RoleAproved  = 3 and @RoleName = 'ACC-CHECK') 
			begin
			 set @Sql = 
				 '
						select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
						from [dbo].[tbl_RQ_MaterialIssue] a
						where Status_Delete = ''N'' and     ( a.Status_RQ = ''Approved''  or [StatusACC_GM]=''OK'')
						and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
						order by  Insert_Date desc 
				'
		end

	exec (@Sql)
	print @Sql
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Issue_Material_BindRQ_Approved_OutStock]    Script Date: 2/27/2026 5:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Issue_Material_BindRQ_Approved_OutStock]  --- [SP_Issue_Material_BindRQ_Approved_OutStock] 'PMS','2020','STORE','2','2000018'
	@DeptCode nvarchar(500),
	@Stock nvarchar(500) = null,
	@RoleName nvarchar(500),
	@RoleAproved nvarchar(500),
	@User nvarchar(500)

AS
BEGIN
	
	 declare @Stock_N  nvarchar(200), @delimiter nvarchar(10)
	SET @delimiter=','
	set  @Stock_N = '''' +  (select REPLACE(@Stock, @delimiter , ''','''))  + '''' 
	declare @Sql nvarchar(max)

	print '@RoleName: ' +  @RoleName
	
	IF NOT EXISTS (select  * from  tbl_UserStock_IssueMaterial a where a.UserName =  @User)
			 BEGIN
				-- bo dieu kien : and a.[Sloc] IN('+@Stock_N+' )  
			  set @Sql = 
				 '
						select  distinct a.RequestNo ,Insert_Date
						from [dbo].[tbl_RQ_MaterialIssue] a
						where Status_Delete = ''N'' and     a.Status_RQ = ''Approved''						  
						  and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
						order by  Insert_Date desc
					'
			
			 END
	 ELSE
	 BEGIN
	      	IF (@RoleAproved  = 1 and @RoleName = 'STORE')  
			begin
			--bo dieu kien: and a.[Sloc] IN('+@Stock_N+' )
			set @Sql = 
				 '
						select  distinct a.RequestNo ,Insert_Date
						from [dbo].[tbl_RQ_MaterialIssue] a
						where Status_Delete = ''N'' and      (a.Status_RQ = ''Approved'' or  [StatusInchage_Out] = ''OK'')						  
						  and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
						order by  Insert_Date desc
					'
			end

   
			IF (@RoleAproved  = 2 and @RoleName = 'STORE')
			begin
				--and a.[Sloc] IN('+@Stock_N+' )
			  set @Sql = 
				 '
						select  distinct a.RequestNo ,Insert_Date
						from [dbo].[tbl_RQ_MaterialIssue] a
						where Status_Delete = ''N'' and     (Status_RQ = ''Approved'' or [StatusMGR_Out] =''OK'') 						
						 and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
						order by  Insert_Date desc
				 '
			end

			IF (@RoleAproved  = 3 and @RoleName = 'STORE')
					begin
					--bo dieu kien :and a.[Sloc] IN('+@Stock_N+' )
					 set @Sql = 
						 '
								select  distinct a.RequestNo ,Insert_Date
								from [dbo].[tbl_RQ_MaterialIssue] a
								where Status_Delete = ''N'' and     ( a.Status_RQ = ''Approved'' or   [StatusGM_Out]=''OK'')								 
								 and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
								order by  Insert_Date desc
						'
					end


	 END

	exec (@Sql)
	print @Sql
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Issue_Material_BindRQ_NOTApproved]    Script Date: 2/27/2026 5:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Issue_Material_BindRQ_NOTApproved]  ---   SP_Issue_Material_BindRQ_NOTApproved 'PMS','2020','STORE','2000032','3'
	@DeptID nvarchar(500),
	@Stock nvarchar(500) = null,
	@RoleName nvarchar(500),
	@User nvarchar(500),
	@RoleAproved nvarchar(500)

AS
BEGIN
	
	declare @Stock_N  nvarchar(200), @delimiter nvarchar(10);

	SET @delimiter=','
	set  @Stock_N = '''' +  (select REPLACE(@Stock, @delimiter , ''','''))  + '''' 
	declare @Sql nvarchar(max)

	
	
	IF (@RoleAproved  = 1 and @RoleName = 'RQ')  
	begin
		
		if(@DeptID = 'PMS')
		begin
			--bo dieu kien and RQDeptID =  '''+ @DeptID+''' 
			set @Sql = 
			 '
					select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
					from [dbo].[tbl_RQ_MaterialIssue] a
					where Status_Delete = ''N'' and     (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject''  ) and StatusInchage_Issue is NULL  and
					 a.UserCreate ='''+ @User+''' 
					 and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
					order by  Insert_Date desc
				'
		end
		else
		begin
			set @Sql = 
			 '
					select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
					from [dbo].[tbl_RQ_MaterialIssue] a
					where Status_Delete = ''N'' and     (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject''  ) and StatusInchage_Issue is NULL  and
					 a.UserCreate ='''+ @User+''' and RQDeptID =  '''+ @DeptID+''' 
					 and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
					order by  Insert_Date desc
				'
		end

	
	end

   
	IF (@RoleAproved  = 2 and @RoleName = 'RQ')
	begin

		if(@DeptID = 'PMS')
		begin
			--bo dieu kien and RQDeptID =  '''+ @DeptID+'''
			 set @Sql = 
			'
				select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
				from [dbo].[tbl_RQ_MaterialIssue] a
				where Status_Delete = ''N'' and    (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'')
				and  ([StatusInchage_Issue] = ''OK'' and ([StatusMGR_Issue] is NULL or  [StatusMGR_Issue] = ''NG'')    ) 
				and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
				order by  Insert_Date desc
			'
		end
		else
		begin
				 set @Sql = 
			'
				select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
				from [dbo].[tbl_RQ_MaterialIssue] a
				where Status_Delete = ''N'' and    (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'')
				and  ([StatusInchage_Issue] = ''OK'' and ([StatusMGR_Issue] is NULL or  [StatusMGR_Issue] = ''NG'')   and RQDeptID =  '''+ @DeptID+''' ) 
				and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
				order by  Insert_Date desc
			'
		end
	end

	IF (@RoleAproved  = 3 and @RoleName = 'RQ') 
			begin

			if(@DeptID = 'PMS')
			begin
				--and RQDeptID =  '''+ @DeptID+'''
				set @Sql = 
				 '
						select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
						from [dbo].[tbl_RQ_MaterialIssue] a
						where Status_Delete = ''N'' and     (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'')  
						and  ([StatusInchage_Issue] = ''OK'' and [StatusMGR_Issue] = ''OK'' and( StatusGM_Issue is NULL or StatusGM_Issue = ''NG'')  )
						and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
						order by  Insert_Date desc
				'
			end
			else
			begin
				set @Sql = 
				 '
						select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
						from [dbo].[tbl_RQ_MaterialIssue] a
						where Status_Delete = ''N'' and     (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'')  
						and  ([StatusInchage_Issue] = ''OK'' and [StatusMGR_Issue] = ''OK'' and( StatusGM_Issue is NULL or StatusGM_Issue = ''NG'')  and RQDeptID =  '''+ @DeptID+'''   )
						and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
						order by  Insert_Date desc
				'
			end

			 
			end
	
  
  IF (@RoleAproved  = 1 and @RoleName = 'ACC-CHECK') 
			begin
			 set @Sql = 
				 '
						select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
						from [dbo].[tbl_RQ_MaterialIssue] a
						where Status_Delete = ''N'' and     (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'')  and StatusGM_Issue = ''OK'' 
						and (StatusACC_Check is NULL or  StatusGM_Issue = ''NG'')
						and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
						order by  Insert_Date desc
				'
		end

IF (@RoleAproved  = 2 and @RoleName = 'ACC-CHECK') 
			begin
			 set @Sql = 
				 '
						select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
						from [dbo].[tbl_RQ_MaterialIssue] a
						where Status_Delete = ''N'' and     (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'')  and StatusACC_Check = ''OK'' 
						and (StatusACC_MGR is NULL or  StatusACC_MGR  = ''NG'')
						and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
						order by  Insert_Date desc
				'
		end

IF (@RoleAproved  = 3 and @RoleName = 'ACC-CHECK') 
			begin
			 set @Sql = 
				 '
						select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
						from [dbo].[tbl_RQ_MaterialIssue] a
						where Status_Delete = ''N'' and     (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'')  and StatusACC_MGR = ''OK'' 
						and  (StatusACC_GM is NULL or  StatusACC_GM  = ''NG'')
						and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
						order by  Insert_Date desc 
				'
		end

---27.01.2026 them out stored  --@RoleAproved  = 1 and  --and     (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject''  )
IF (@RoleName = 'STORE')
begin
	set @Sql = 
			 '
					select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
					from [dbo].[tbl_RQ_MaterialIssue] a
					where Status_Delete = ''N'' and					
					 cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
					order by  Insert_Date desc
				'
end


	exec (@Sql)
	print @Sql
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Issue_Material_BindRQ_NOTApproved_OutStock]    Script Date: 2/27/2026 5:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Issue_Material_BindRQ_NOTApproved_OutStock]  ---  [SP_Issue_Material_BindRQ_NOTApproved_OutStock] 'PMS','2020','STORE','2','2000018'
	@DeptCode nvarchar(500),
	@Stock nvarchar(500),
	@RoleName nvarchar(500)  ,
	@RoleAproved nvarchar(500) ,
	@User nvarchar(500)
AS
BEGIN
	 declare @Stock_N  nvarchar(200), @delimiter nvarchar(10)
	SET @delimiter=','
	set  @Stock_N = '''' +  (select REPLACE(@Stock, @delimiter , ''','''))  + '''' 
	declare @Sql nvarchar(max)
	
	print '@RoleName: ' +  @RoleName
	
	IF NOT EXISTS (select  * from  tbl_UserStock_IssueMaterial a where a.UserName =  @User)
	 
		 BEGIN 
		 set @Sql = 
					 '
							select  distinct a.RequestNo ,Insert_Date
							from [dbo].[tbl_RQ_MaterialIssue] a
							where Status_Delete = ''N'' and     (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'')  
							 and a.[Sloc] IN('+@Stock_N+' )
							 and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
							order by  Insert_Date desc
					'
					print 'D4'
		 END

ELSE

	 BEGIN 
	 	IF (@RoleAproved  = 1 and @RoleName = 'STORE')  
	begin
	--bo dieu kien a.[Sloc] IN('+@Stock_N+' ) and  (PMS out all)   --and a.[Sloc] IN('+@Stock_N+' )
	set @Sql = 
	     '
				select  distinct a.RequestNo ,Insert_Date
				from [dbo].[tbl_RQ_MaterialIssue] a
				where Status_Delete = ''N'' and     (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'')  
				   and StatusACC_GM  =''OK'' and (StatusInchage_Out is NULL or  StatusInchage_Out  = ''NG'')
				  and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
				order by  Insert_Date desc
			'
			print 'D1'
	end

   
	IF (@RoleAproved  = 2 and @RoleName = 'STORE')
	begin
		--bo dieu kien a.[Sloc] IN('+@Stock_N+' ) and  (PMS out all)
	  set @Sql = 
	     '
				select  distinct a.RequestNo ,Insert_Date
				from [dbo].[tbl_RQ_MaterialIssue] a
				where Status_Delete = ''N'' and    (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'') and 
				   StatusInchage_Out  =''OK'' and (StatusMGR_Out is NULL or  StatusMGR_Out  = ''NG'')
				 and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
				order by  Insert_Date desc
		 '
		 print 'D2'
	end

	IF (@RoleAproved  = 3 and @RoleName = 'STORE')
			begin
			--and a.[Sloc] IN('+@Stock_N+' )  --bo dieu kien a.[Sloc] IN('+@Stock_N+' ) and  (PMS out all)
			 set @Sql = 
				 '
						select  distinct a.RequestNo ,Insert_Date
						from [dbo].[tbl_RQ_MaterialIssue] a
						where Status_Delete = ''N'' and     (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'')  
						 and  StatusMGR_Out  =''OK'' and (StatusGM_Out is NULL or  StatusGM_Out = ''NG'')
						 and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
						order by  Insert_Date desc
				'
				print 'D3'
			end
	 END
 



	
	exec (@Sql)
	print @Sql
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Issue_Material_NextUser_other]    Script Date: 2/27/2026 5:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
Create PROCEDURE [dbo].[SP_Issue_Material_NextUser_other]   -- [SP_Issue_Material_NextUser_other] '2013168_1','IT','2020','RQ','1','',''
	@User nvarchar(500),
	@Dept nvarchar(500),
	@Stock nvarchar(500),
	@RoleRQ nvarchar(500) ,
	@RoleApprovedRQ nvarchar(500),
	@RoleStore nvarchar(500) ,
	@RoleApprStore nvarchar(500)
	
AS
BEGIN
	Declare @Role int ,  @RoleDeptRQ nvarchar(500), @RoleDeptStore nvarchar(500), @RoleACC nvarchar(500)
	
--- Phong RQ tranfer có 2 bước kiểm tra. 1 Incharge ==> 3.Approved 
IF @RoleRQ  = 'RQ'
	BEGIN
		IF @RoleApprovedRQ = 1

				 begin

					  select   UserLogin  , FullName , a.Dept, Email,a.RoleDept as RoleRQ, ''  as RoleStore,a.RoleID as RoleAprovedRQ,'' as RoleAprovedStock,
							a.RolePage, convert(date ,a.DateCreate,101) as DateCreate ,a.[FlagDelete]
							 from [dbo].[tbl_User_OtherissueMaterial] a 
							
					  --where  a.Dept = @Dept  and a.RoleID = 2 and a.RoleDept = 'RQ'
					  print'1-A'
				 end
			---- Lấy thông tin user của RQ  ( 3 Phần   INPUT(1) -- CHECK(2) -- APPROVED (3)
	
		 --IF @RoleApprovedRQ =2  --- Approved  của RQ thì chuyển sang Input của phòng Issue_Incharge
			--		   begin
			--		 select   UserLogin  , FullName , a.Dept, Email,a.RoleDept as RoleRQ, ''  as RoleStore,a.RoleID as RoleAprovedRQ,'' as RoleAprovedStock,
			--				a.RolePage, convert(date ,a.DateCreate,101) as DateCreate ,a.[FlagDelete]
			--				 from [dbo].[tbl_User_OtherissueMaterial] a 
			--			  where  a.Dept = @Dept    and a.RoleID = 3  and a.RoleDept = 'RQ'
			--			  print'1-B'
			--		   end
		 --IF @RoleApprovedRQ = 3 --- Approved  của RQ thì chuyển sang Input của phòng Issue_Incharge
			--		   begin
			--		   select   UserLogin  , FullName , a.Dept, Email,a.RoleDept as RoleRQ, ''  as RoleStore,a.RoleID as RoleAprovedRQ,'' as RoleAprovedStock,
			--				a.RolePage, convert(date ,a.DateCreate,101) as DateCreate ,a.[FlagDelete]
			--				 from [dbo].[tbl_User_OtherissueMaterial] a 
			--			  where   a.RoleID = 1 and  a.RoleDept = 'ACC-CHECK'
			--			  print'2-B'
			--		   end

	END




	
	
END
		

	 


	 
		 	 



			
GO
/****** Object:  StoredProcedure [dbo].[SP_Issue_Material_Search]    Script Date: 2/27/2026 5:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Issue_Material_Search]   --- [SP_Issue_Material_Search] 'RQA-SCS-PLD-0226-32'
	@RQ nvarchar(500)
AS
BEGIN
	select AB.* 
	from 
	(
		(
		select  convert(varchar(500),ROW_NUMBER() OVER(ORDER BY a.ID ASC)) AS No,a.RequestNo, a.Material , a.IssueQty, a.UnitPrice_ST,  CONVERT(varchar, CAST(Amount_ST AS money), 1)  as Amount_ST , a.Plant , b.NamePlant, c.TypeName ,a.VendorCode,  e.VendorName,
		   a.MvType, a.MvName,
		   --d.[AccountCost],d.[AccountName] ,   --khong tach bang
		   c.AccountCost,c.AccountName,
		   a.DateVoucher ,a.Note ,  a.CostCenter,f.DeptName  , a.Sloc,  a.Status_RQ, a.Flag_price_sap,a.ID
		from  [dbo].[tbl_RQ_MaterialIssue] a  inner join  [dbo].[tbl_Plant] b on a.Plant = b.Plant
		inner join [dbo].[tbl_TypeMater] c on a.TypeID = c.TypeID 
	   --inner join  [dbo].[tbl_ACC_Master] d on d.[TypeID] =  a.TypeID
		left join tbl_VendorMaster e on a.VendorCode =  e.VendorCode 
		inner join tbl_DeptMaster f on a.RQDeptID = f.DeptCode
		where a.Status_Delete = 'N' and a.RequestNo = @RQ
		) 
	union  all
		(
		select  'TOTAL' ,'','',  sum(a.IssueQty) as TotalQty, null,  CONVERT(varchar, CAST(sum(Amount_ST) AS money), 1)  Total_Price, '' , '', '' ,'',  '',
		   '','','','' , '' ,'' ,  '',''  , '',  '','' , ''
			from  [dbo].[tbl_RQ_MaterialIssue] a  inner join  [dbo].[tbl_Plant] b on a.Plant = b.Plant
		inner join [dbo].[tbl_TypeMater] c on a.TypeID = c.TypeID 
	  -- inner join  [dbo].[tbl_ACC_Master] d on d.[TypeID] =  a.TypeID
		left join tbl_VendorMaster e on a.VendorCode =  e.VendorCode 
		inner join tbl_DeptMaster f on a.RQDeptID = f.DeptCode
		where a.Status_Delete = 'N' and a.RequestNo = @RQ
		) 
	
	) as AB



	
    
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Issue_Material_Search_B]    Script Date: 2/27/2026 5:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Issue_Material_Search_B]   --- [SP_Issue_Material_Search_B] 'RQB-PUS-0226-43'
	@RQ nvarchar(500) =  null
AS 
BEGIN
	select AB.* 
	from 
	(
		(
		select convert(varchar(500),ROW_NUMBER() OVER(ORDER BY a.ID ASC)) AS No, a.RequestNo, a.Material , a.IssueQty, a.UnitPrice_ST, 
        CONVERT(varchar, CAST(Amount_ST AS money), 1)  as Amount_ST ,
		 UnitPrice_AC,
        CONVERT(varchar, CAST(Amount_AC AS money), 1)  as Amount_AC,
		 a.Plant , b.NamePlant, c.TypeName ,a.VendorCode,  e.VendorName,
		   a.MvType, a.MvName,
		   --d.[AccountCost],d.[AccountName] , 
		   c.AccountCost,c.AccountName,
		   a.DateVoucher ,a.Note ,  a.CostCenter,f.DeptName  , a.Sloc,  a.Status_RQ,a.Flag_price_sap,a.ID
		from  [dbo].[tbl_RQ_MaterialIssueB] a  inner join  [dbo].[tbl_Plant] b on a.Plant = b.Plant
		inner join [dbo].[tbl_TypeMater] c on a.TypeID = c.TypeID 
	   --inner join  [dbo].[tbl_ACC_Master] d on d.[TypeID] =  a.TypeID
		left join tbl_VendorMaster e on a.VendorCode =  e.VendorCode 
		inner join tbl_DeptMaster f on a.RQDeptID = f.DeptCode
		where a.Status_Delete = 'N' and a.RequestNo = @RQ 
		) 
	union  all
		(
	    select 'TOTAL', '','',  sum(a.IssueQty) as TotalQty, null, CONVERT(varchar, CAST(sum(Amount_ST) AS money), 1)  as Total_Price, null, CONVERT(varchar, CAST(sum(Amount_AC ) AS money), 1), '' , '', '' ,'',  '',
	    '','','','' , '' ,'' ,  '',''  , '',  '','', ''
		from  [dbo].[tbl_RQ_MaterialIssueB] a  inner join  [dbo].[tbl_Plant] b on a.Plant = b.Plant
		inner join [dbo].[tbl_TypeMater] c on a.TypeID = c.TypeID 
	   --inner join  [dbo].[tbl_ACC_Master] d on d.[TypeID] =  a.TypeID
		left join tbl_VendorMaster e on a.VendorCode =  e.VendorCode 
		inner join tbl_DeptMaster f on a.RQDeptID = f.DeptCode
		where a.Status_Delete = 'N' and a.RequestNo = @RQ
		) 
	
	) as AB


	--where AB.RequestNo != ''
	
    
END
GO
/****** Object:  StoredProcedure [dbo].[Update_Form_AB]    Script Date: 2/27/2026 5:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Update_Form_AB]
	@TypeID as nvarchar(50), 
	@TypeName as nvarchar(50), 
	@Decription as nvarchar(50), 
	@NameTemplate as nvarchar(50), 
	@AccountCost as nvarchar(50), 
	@AccountName as nvarchar(50),
	@id as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	update  [Issue_MaterialInOut].[dbo].[tbl_TypeMater] set TypeName=@TypeName,Decription=@Decription,NameTemplate=@NameTemplate,AccountCost=@AccountCost,AccountName=@AccountName 
	where ID=cast(@id as int)

	select 1

END
GO
