USE [Issue_MaterialInOut]
GO
/****** Object:  StoredProcedure [dbo].[Select_PMS_OutSAP_ReportACC]    Script Date: 5/13/2026 2:33:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_PMS_OutSAP_ReportACC] --Select_PMS_OutSAP_ReportACC 
	--@selectedOption as nvarchar(50)
AS
BEGIN
	
SELECT DISTINCT RequestNo,a.TypeID,DocumentNo,a.TypeSapPMS,
(select AccountCost from tbl_TypeMater e where e.TypeID=a.TypeID) as GL,
a.CostCenter,
SanctionName as IAF,
(select sum(b.IssueQty) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] b where b.RequestNo=a.RequestNo)  as QTY,
(select sum(c.Amount_ST) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] c where c.RequestNo=a.RequestNo)  as AmoutST,
a.RQDeptID AS Department,
'B' AS TypeForm,

StatusInchage_Issue as Signature1,
StatusMGR_Issue as Signature2,
StatusGM_Issue as Signature3,
StatusACC_Check as Signature4,
StatusACC_MGR as Signature5,
StatusACC_GM as Signature6,
StatusInchage_Out as Signature7,
StatusMGR_Out as Signature8,
StatusGM_Out as Signature9


FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a
WHERE Status_Delete = 'N' AND Insert_Date BETWEEN DATEADD(MONTH, -1, GETDATE()) AND GETDATE() 


UNION

SELECT DISTINCT RequestNo,a.TypeID,DocumentNo,a.TypeSapPMS,
(select AccountCost from tbl_TypeMater e where e.TypeID=a.TypeID) as GL,
a.CostCenter,
SanctionName as IAF,
(select sum(b.IssueQty) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] b where b.RequestNo=a.RequestNo)  as QTY,
(select sum(c.Amount_ST) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] c where c.RequestNo=a.RequestNo)  as AmoutST,
a.RQDeptID AS Department,
'A' AS TypeForm,

StatusInchage_Issue as Signature1,
StatusMGR_Issue as Signature2,
StatusGM_Issue as Signature3,
StatusACC_Check as Signature4,
StatusACC_MGR as Signature5,
StatusACC_GM as Signature6,
StatusInchage_Out as Signature7,
StatusMGR_Out as Signature8,
StatusGM_Out as Signature9


FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a
WHERE Status_Delete = 'N' AND Insert_Date BETWEEN DATEADD(MONTH, -1, GETDATE()) AND GETDATE() 



END
GO
/****** Object:  StoredProcedure [dbo].[Select_PMS_OutSAP_ReportACC_download]    Script Date: 5/13/2026 2:33:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_PMS_OutSAP_ReportACC_download] --Select_PMS_OutSAP_ReportACC_download '2026-04-01','2026-05-12','2012757'
	@_fromdate as nvarchar(50), 
	@_todate as nvarchar(50), 
	@userid as nvarchar(50)
AS
BEGIN
	
SELECT DISTINCT RequestNo,a.TypeID,DocumentNo,a.TypeSapPMS,
'GL' as GL,
'' as coscenter,
SanctionName as IAF,
(select sum(b.IssueQty) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] b where b.RequestNo=a.RequestNo)  as QTY,
(select sum(c.Amount_ST) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] c where c.RequestNo=a.RequestNo)  as AmoutST

FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a
WHERE Status_Delete = 'N' AND Insert_Date >= CAST(@_fromdate AS DATE)
AND Insert_Date < DATEADD(DAY,1,CAST(@_todate AS DATE))
and ISNULL(StatusMGR_Issue, '') <> 'NG'
and ISNULL(StatusGM_Issue, '') <> 'NG'
and ISNULL(StatusACC_Check, '') <> 'NG'
and ISNULL(StatusACC_MGR, '') <> 'NG'
and ISNULL(StatusACC_GM, '') <> 'NG'
and ISNULL(StatusInchage_Out, '') <> 'NG' 
and ISNULL(StatusMGR_Out, '') <> 'NG'
and ISNULL(StatusGM_Out, '') <> 'NG'
--and StatusMGR_Out is NULL   --chu ky so 8 outdept chua ky

UNION

SELECT DISTINCT RequestNo,a.TypeID,DocumentNo,a.TypeSapPMS,
'GL' as GL,
'' as coscenter,
SanctionName as IAF,
(select sum(b.IssueQty) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] b where b.RequestNo=a.RequestNo)  as QTY,
(select sum(c.Amount_ST) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] c where c.RequestNo=a.RequestNo)  as AmoutST

FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a
WHERE Status_Delete = 'N' AND Insert_Date >= CAST(@_fromdate AS DATE)
AND Insert_Date < DATEADD(DAY,1,CAST(@_todate AS DATE))
and ISNULL(StatusMGR_Issue, '') <> 'NG'
and ISNULL(StatusGM_Issue, '') <> 'NG'
and ISNULL(StatusACC_Check, '') <> 'NG'
and ISNULL(StatusACC_MGR, '') <> 'NG'
and ISNULL(StatusACC_GM, '') <> 'NG'
and ISNULL(StatusInchage_Out, '') <> 'NG' 
and ISNULL(StatusMGR_Out, '') <> 'NG'
and ISNULL(StatusGM_Out, '') <> 'NG'
--and StatusMGR_Out is NULL   --chu ky so 8 outdept chua ky

END
GO
/****** Object:  StoredProcedure [dbo].[Select_PMS_OutSAP_ReportACC_download2]    Script Date: 5/13/2026 2:33:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[Select_PMS_OutSAP_ReportACC_download2] --Select_PMS_OutSAP_ReportACC_download2 '2026-04-01','2026-05-12','2012757'
	@_fromdate as nvarchar(50), 
	@_todate as nvarchar(50), 
	@userid as nvarchar(50)
AS
BEGIN
	
select * from (
		SELECT DISTINCT RequestNo,a.TypeID,DocumentNo,a.TypeSapPMS,
		(select AccountCost from tbl_TypeMater e where e.TypeID=a.TypeID) as GL,
		a.CostCenter,
		SanctionName as IAF,
		(select sum(b.IssueQty) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] b where b.RequestNo=a.RequestNo)  as QTY,
		(select sum(c.Amount_ST) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] c where c.RequestNo=a.RequestNo)  as AmoutST,
		a.RQDeptID AS Department,
		'B' AS TypeForm,
		StatusInchage_Issue as Signature1,
		StatusMGR_Issue as Signature2,
		StatusGM_Issue as Signature3,
		StatusACC_Check as Signature4,
		StatusACC_MGR as Signature5,
		StatusACC_GM as Signature6,
		StatusInchage_Out as Signature7,
		StatusMGR_Out as Signature8,
		StatusGM_Out as Signature9
		FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a
		WHERE Status_Delete = 'N' AND Insert_Date >= CAST(@_fromdate AS DATE)
		AND Insert_Date < DATEADD(DAY,1,CAST(@_todate AS DATE))
		UNION
		SELECT DISTINCT RequestNo,a.TypeID,DocumentNo,a.TypeSapPMS,
		(select AccountCost from tbl_TypeMater e where e.TypeID=a.TypeID) as GL,
		a.CostCenter,
		SanctionName as IAF,
		(select sum(b.IssueQty) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] b where b.RequestNo=a.RequestNo)  as QTY,
		(select sum(c.Amount_ST) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] c where c.RequestNo=a.RequestNo)  as AmoutST,
		a.RQDeptID AS Department,
		'A' AS TypeForm,
		StatusInchage_Issue as Signature1,
		StatusMGR_Issue as Signature2,
		StatusGM_Issue as Signature3,
		StatusACC_Check as Signature4,
		StatusACC_MGR as Signature5,
		StatusACC_GM as Signature6,
		StatusInchage_Out as Signature7,
		StatusMGR_Out as Signature8,
		StatusGM_Out as Signature9
		FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a
		WHERE Status_Delete = 'N' AND Insert_Date >= CAST(@_fromdate AS DATE)
		AND Insert_Date < DATEADD(DAY,1,CAST(@_todate AS DATE)) ) as abc 

END
GO
/****** Object:  StoredProcedure [dbo].[Select_PMS_OutSAP_ReportACC_search]    Script Date: 5/13/2026 2:33:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_PMS_OutSAP_ReportACC_search] --Select_PMS_OutSAP_ReportACC_search '','','' ,'','',''
	@_fromdate as nvarchar(50), 
	@_todate as nvarchar(50), 
	@userid as nvarchar(50),

	@requestno as nvarchar(50), 
	@sanctionno as nvarchar(50), 
	@typeSapPMS as nvarchar(50)
AS
BEGIN

if(@requestno <>'')
begin
		select * from (
		SELECT DISTINCT RequestNo,a.TypeID,DocumentNo,a.TypeSapPMS,
		(select AccountCost from tbl_TypeMater e where e.TypeID=a.TypeID) as GL,
		a.CostCenter,
		SanctionName as IAF,
		(select sum(b.IssueQty) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] b where b.RequestNo=a.RequestNo)  as QTY,
		(select sum(c.Amount_ST) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] c where c.RequestNo=a.RequestNo)  as AmoutST,
		a.RQDeptID AS Department,
		'B' AS TypeForm,
		StatusInchage_Issue as Signature1,
		StatusMGR_Issue as Signature2,
		StatusGM_Issue as Signature3,
		StatusACC_Check as Signature4,
		StatusACC_MGR as Signature5,
		StatusACC_GM as Signature6,
		StatusInchage_Out as Signature7,
		StatusMGR_Out as Signature8,
		StatusGM_Out as Signature9
		FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a
		WHERE Status_Delete = 'N' AND Insert_Date >= CAST(@_fromdate AS DATE)
		AND Insert_Date < DATEADD(DAY,1,CAST(@_todate AS DATE))
		UNION
		SELECT DISTINCT RequestNo,a.TypeID,DocumentNo,a.TypeSapPMS,
		(select AccountCost from tbl_TypeMater e where e.TypeID=a.TypeID) as GL,
		a.CostCenter,
		SanctionName as IAF,
		(select sum(b.IssueQty) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] b where b.RequestNo=a.RequestNo)  as QTY,
		(select sum(c.Amount_ST) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] c where c.RequestNo=a.RequestNo)  as AmoutST,
		a.RQDeptID AS Department,
		'A' AS TypeForm,
		StatusInchage_Issue as Signature1,
		StatusMGR_Issue as Signature2,
		StatusGM_Issue as Signature3,
		StatusACC_Check as Signature4,
		StatusACC_MGR as Signature5,
		StatusACC_GM as Signature6,
		StatusInchage_Out as Signature7,
		StatusMGR_Out as Signature8,
		StatusGM_Out as Signature9
		FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a
		WHERE Status_Delete = 'N' AND Insert_Date >= CAST(@_fromdate AS DATE)
		AND Insert_Date < DATEADD(DAY,1,CAST(@_todate AS DATE)) ) as abc where RequestNo=@requestno
end
else if(@sanctionno <> '')
begin
	select * from (
		SELECT DISTINCT RequestNo,a.TypeID,DocumentNo,a.TypeSapPMS,
		(select AccountCost from tbl_TypeMater e where e.TypeID=a.TypeID) as GL,
		a.CostCenter,
		SanctionName as IAF,
		(select sum(b.IssueQty) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] b where b.RequestNo=a.RequestNo)  as QTY,
		(select sum(c.Amount_ST) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] c where c.RequestNo=a.RequestNo)  as AmoutST,
		a.RQDeptID AS Department,
		'B' AS TypeForm,
		StatusInchage_Issue as Signature1,
		StatusMGR_Issue as Signature2,
		StatusGM_Issue as Signature3,
		StatusACC_Check as Signature4,
		StatusACC_MGR as Signature5,
		StatusACC_GM as Signature6,
		StatusInchage_Out as Signature7,
		StatusMGR_Out as Signature8,
		StatusGM_Out as Signature9
		FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a
		WHERE Status_Delete = 'N' AND Insert_Date >= CAST(@_fromdate AS DATE)
		AND Insert_Date < DATEADD(DAY,1,CAST(@_todate AS DATE))
		UNION
		SELECT DISTINCT RequestNo,a.TypeID,DocumentNo,a.TypeSapPMS,
		(select AccountCost from tbl_TypeMater e where e.TypeID=a.TypeID) as GL,
		a.CostCenter,
		SanctionName as IAF,
		(select sum(b.IssueQty) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] b where b.RequestNo=a.RequestNo)  as QTY,
		(select sum(c.Amount_ST) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] c where c.RequestNo=a.RequestNo)  as AmoutST,
		a.RQDeptID AS Department,
		'A' AS TypeForm,
		StatusInchage_Issue as Signature1,
		StatusMGR_Issue as Signature2,
		StatusGM_Issue as Signature3,
		StatusACC_Check as Signature4,
		StatusACC_MGR as Signature5,
		StatusACC_GM as Signature6,
		StatusInchage_Out as Signature7,
		StatusMGR_Out as Signature8,
		StatusGM_Out as Signature9
		FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a
		WHERE Status_Delete = 'N' AND Insert_Date >= CAST(@_fromdate AS DATE)
		AND Insert_Date < DATEADD(DAY,1,CAST(@_todate AS DATE)) ) as abc where IAF=@sanctionno
end
else if(@typeSapPMS <> '')
begin
	select * from (
		SELECT DISTINCT RequestNo,a.TypeID,DocumentNo,a.TypeSapPMS,
		(select AccountCost from tbl_TypeMater e where e.TypeID=a.TypeID) as GL,
		a.CostCenter,
		SanctionName as IAF,
		(select sum(b.IssueQty) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] b where b.RequestNo=a.RequestNo)  as QTY,
		(select sum(c.Amount_ST) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] c where c.RequestNo=a.RequestNo)  as AmoutST,
		a.RQDeptID AS Department,
		'B' AS TypeForm,
		StatusInchage_Issue as Signature1,
		StatusMGR_Issue as Signature2,
		StatusGM_Issue as Signature3,
		StatusACC_Check as Signature4,
		StatusACC_MGR as Signature5,
		StatusACC_GM as Signature6,
		StatusInchage_Out as Signature7,
		StatusMGR_Out as Signature8,
		StatusGM_Out as Signature9
		FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a
		WHERE Status_Delete = 'N' AND Insert_Date >= CAST(@_fromdate AS DATE)
		AND Insert_Date < DATEADD(DAY,1,CAST(@_todate AS DATE))
		UNION
		SELECT DISTINCT RequestNo,a.TypeID,DocumentNo,a.TypeSapPMS,
		(select AccountCost from tbl_TypeMater e where e.TypeID=a.TypeID) as GL,
		a.CostCenter,
		SanctionName as IAF,
		(select sum(b.IssueQty) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] b where b.RequestNo=a.RequestNo)  as QTY,
		(select sum(c.Amount_ST) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] c where c.RequestNo=a.RequestNo)  as AmoutST,
		a.RQDeptID AS Department,
		'A' AS TypeForm,
		StatusInchage_Issue as Signature1,
		StatusMGR_Issue as Signature2,
		StatusGM_Issue as Signature3,
		StatusACC_Check as Signature4,
		StatusACC_MGR as Signature5,
		StatusACC_GM as Signature6,
		StatusInchage_Out as Signature7,
		StatusMGR_Out as Signature8,
		StatusGM_Out as Signature9
		FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a
		WHERE Status_Delete = 'N' AND Insert_Date >= CAST(@_fromdate AS DATE)
		AND Insert_Date < DATEADD(DAY,1,CAST(@_todate AS DATE)) ) as abc where TypeSapPMS=@typeSapPMS
end
else
begin
	--khong loc gi
	select * from (
		SELECT DISTINCT RequestNo,a.TypeID,DocumentNo,a.TypeSapPMS,
		(select AccountCost from tbl_TypeMater e where e.TypeID=a.TypeID) as GL,
		a.CostCenter,
		SanctionName as IAF,
		(select sum(b.IssueQty) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] b where b.RequestNo=a.RequestNo)  as QTY,
		(select sum(c.Amount_ST) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] c where c.RequestNo=a.RequestNo)  as AmoutST,
		a.RQDeptID AS Department,
		'B' AS TypeForm,
		StatusInchage_Issue as Signature1,
		StatusMGR_Issue as Signature2,
		StatusGM_Issue as Signature3,
		StatusACC_Check as Signature4,
		StatusACC_MGR as Signature5,
		StatusACC_GM as Signature6,
		StatusInchage_Out as Signature7,
		StatusMGR_Out as Signature8,
		StatusGM_Out as Signature9
		FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a
		WHERE Status_Delete = 'N' AND Insert_Date >= CAST(@_fromdate AS DATE)
		AND Insert_Date < DATEADD(DAY,1,CAST(@_todate AS DATE))
		UNION
		SELECT DISTINCT RequestNo,a.TypeID,DocumentNo,a.TypeSapPMS,
		(select AccountCost from tbl_TypeMater e where e.TypeID=a.TypeID) as GL,
		a.CostCenter,
		SanctionName as IAF,
		(select sum(b.IssueQty) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] b where b.RequestNo=a.RequestNo)  as QTY,
		(select sum(c.Amount_ST) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] c where c.RequestNo=a.RequestNo)  as AmoutST,
		a.RQDeptID AS Department,
		'A' AS TypeForm,
		StatusInchage_Issue as Signature1,
		StatusMGR_Issue as Signature2,
		StatusGM_Issue as Signature3,
		StatusACC_Check as Signature4,
		StatusACC_MGR as Signature5,
		StatusACC_GM as Signature6,
		StatusInchage_Out as Signature7,
		StatusMGR_Out as Signature8,
		StatusGM_Out as Signature9
		FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a
		WHERE Status_Delete = 'N' AND Insert_Date >= CAST(@_fromdate AS DATE)
		AND Insert_Date < DATEADD(DAY,1,CAST(@_todate AS DATE)) ) as abc 
end
	





END
GO
/****** Object:  StoredProcedure [dbo].[Select_PMS_OutSAP_ReportACC_section]    Script Date: 5/13/2026 2:33:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_PMS_OutSAP_ReportACC_section] --Select_PMS_OutSAP_ReportACC_section 
	@section as nvarchar(50)
AS
BEGIN

if(@section <> '==Section==')
begin
		select * from (
	
		SELECT DISTINCT RequestNo,a.TypeID,DocumentNo,a.TypeSapPMS,
		(select AccountCost from tbl_TypeMater e where e.TypeID=a.TypeID) as GL,
		a.CostCenter,
		SanctionName as IAF,
		(select sum(b.IssueQty) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] b where b.RequestNo=a.RequestNo)  as QTY,
		(select sum(c.Amount_ST) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] c where c.RequestNo=a.RequestNo)  as AmoutST,
		a.RQDeptID AS Department,
		'B' AS TypeForm,

		StatusInchage_Issue as Signature1,
		StatusMGR_Issue as Signature2,
		StatusGM_Issue as Signature3,
		StatusACC_Check as Signature4,
		StatusACC_MGR as Signature5,
		StatusACC_GM as Signature6,
		StatusInchage_Out as Signature7,
		StatusMGR_Out as Signature8,
		StatusGM_Out as Signature9


		FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a
		WHERE Status_Delete = 'N' AND Insert_Date BETWEEN DATEADD(MONTH, -1, GETDATE()) AND GETDATE() 


		UNION

		SELECT DISTINCT RequestNo,a.TypeID,DocumentNo,a.TypeSapPMS,
		(select AccountCost from tbl_TypeMater e where e.TypeID=a.TypeID) as GL,
		a.CostCenter,
		SanctionName as IAF,
		(select sum(b.IssueQty) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] b where b.RequestNo=a.RequestNo)  as QTY,
		(select sum(c.Amount_ST) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] c where c.RequestNo=a.RequestNo)  as AmoutST,
		a.RQDeptID AS Department,
		'A' AS TypeForm,

		StatusInchage_Issue as Signature1,
		StatusMGR_Issue as Signature2,
		StatusGM_Issue as Signature3,
		StatusACC_Check as Signature4,
		StatusACC_MGR as Signature5,
		StatusACC_GM as Signature6,
		StatusInchage_Out as Signature7,
		StatusMGR_Out as Signature8,
		StatusGM_Out as Signature9


		FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a
		WHERE Status_Delete = 'N' AND Insert_Date BETWEEN DATEADD(MONTH, -1, GETDATE()) AND GETDATE() 
		) as abc where Department = @section
end
else
begin
		--khong loc theo sacntion
		select * from (
	
		SELECT DISTINCT RequestNo,a.TypeID,DocumentNo,a.TypeSapPMS,
		(select AccountCost from tbl_TypeMater e where e.TypeID=a.TypeID) as GL,
		a.CostCenter,
		SanctionName as IAF,
		(select sum(b.IssueQty) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] b where b.RequestNo=a.RequestNo)  as QTY,
		(select sum(c.Amount_ST) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] c where c.RequestNo=a.RequestNo)  as AmoutST,
		a.RQDeptID AS Department,
		'B' AS TypeForm,

		StatusInchage_Issue as Signature1,
		StatusMGR_Issue as Signature2,
		StatusGM_Issue as Signature3,
		StatusACC_Check as Signature4,
		StatusACC_MGR as Signature5,
		StatusACC_GM as Signature6,
		StatusInchage_Out as Signature7,
		StatusMGR_Out as Signature8,
		StatusGM_Out as Signature9


		FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a
		WHERE Status_Delete = 'N' AND Insert_Date BETWEEN DATEADD(MONTH, -1, GETDATE()) AND GETDATE() 


		UNION

		SELECT DISTINCT RequestNo,a.TypeID,DocumentNo,a.TypeSapPMS,
		(select AccountCost from tbl_TypeMater e where e.TypeID=a.TypeID) as GL,
		a.CostCenter,
		SanctionName as IAF,
		(select sum(b.IssueQty) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] b where b.RequestNo=a.RequestNo)  as QTY,
		(select sum(c.Amount_ST) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] c where c.RequestNo=a.RequestNo)  as AmoutST,
		a.RQDeptID AS Department,
		'A' AS TypeForm,

		StatusInchage_Issue as Signature1,
		StatusMGR_Issue as Signature2,
		StatusGM_Issue as Signature3,
		StatusACC_Check as Signature4,
		StatusACC_MGR as Signature5,
		StatusACC_GM as Signature6,
		StatusInchage_Out as Signature7,
		StatusMGR_Out as Signature8,
		StatusGM_Out as Signature9


		FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a
		WHERE Status_Delete = 'N' AND Insert_Date BETWEEN DATEADD(MONTH, -1, GETDATE()) AND GETDATE() 
		) as abc 
end





END
GO
/****** Object:  StoredProcedure [dbo].[Select_PMS_OutSAP_ReportACC_trangthai]    Script Date: 5/13/2026 2:33:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[Select_PMS_OutSAP_ReportACC_trangthai] --Select_PMS_OutSAP_ReportACC_trangthai 
	@trangthai as nvarchar(50),
	@_fromdate as nvarchar(50), 
	@_todate as nvarchar(50)
AS
BEGIN

if(@trangthai = 'NG')
begin
		select * from (
	
		SELECT DISTINCT RequestNo,a.TypeID,DocumentNo,a.TypeSapPMS,
		(select AccountCost from tbl_TypeMater e where e.TypeID=a.TypeID) as GL,
		a.CostCenter,
		SanctionName as IAF,
		(select sum(b.IssueQty) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] b where b.RequestNo=a.RequestNo)  as QTY,
		(select sum(c.Amount_ST) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] c where c.RequestNo=a.RequestNo)  as AmoutST,
		a.RQDeptID AS Department,
		'B' AS TypeForm,

		StatusInchage_Issue as Signature1,
		StatusMGR_Issue as Signature2,
		StatusGM_Issue as Signature3,
		StatusACC_Check as Signature4,
		StatusACC_MGR as Signature5,
		StatusACC_GM as Signature6,
		StatusInchage_Out as Signature7,
		StatusMGR_Out as Signature8,
		StatusGM_Out as Signature9


		FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a
		WHERE Status_Delete = 'N' AND Insert_Date >= CAST(@_fromdate AS DATE)
		AND Insert_Date < DATEADD(DAY,1,CAST(@_todate AS DATE))


		UNION

		SELECT DISTINCT RequestNo,a.TypeID,DocumentNo,a.TypeSapPMS,
		(select AccountCost from tbl_TypeMater e where e.TypeID=a.TypeID) as GL,
		a.CostCenter,
		SanctionName as IAF,
		(select sum(b.IssueQty) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] b where b.RequestNo=a.RequestNo)  as QTY,
		(select sum(c.Amount_ST) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] c where c.RequestNo=a.RequestNo)  as AmoutST,
		a.RQDeptID AS Department,
		'A' AS TypeForm,

		StatusInchage_Issue as Signature1,
		StatusMGR_Issue as Signature2,
		StatusGM_Issue as Signature3,
		StatusACC_Check as Signature4,
		StatusACC_MGR as Signature5,
		StatusACC_GM as Signature6,
		StatusInchage_Out as Signature7,
		StatusMGR_Out as Signature8,
		StatusGM_Out as Signature9


		FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a
		WHERE Status_Delete = 'N' AND Insert_Date >= CAST(@_fromdate AS DATE)
		AND Insert_Date < DATEADD(DAY,1,CAST(@_todate AS DATE))
		) as abc where
    --Signature1 = 'NG'
     Signature2 = 'NG'
    OR Signature3 = 'NG'
    OR Signature4 = 'NG'
    OR Signature5 = 'NG'
    OR Signature6 = 'NG'
    OR Signature7 = 'NG'
    OR Signature8 = 'NG'
    OR Signature9 = 'NG'
		
end
else if (@trangthai = 'OK')
begin
		--loc OK
		select * from (
	
		SELECT DISTINCT RequestNo,a.TypeID,DocumentNo,a.TypeSapPMS,
		(select AccountCost from tbl_TypeMater e where e.TypeID=a.TypeID) as GL,
		a.CostCenter,
		SanctionName as IAF,
		(select sum(b.IssueQty) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] b where b.RequestNo=a.RequestNo)  as QTY,
		(select sum(c.Amount_ST) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] c where c.RequestNo=a.RequestNo)  as AmoutST,
		a.RQDeptID AS Department,
		'B' AS TypeForm,

		StatusInchage_Issue as Signature1,
		StatusMGR_Issue as Signature2,
		StatusGM_Issue as Signature3,
		StatusACC_Check as Signature4,
		StatusACC_MGR as Signature5,
		StatusACC_GM as Signature6,
		StatusInchage_Out as Signature7,
		StatusMGR_Out as Signature8,
		StatusGM_Out as Signature9


		FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a
		WHERE Status_Delete = 'N' AND Insert_Date >= CAST(@_fromdate AS DATE)
		AND Insert_Date < DATEADD(DAY,1,CAST(@_todate AS DATE))


		UNION

		SELECT DISTINCT RequestNo,a.TypeID,DocumentNo,a.TypeSapPMS,
		(select AccountCost from tbl_TypeMater e where e.TypeID=a.TypeID) as GL,
		a.CostCenter,
		SanctionName as IAF,
		(select sum(b.IssueQty) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] b where b.RequestNo=a.RequestNo)  as QTY,
		(select sum(c.Amount_ST) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] c where c.RequestNo=a.RequestNo)  as AmoutST,
		a.RQDeptID AS Department,
		'A' AS TypeForm,

		StatusInchage_Issue as Signature1,
		StatusMGR_Issue as Signature2,
		StatusGM_Issue as Signature3,
		StatusACC_Check as Signature4,
		StatusACC_MGR as Signature5,
		StatusACC_GM as Signature6,
		StatusInchage_Out as Signature7,
		StatusMGR_Out as Signature8,
		StatusGM_Out as Signature9


		FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a
		WHERE Status_Delete = 'N' AND Insert_Date >= CAST(@_fromdate AS DATE)
		AND Insert_Date < DATEADD(DAY,1,CAST(@_todate AS DATE))
		) as abc where 
	 Signature2 = 'OK'
    OR Signature3 = 'OK'
    OR Signature4 = 'OK'
    OR Signature5 = 'OK'
    OR Signature6 = 'OK'
    OR Signature7 = 'OK'
    OR Signature8 = 'OK'
    OR Signature9 = 'OK'
end
else
begin
	--loc all
	select * from (
	
		SELECT DISTINCT RequestNo,a.TypeID,DocumentNo,a.TypeSapPMS,
		(select AccountCost from tbl_TypeMater e where e.TypeID=a.TypeID) as GL,
		a.CostCenter,
		SanctionName as IAF,
		(select sum(b.IssueQty) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] b where b.RequestNo=a.RequestNo)  as QTY,
		(select sum(c.Amount_ST) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] c where c.RequestNo=a.RequestNo)  as AmoutST,
		a.RQDeptID AS Department,
		'B' AS TypeForm,

		StatusInchage_Issue as Signature1,
		StatusMGR_Issue as Signature2,
		StatusGM_Issue as Signature3,
		StatusACC_Check as Signature4,
		StatusACC_MGR as Signature5,
		StatusACC_GM as Signature6,
		StatusInchage_Out as Signature7,
		StatusMGR_Out as Signature8,
		StatusGM_Out as Signature9


		FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a
		WHERE Status_Delete = 'N' AND Insert_Date >= CAST(@_fromdate AS DATE)
		AND Insert_Date < DATEADD(DAY,1,CAST(@_todate AS DATE))


		UNION

		SELECT DISTINCT RequestNo,a.TypeID,DocumentNo,a.TypeSapPMS,
		(select AccountCost from tbl_TypeMater e where e.TypeID=a.TypeID) as GL,
		a.CostCenter,
		SanctionName as IAF,
		(select sum(b.IssueQty) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] b where b.RequestNo=a.RequestNo)  as QTY,
		(select sum(c.Amount_ST) FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] c where c.RequestNo=a.RequestNo)  as AmoutST,
		a.RQDeptID AS Department,
		'A' AS TypeForm,

		StatusInchage_Issue as Signature1,
		StatusMGR_Issue as Signature2,
		StatusGM_Issue as Signature3,
		StatusACC_Check as Signature4,
		StatusACC_MGR as Signature5,
		StatusACC_GM as Signature6,
		StatusInchage_Out as Signature7,
		StatusMGR_Out as Signature8,
		StatusGM_Out as Signature9


		FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a
		WHERE Status_Delete = 'N' AND Insert_Date >= CAST(@_fromdate AS DATE)
		AND Insert_Date < DATEADD(DAY,1,CAST(@_todate AS DATE))
		) as abc 
end





END
GO
/****** Object:  StoredProcedure [dbo].[sp_NextSign_Process]    Script Date: 5/13/2026 2:33:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_NextSign_Process]  
    @requestNo NVARCHAR(50),
    @typeForm NVARCHAR(50),
    @department NVARCHAR(50)
AS
BEGIN

    SET NOCOUNT ON;

    DECLARE @NextStep NVARCHAR(50)
	DECLARE @levelky NVARCHAR(50)

    -- lấy data
    SELECT TOP 1 *
    INTO #tmp
    FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue]
    WHERE RequestNo = @requestNo
      AND Status_Delete = 'N'

    -------------------------------------------------------------------
    -- CHECK theo thứ tự ký
    -------------------------------------------------------------------

    IF EXISTS (SELECT 1 FROM #tmp WHERE StatusInchage_Issue IS NULL OR StatusInchage_Issue <> 'OK')
    BEGIN
        SET @NextStep = 'StatusInchage_Issue'
		set @levelky = '1'
    END

    ELSE IF EXISTS (SELECT 1 FROM #tmp WHERE StatusMGR_Issue IS NULL OR StatusMGR_Issue <> 'OK')
    BEGIN
        SET @NextStep = 'StatusMGR_Issue'
		set @levelky = '2'
    END

    ELSE IF EXISTS (SELECT 1 FROM #tmp WHERE StatusGM_Issue IS NULL OR StatusGM_Issue <> 'OK')
    BEGIN
        SET @NextStep = 'StatusGM_Issue'
		set @levelky = '3'
    END

    ELSE IF EXISTS (SELECT 1 FROM #tmp WHERE StatusACC_Check IS NULL OR StatusACC_Check <> 'OK')
    BEGIN
        SET @NextStep = 'StatusACC_Check'
		set @levelky = '4'
    END

    ELSE IF EXISTS (SELECT 1 FROM #tmp WHERE StatusACC_MGR IS NULL OR StatusACC_MGR <> 'OK')
    BEGIN
        SET @NextStep = 'StatusACC_MGR'
		set @levelky = '5'
    END

    ELSE IF EXISTS (SELECT 1 FROM #tmp WHERE StatusACC_GM IS NULL OR StatusACC_GM <> 'OK')
    BEGIN
        SET @NextStep = 'StatusACC_GM'
		set @levelky = '6'
    END

	------out dept
    ELSE IF EXISTS (SELECT 1 FROM #tmp WHERE StatusInchage_Out IS NULL OR StatusInchage_Out <> 'OK')
    BEGIN
        SET @NextStep = 'StatusInchage_Out'
		set @levelky = '7'
    END

    ELSE IF EXISTS (SELECT 1 FROM #tmp WHERE StatusMGR_Out IS NULL OR StatusMGR_Out <> 'OK')
    BEGIN
        SET @NextStep = 'StatusMGR_Out'
		set @levelky = '8'
    END

    ELSE IF EXISTS (SELECT 1 FROM #tmp WHERE StatusGM_Out IS NULL OR StatusGM_Out <> 'OK')
    BEGIN
        SET @NextStep = 'StatusGM_Out'
		set @levelky = '9'
    END

    ELSE
    BEGIN
        SET @NextStep = 'FINISH'
		set @levelky = '10'
    END

    -------------------------------------------------------------------
    -- trả kết quả
    -------------------------------------------------------------------

	--if(@levelky='2')
	--begin
	--	select FullName AS NextSignature, @levelky as level_sign from [Issue_MaterialInOut].[dbo].[tbl_UserIssueRQ] where Dept=@department and RoleID=2
	--end
	--else if(@levelky='3')
	--begin
	--	select FullName AS NextSignature, @levelky as level_sign from [Issue_MaterialInOut].[dbo].[tbl_UserIssueRQ] where Dept=@department and RoleID=3
	--end
	--else if(@levelky='4')
	--begin
	--	--ke toan check 
	--	select FullName AS NextSignature, @levelky as level_sign from [Issue_MaterialInOut].[dbo].[tbl_UserIssueRQ] where Dept='ACC-CHECK' and RoleID=1
	--end
	--else if(@levelky='5')
	--begin
	--	select FullName AS NextSignature, @levelky as level_sign from [Issue_MaterialInOut].[dbo].[tbl_UserIssueRQ] where Dept='ACC-CHECK' and RoleID=2
	--end
	--else if(@levelky='6')
	--begin
	--	select FullName AS NextSignature, @levelky as level_sign from [Issue_MaterialInOut].[dbo].[tbl_UserIssueRQ] where Dept='ACC-CHECK' and RoleID=3
	--end
	--else if(@levelky='7')
	--begin
	--		--oudept1
	--		select FullName AS NextSignature, @levelky as level_sign from tbl_UserStock_IssueMaterial where Dept in ('PMS','MCS') and RoleID=1
	--end
	--else if(@levelky='8')
	--begin
	--		--oudept2
	--		select FullName as NextSignature, @levelky as level_sign from tbl_UserStock_IssueMaterial where Dept in ('PMS','MCS') and RoleID=2
	--end
	--else if(@levelky='9')
	--begin
	--	--oudept3
	--		select FullName as NextSignature, @levelky as level_sign from tbl_UserStock_IssueMaterial where Dept in ('PMS','MCS') and RoleID=3
	--end
	

    SELECT @NextStep AS NextSignature, @levelky as level_sign

    DROP TABLE #tmp

END
GO
