USE [Issue_MaterialInOut]
GO
/****** Object:  StoredProcedure [dbo].[Select_PMS_OutSAP_ReportACC_download]    Script Date: 5/18/2026 4:52:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_PMS_OutSAP_ReportACC_download] --Select_PMS_OutSAP_ReportACC_download '2026-04-01','2026-05-12','2012757'
	@_fromdate as nvarchar(50), 
	@_todate as nvarchar(50), 
	@userid as nvarchar(50)
AS
BEGIN
	
SELECT DISTINCT RequestNo,a.Material,a.CostCenter as coscenter,a.IssueQty,a.UnitPrice_ST,a.Amount_ST,a.Note,a.Status_RQ,a.Sloc,
(select top 1 TypeName from tbl_TypeMater c where c.TypeID=a.TypeID) as TypeID,
DocumentNo,
(select top 1 AccountCost from tbl_TypeMater d where d.TypeID=a.TypeID) as GL,
SanctionName as IAF,
a.TypeSapPMS


FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a
WHERE Status_Delete = 'N' AND Insert_Date >= CAST(@_fromdate AS DATE)
AND Insert_Date < DATEADD(DAY,1,CAST(@_todate AS DATE))
and ISNULL(StatusMGR_Issue, '') <> 'NG'
and ISNULL(StatusGM_Issue, '') <> 'NG'
and ISNULL(StatusACC_Check, '') <> 'NG'
and ISNULL(StatusACC_MGR, '') <> 'NG'
and ISNULL(StatusACC_GM, '') <> 'NG'
and ISNULL(StatusInchage_Out, '') <> 'NG' 
and ISNULL(StatusMGR_Out, '') <> 'NG'
and ISNULL(StatusGM_Out, '') <> 'NG'
--and StatusMGR_Out is NULL   --chu ky so 8 outdept chua ky

UNION

SELECT DISTINCT RequestNo,a.Material,a.CostCenter as coscenter,a.IssueQty,a.UnitPrice_ST,a.Amount_ST,a.Note,a.Status_RQ,a.Sloc,
(select top 1 TypeName from tbl_TypeMater c where c.TypeID=a.TypeID) as TypeID,
DocumentNo,
(select top 1 AccountCost from tbl_TypeMater d where d.TypeID=a.TypeID) as GL,
SanctionName as IAF,
a.TypeSapPMS


FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a
WHERE Status_Delete = 'N' AND Insert_Date >= CAST(@_fromdate AS DATE)
AND Insert_Date < DATEADD(DAY,1,CAST(@_todate AS DATE))
and ISNULL(StatusMGR_Issue, '') <> 'NG'
and ISNULL(StatusGM_Issue, '') <> 'NG'
and ISNULL(StatusACC_Check, '') <> 'NG'
and ISNULL(StatusACC_MGR, '') <> 'NG'
and ISNULL(StatusACC_GM, '') <> 'NG'
and ISNULL(StatusInchage_Out, '') <> 'NG' 
and ISNULL(StatusMGR_Out, '') <> 'NG'
and ISNULL(StatusGM_Out, '') <> 'NG'
--and StatusMGR_Out is NULL   --chu ky so 8 outdept chua ky

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Issue_Material_BindRQ_NOTApproved_OutStock]    Script Date: 5/18/2026 4:52:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Issue_Material_BindRQ_NOTApproved_OutStock]  ---  [SP_Issue_Material_BindRQ_NOTApproved_OutStock] 'PMS','2020','STORE','1','2000123'
	@DeptCode nvarchar(500),
	@Stock nvarchar(500),
	@RoleName nvarchar(500)  ,
	@RoleAproved nvarchar(500) ,
	@User nvarchar(500)
AS
BEGIN
	 declare @Stock_N  nvarchar(200), @delimiter nvarchar(10)
	SET @delimiter=','
	set  @Stock_N = '''' +  (select REPLACE(@Stock, @delimiter , ''','''))  + '''' 
	declare @Sql nvarchar(max)
	
	print '@RoleName: ' +  @RoleName
	
	IF NOT EXISTS (select  * from  tbl_UserStock_IssueMaterial a where a.UserName =  @User)
	 
		 BEGIN 
		 set @Sql = 
					 '
							select  distinct a.RequestNo ,Insert_Date
							from [dbo].[tbl_RQ_MaterialIssue] a
							where Status_Delete = ''N'' and     (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'')  
							 and a.[Sloc] IN('+@Stock_N+' )
							 and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
							order by  Insert_Date desc
					'
					print 'D4'
		 END

ELSE

	 BEGIN 
	 	IF (@RoleAproved  = 1 and @RoleName = 'STORE')  
	begin
	--bo dieu kien a.[Sloc] IN('+@Stock_N+' ) and  (PMS out all)   --and a.[Sloc] IN('+@Stock_N+' )
	if(@DeptCode = 'ACC')
	begin
			set @Sql = 
		 '
					select  distinct a.RequestNo 
					from [dbo].[tbl_RQ_MaterialIssue] a
					where Status_Delete = ''N'' and     (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'')  
					   and StatusACC_GM  =''OK'' and (StatusInchage_Out is NULL or  StatusInchage_Out  = ''NG'')
					   and TypeID in (''15.1'',''15.2'',''16.1'',''16.2'')
					  and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
					order by  a.RequestNo desc
				'
	end
	else
	begin
			set @Sql = 
		 '
					select  distinct a.RequestNo 
					from [dbo].[tbl_RQ_MaterialIssue] a
					where Status_Delete = ''N'' and     (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'')  
					   and StatusACC_GM  =''OK'' and (StatusInchage_Out is NULL or  StatusInchage_Out  = ''NG'')
					   and TypeID not in (''15.1'',''15.2'',''16.1'',''16.2'')
					  and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
					order by  a.RequestNo desc
				'
	end

	--set @Sql = 
	-- '
	--			select  distinct a.RequestNo 
	--			from [dbo].[tbl_RQ_MaterialIssue] a
	--			where Status_Delete = ''N'' and     (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'')  
	--			   and StatusACC_GM  =''OK'' and (StatusInchage_Out is NULL or  StatusInchage_Out  = ''NG'')
	--			  and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
	--			order by  a.RequestNo desc
	--		'
	  
			print 'D1'

	end

   
	IF (@RoleAproved  = 2 and @RoleName = 'STORE')
	begin
		--bo dieu kien a.[Sloc] IN('+@Stock_N+' ) and  (PMS out all)
		if(@DeptCode = 'ACC')
		begin
			 set @Sql = 
		   '
					select  distinct a.RequestNo 
					from [dbo].[tbl_RQ_MaterialIssue] a
					where Status_Delete = ''N'' and    (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'') and 
					   StatusInchage_Out  =''OK'' and (StatusMGR_Out is NULL or  StatusMGR_Out  = ''NG'')
					   and TypeID in (''15.1'',''15.2'',''16.1'',''16.2'')
					 and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
					order by  a.RequestNo desc
			 '
		end
		else
		begin
				 set @Sql = 
		   '
					select  distinct a.RequestNo 
					from [dbo].[tbl_RQ_MaterialIssue] a
					where Status_Delete = ''N'' and    (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'') and 
					   StatusInchage_Out  =''OK'' and (StatusMGR_Out is NULL or  StatusMGR_Out  = ''NG'')
					   and TypeID not in (''15.1'',''15.2'',''16.1'',''16.2'')
					 and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
					order by  a.RequestNo desc
			 '
		end

	  --set @Sql = 
	  -- '
			--	select  distinct a.RequestNo 
			--	from [dbo].[tbl_RQ_MaterialIssue] a
			--	where Status_Delete = ''N'' and    (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'') and 
			--	   StatusInchage_Out  =''OK'' and (StatusMGR_Out is NULL or  StatusMGR_Out  = ''NG'')
			--	 and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
			--	order by  a.RequestNo desc
		 --'
	 
		 print 'D2'
	end

	IF (@RoleAproved  = 3 and @RoleName = 'STORE')
			begin
			--and a.[Sloc] IN('+@Stock_N+' )  --bo dieu kien a.[Sloc] IN('+@Stock_N+' ) and  (PMS out all)
			----11.05.2026 - Phan loai requet out dep level 3 (type : 15. va 16.)
			if(@DeptCode = 'ACC')
			begin
				set @Sql = 
			  '
						select  distinct a.RequestNo 
						from [dbo].[tbl_RQ_MaterialIssue] a
						where Status_Delete = ''N'' and     (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'')  
						 and  StatusMGR_Out  =''OK'' and (StatusGM_Out is NULL or  StatusGM_Out = ''NG'')
						 and TypeID in (''15.1'',''15.2'',''16.1'',''16.2'')
						 and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
						order by  a.RequestNo desc
				
				'
			end
			else
			begin
				set @Sql = 
			  '
						select  distinct a.RequestNo 
						from [dbo].[tbl_RQ_MaterialIssue] a
						where Status_Delete = ''N'' and     (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'')  
						 and  StatusMGR_Out  =''OK'' and (StatusGM_Out is NULL or  StatusGM_Out = ''NG'')
						 and TypeID not in (''15.1'',''15.2'',''16.1'',''16.2'')
						 and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
						order by  a.RequestNo desc
				
				'
			end
			 
				--		select  distinct a.RequestNo ,Insert_Date
				--		from [dbo].[tbl_RQ_MaterialIssue] a
				--		where Status_Delete = ''N'' and     (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'')  
				--		 and  StatusMGR_Out  =''OK'' and (StatusGM_Out is NULL or  StatusGM_Out = ''NG'')
				--		 and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
				--		order by  Insert_Date desc
				--'
				print 'D3'
			end
	 END
 	
	exec (@Sql)
	print @Sql
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Issue_Material_BindRQ_NOTApproved_OutStock_B]    Script Date: 5/18/2026 4:52:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Issue_Material_BindRQ_NOTApproved_OutStock_B]  --- [SP_Issue_Material_BindRQ_NOTApproved_OutStock_B] 'COS','2020,2020,2020,2020','STORE','3','2000032'
	@DeptCode nvarchar(500),
	@Stock nvarchar(500),
	@RoleName nvarchar(500)  ,
	@RoleAproved nvarchar(500) ,
	@User nvarchar(500)
AS
BEGIN
	 declare @Stock_N  nvarchar(200), @delimiter nvarchar(10)
	SET @delimiter=','
	set  @Stock_N = '''' +  (select REPLACE(@Stock, @delimiter , ''','''))  + '''' 
	declare @Sql nvarchar(max)
	
	print '@RoleName: ' +  @RoleName
	
	IF NOT EXISTS (select  * from  tbl_UserStock_IssueMaterial a where a.UserName =  @User)	 
		 BEGIN 
		 set @Sql = 
					 '
							select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
							from [dbo].[tbl_RQ_MaterialIssueB] a
							where Status_Delete = ''N'' and     (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'')  
							 and a.[Sloc] IN('+@Stock_N+' )
							 and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
							order by  Insert_Date desc
					'
					print 'D4'
		 END

ELSE

	 BEGIN 
	 	IF (@RoleAproved  = 1 and @RoleName = 'STORE')  
	begin
	--bo dieu kien a.[Sloc] IN('+@Stock_N+' ) and  (PMS out all)
		if(@DeptCode = 'ACC')
		begin
				set @Sql = 
			 '
					select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
					from [dbo].[tbl_RQ_MaterialIssueB] a
					where Status_Delete = ''N'' and     (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'')  
					   and StatusACC_GM  =''OK'' and (StatusInchage_Out is NULL or  StatusInchage_Out  = ''NG'')
					   and TypeID in (''15.1'',''15.2'',''16.1'',''16.2'')
					  and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
					order by  Insert_Date desc
				'
		end
		else
		begin
				set @Sql = 
			 '
					select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
					from [dbo].[tbl_RQ_MaterialIssueB] a
					where Status_Delete = ''N'' and     (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'')  
					   and StatusACC_GM  =''OK'' and (StatusInchage_Out is NULL or  StatusInchage_Out  = ''NG'')
					   and TypeID not in (''15.1'',''15.2'',''16.1'',''16.2'')
					  and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
					order by  Insert_Date desc
				'
		end

	--set @Sql = 
	--     '
	--			select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
	--			from [dbo].[tbl_RQ_MaterialIssueB] a
	--			where Status_Delete = ''N'' and     (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'')  
	--			   and StatusACC_GM  =''OK'' and (StatusInchage_Out is NULL or  StatusInchage_Out  = ''NG'')
	--			  and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
	--			order by  Insert_Date desc
	--		'
			print 'D1'
	end

   
	IF (@RoleAproved  = 2 and @RoleName = 'STORE')
	begin
		if(@DeptCode = 'ACC')
		begin
				set @Sql = 
			 '
					select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
					from [dbo].[tbl_RQ_MaterialIssueB] a
					where Status_Delete = ''N'' and    (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'') and 
					   StatusInchage_Out  =''OK'' and (StatusMGR_Out is NULL or  StatusMGR_Out  = ''NG'')
					   and TypeID in (''15.1'',''15.2'',''16.1'',''16.2'')
					 and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
					order by  Insert_Date desc
			 '
		end
		else
		begin
				set @Sql = 
			 '
					select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
					from [dbo].[tbl_RQ_MaterialIssueB] a
					where Status_Delete = ''N'' and    (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'') and 
					   StatusInchage_Out  =''OK'' and (StatusMGR_Out is NULL or  StatusMGR_Out  = ''NG'')
					   and TypeID not in (''15.1'',''15.2'',''16.1'',''16.2'')
					 and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
					order by  Insert_Date desc
			 '
		end

	  --set @Sql = 
	  --   '
			--	select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
			--	from [dbo].[tbl_RQ_MaterialIssueB] a
			--	where Status_Delete = ''N'' and    (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'') and 
			--	   StatusInchage_Out  =''OK'' and (StatusMGR_Out is NULL or  StatusMGR_Out  = ''NG'')
			--	 and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
			--	order by  Insert_Date desc
		 --'
		 print 'D2'
	end

	IF (@RoleAproved  = 3 and @RoleName = 'STORE')
			begin
			----11.05.2026 - Phan loai requet out dep level 3 (type : 15. va 16.)
			if(@DeptCode = 'ACC')
			begin
				--chi loc 2 type 15.16
				set @Sql = 
				 '
						select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
						from [dbo].[tbl_RQ_MaterialIssueB] a
						where Status_Delete = ''N'' and     (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'')  
						   and  StatusMGR_Out  =''OK'' and (StatusGM_Out is NULL or  StatusGM_Out = ''NG'')
						   and TypeID in (''15.1'',''15.2'',''16.1'',''16.2'')
						 and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
						order by  Insert_Date desc
				'
			end
			else
			begin
				----bo 2 type 15 va 16 ra
				set @Sql = 
				 '
						select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
						from [dbo].[tbl_RQ_MaterialIssueB] a
						where Status_Delete = ''N'' and     (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'')  
						   and  StatusMGR_Out  =''OK'' and (StatusGM_Out is NULL or  StatusGM_Out = ''NG'')
						   and TypeID not in (''15.1'',''15.2'',''16.1'',''16.2'')
						 and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
						order by  Insert_Date desc
				'
			end
			--old
			 --set @Sql = 
				-- '
				--		select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
				--		from [dbo].[tbl_RQ_MaterialIssueB] a
				--		where Status_Delete = ''N'' and     (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'')  
				--		   and  StatusMGR_Out  =''OK'' and (StatusGM_Out is NULL or  StatusGM_Out = ''NG'')
				--		 and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
				--		order by  Insert_Date desc
				--'
				print 'D3'
			end
	 END
 



	
	exec (@Sql)
	print @Sql
END
GO
