USE [Issue_MaterialInOut]
GO
/****** Object:  StoredProcedure [dbo].[Export_OtherIssueSAP]    Script Date: 5/4/2026 11:53:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Export_OtherIssueSAP]  --Export_OtherIssueSAP 'RQA-IT-0326-47','B','2015597_1','IAF19789',''
	@Requestno as nvarchar(50), 
	@TypeName as nvarchar(50),
	@userid as nvarchar(20),
	@Sanction as nvarchar(50),
	@MVT as nvarchar(50)
AS
BEGIN
	
	if exists(select * from [Issue_MaterialInOut].[dbo].[tbl_UserStock_IssueMaterial] where [UserName]=@userid)
	begin
		--ton tai user PMS thi moi cho phep export
		if(@TypeName = 'A')
		begin
			--from A
			if exists(select * from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] where RequestNo=@Requestno and Status_Delete='N')  ---and Status_Approved_OutSAP<>'Pending'
			begin
					--PMS ky roi moi duoc out sap
					if(@MVT <>'')
					begin
						select 1, a.Plant,a.Material,
						 a.Sloc as 'Issue Sloc',
						  '' as 'Receive Sloc',
						  a.IssueQty as Qty,
						  (select top 1 b.AccountCost from tbl_TypeMater b where b.TypeID=a.TypeID) as 'GL account',
						  a.CostCenter,
						  '' as Reservation,
						  '' as Reservationitem,
						  '' as ReceivingMaterial,
						  '' as ReceivingPlant,
						  --'' as Reason
						  a.Reason
						  from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a where a.RequestNo=@Requestno and Export_flag_outscrap=0 and MvType=@MVT -- a.RequestNo=@Requestno
					end
					else
					begin
						select 1, a.Plant,a.Material,
						 a.Sloc as 'Issue Sloc',						 
						  '' as 'Receive Sloc',
						  a.IssueQty as Qty,
						  (select top 1 b.AccountCost from tbl_TypeMater b where b.TypeID=a.TypeID) as 'GL account',
						  a.CostCenter,
						  '' as Reservation,
						  '' as Reservationitem,
						  '' as ReceivingMaterial,
						  '' as ReceivingPlant,
						  --'' as Reason
						  a.Reason
						  from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a where a.RequestNo=@Requestno and Export_flag_outscrap=0 -- a.RequestNo=@Requestno
					end
					  ---truong hop update => thuc hien auto

					--select 1
			end
			else
			begin
				--NG kiem tra lai
				--select 0
				 select 0, '' as Plant,'' as Material, '' as 'Issue Sloc','' as 'Receive Sloc', ''  as Qty,'' as 'GL account', '' as CostCenter 
			end
		end
		else
		begin
			 --form B
			 if exists(select * from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] where RequestNo=@Requestno and Status_Delete='N')  ---and Status_Approved_OutSAP<>'Pending'
				begin
						--PMS ky roi moi duoc out sap
						if(@MVT <>'')
						begin
								select 1, a.Plant,a.Material,
								a.Sloc as 'Issue Sloc',								
								'' as 'Receive Sloc',
								a.IssueQty as Qty,
								  (select b.AccountCost from tbl_TypeMater b where b.TypeID=a.TypeID) as 'GL account',
								  a.CostCenter, 
								  '' as Reservation,
								  '' as Reservationitem,
								  '' as ReceivingMaterial,
								  '' as ReceivingPlant,
								  --'' as Reason
								  a.Reason
								  from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a where  a.RequestNo=@Requestno and Export_flag_outscrap=0 and MvType=@MVT -- a.RequestNo=@Requestno
						end
						else
						begin
									select 1, a.Plant,a.Material,
									a.Sloc as 'Issue Sloc',									
									'' as 'Receive Sloc',
									a.IssueQty as Qty,
									  (select b.AccountCost from tbl_TypeMater b where b.TypeID=a.TypeID) as 'GL account',
									  a.CostCenter, 
									  '' as Reservation,
									  '' as Reservationitem,
									  '' as ReceivingMaterial,
									  '' as ReceivingPlant,
									  --'' as Reason
									  a.Reason
									  from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a where a.RequestNo=@Requestno and Export_flag_outscrap=0  -- a.RequestNo=@Requestno
						end
							  ---truong hop update => thuc hien auto

						--select 1
				end
				else
				begin
					--NG kiem tra lai
					--select 0
					select 0, '' as Plant,'' as Material, '' as 'Issue Sloc','' as 'Receive Sloc', ''  as Qty,'' as 'GL account', '' as CostCenter 
				end
		end

	end
	else
	begin
		--user khong co quyen exxport
		select 2
	end

END
GO
/****** Object:  StoredProcedure [dbo].[Export_Outscrap]    Script Date: 5/4/2026 11:53:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Export_Outscrap]  --Export_Outscrap 'RQA-IT-0326-47','B','2015597_1','IAF19789',''
	@Requestno as nvarchar(50), 
	@TypeName as nvarchar(50),
	@userid as nvarchar(20),
	@Sanction as nvarchar(50),
	@MVT as nvarchar(50)
AS
BEGIN
	
	if exists(select * from [Issue_MaterialInOut].[dbo].[tbl_UserStock_IssueMaterial] where [UserName]=@userid)
	begin
		--ton tai user PMS thi moi cho phep export
		if(@TypeName = 'A')
		begin
			--from A
			if exists(select * from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] where SanctionName=@Sanction and Status_Delete='N')  ---and Status_Approved_OutSAP<>'Pending'
			begin
					--PMS ky roi moi duoc out sap
					if(@MVT <>'')
					begin
						select 1, a.Plant,a.Material,
					  --a.Sloc as 'Issue Sloc',
						  CASE 
							WHEN LEFT(a.Sloc,1) = '1' THEN '1G99'
							WHEN LEFT(a.Sloc,1) = '6' THEN '6G99'
							WHEN LEFT(a.Sloc,1) = '8' THEN '8G99'
							WHEN LEFT(a.Sloc,1) = '9' THEN '9G99'
							WHEN LEFT(a.Sloc,1) = '5' THEN '5G99'
							ELSE a.Sloc
						 END AS 'Issue Sloc',
						  '' as 'Receive Sloc',
						  a.IssueQty as Qty,
						  --(select top 1 b.AccountCost from tbl_TypeMater b where b.TypeID=a.TypeID) as 'GL account',
						  '' as 'GL account',
						  a.CostCenter,
						  '' as Reservation,
						  '' as Reservationitem,
						  '' as ReceivingMaterial,
						  '' as ReceivingPlant,
						  '' as Reason
						  from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a where a.SanctionName=@Sanction and Export_flag_outscrap=0 and MvType=@MVT -- a.RequestNo=@Requestno
					end
					else
					begin
						select 1, a.Plant,a.Material,
					  --a.Sloc as 'Issue Sloc',
						  CASE 
							WHEN LEFT(a.Sloc,1) = '1' THEN '1G99'
							WHEN LEFT(a.Sloc,1) = '6' THEN '6G99'
							WHEN LEFT(a.Sloc,1) = '8' THEN '8G99'
							WHEN LEFT(a.Sloc,1) = '9' THEN '9G99'
							WHEN LEFT(a.Sloc,1) = '5' THEN '5G99'
							ELSE a.Sloc
						 END AS 'Issue Sloc',
						  '' as 'Receive Sloc',
						  a.IssueQty as Qty,
						  --(select top 1 b.AccountCost from tbl_TypeMater b where b.TypeID=a.TypeID) as 'GL account',
						  '' as 'GL account',
						  a.CostCenter,
						  '' as Reservation,
						  '' as Reservationitem,
						  '' as ReceivingMaterial,
						  '' as ReceivingPlant,
						  '' as Reason
						  from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a where a.SanctionName=@Sanction and Export_flag_outscrap=0 -- a.RequestNo=@Requestno
					end
					  ---truong hop update => thuc hien auto

					--select 1
			end
			else
			begin
				--NG kiem tra lai
				--select 0
				 select 0, '' as Plant,'' as Material, '' as 'Issue Sloc','' as 'Receive Sloc', ''  as Qty,'' as 'GL account', '' as CostCenter 
			end
		end
		else
		begin
			 --form B
			 if exists(select * from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] where SanctionName=@Sanction and Status_Delete='N')  ---and Status_Approved_OutSAP<>'Pending'
				begin
						--PMS ky roi moi duoc out sap
						if(@MVT <>'')
						begin
								select 1, a.Plant,a.Material,
								--a.Sloc as 'Issue Sloc',
								CASE 
							WHEN LEFT(a.Sloc,1) = '1' THEN '1G99'
							WHEN LEFT(a.Sloc,1) = '6' THEN '6G99'
							WHEN LEFT(a.Sloc,1) = '8' THEN '8G99'
							WHEN LEFT(a.Sloc,1) = '9' THEN '9G99'
							WHEN LEFT(a.Sloc,1) = '5' THEN '5G99'
							ELSE a.Sloc
						 END AS 'Issue Sloc',
								'' as 'Receive Sloc',
								a.IssueQty as Qty,
								  --(select b.AccountCost from tbl_TypeMater b where b.TypeID=a.TypeID) as 'GL account',
								  '' as 'GL account',
								  a.CostCenter, 
								  '' as Reservation,
								  '' as Reservationitem,
								  '' as ReceivingMaterial,
								  '' as ReceivingPlant,
								  '' as Reason
								  from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a where  a.SanctionName=@Sanction and Export_flag_outscrap=0 and MvType=@MVT -- a.RequestNo=@Requestno
						end
						else
						begin
									select 1, a.Plant,a.Material,
									--a.Sloc as 'Issue Sloc',
									CASE 
								WHEN LEFT(a.Sloc,1) = '1' THEN '1G99'
								WHEN LEFT(a.Sloc,1) = '6' THEN '6G99'
								WHEN LEFT(a.Sloc,1) = '8' THEN '8G99'
								WHEN LEFT(a.Sloc,1) = '9' THEN '9G99'
								WHEN LEFT(a.Sloc,1) = '5' THEN '5G99'
								ELSE a.Sloc
							 END AS 'Issue Sloc',
									'' as 'Receive Sloc',
									a.IssueQty as Qty,
									  --(select b.AccountCost from tbl_TypeMater b where b.TypeID=a.TypeID) as 'GL account',
									  '' as 'GL account',
									  a.CostCenter, 
									  '' as Reservation,
									  '' as Reservationitem,
									  '' as ReceivingMaterial,
									  '' as ReceivingPlant,
									  '' as Reason
									  from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a where a.SanctionName=@Sanction and Export_flag_outscrap=0  -- a.RequestNo=@Requestno
						end
							  ---truong hop update => thuc hien auto

						--select 1
				end
				else
				begin
					--NG kiem tra lai
					--select 0
					select 0, '' as Plant,'' as Material, '' as 'Issue Sloc','' as 'Receive Sloc', ''  as Qty,'' as 'GL account', '' as CostCenter 
				end
		end

	end
	else
	begin
		--user khong co quyen exxport
		select 2
	end

END
GO
/****** Object:  StoredProcedure [dbo].[Select_PMS_OutSAP_new]    Script Date: 5/4/2026 11:53:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_PMS_OutSAP_new] --Select_PMS_OutSAP_new 'PMS'
	@selectedOption as nvarchar(50)
AS
BEGIN
	
SELECT DISTINCT RequestNo,RQDeptID AS Department, Status_RQ,StatusMGR_Out as 'Status_Approved_OutSAP','B' AS TypeForm,SanctionName,DocumentNo,
--UserCreate,
(select top 1 [FullName] from tbl_UserIssueRQ b where b.UserLogin=a.UserCreate ) as UserCreate,
a.TypeSapPMS,
(select top 1 c.TYPENAME from tbl_TypeMater c where c.TypeID=a.TypeID ) as TypeID,
--a.TypeID,
--'' commentlog
(select top 1 d.Content_Comment from tbl_RQMaterial_Comment d where d.RQ=a.RequestNo ) as commentlog,
Linkfile,
CommentPMS,
Satatu_tranferPMS,
Status_Finish_PMS
--convert(date,DateACC_GM) as DateACC_GM
FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a
WHERE Status_Delete = 'N' AND Insert_Date BETWEEN DATEADD(MONTH, -1, GETDATE()) AND GETDATE() and TypeOutSap=@selectedOption
and StatusACC_GM='OK' -- ke toan ky PM moi duoc nhin thay
--and ISNULL(StatusMGR_Issue, '') <> 'NG'
--and ISNULL(StatusGM_Issue, '') <> 'NG'
--and ISNULL(StatusACC_Check, '') <> 'NG'
--and ISNULL(StatusACC_MGR, '') <> 'NG'
and ISNULL(StatusInchage_Out, '') <> 'NG' 
and ISNULL(StatusMGR_Out, '') <> 'NG'
and ISNULL(StatusGM_Out, '') <> 'NG'
and StatusMGR_Out is NULL   --chu ky so 8 outdept chua ky
		
--and ( a.[CodeACC_GM] <>'' or a.[CodeACC_GM] is not NULL)

UNION

SELECT DISTINCT RequestNo,RQDeptID AS Department,Status_RQ,StatusMGR_Out as 'Status_Approved_OutSAP','A' AS TypeForm,SanctionName,DocumentNo,
--UserCreate,
(select top 1 [FullName] from [Issue_MaterialInOut].[dbo].[tbl_UserIssueRQ] b where b.UserLogin=a.UserCreate ) as UserCreate,
a.TypeSapPMS,
(select top 1 c.TYPENAME from tbl_TypeMater c where c.TypeID=a.TypeID ) as TypeID,
--a.TypeID,
--'' commentlog
(select top 1 d.Content_Comment from tbl_RQMaterial_Comment d where d.RQ=a.RequestNo ) as commentlog,
Linkfile,
CommentPMS,
Satatu_tranferPMS,
Status_Finish_PMS
--convert(date,DateACC_GM) as DateACC_GM
FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a
WHERE Status_Delete = 'N' AND Insert_Date BETWEEN DATEADD(MONTH, -1, GETDATE()) AND GETDATE() and TypeOutSap=@selectedOption
and StatusACC_GM='OK' -- ke toan ky PM moi duoc nhin thay
--and ISNULL(StatusMGR_Issue, '') <> 'NG'
--and ISNULL(StatusGM_Issue, '') <> 'NG'
--and ISNULL(StatusACC_Check, '') <> 'NG'
--and ISNULL(StatusACC_MGR, '') <> 'NG'
and ISNULL(StatusInchage_Out, '') <> 'NG'
and ISNULL(StatusMGR_Out, '') <> 'NG'
and ISNULL(StatusGM_Out, '') <> 'NG'
and StatusMGR_Out is NULL   --chu ky so 8 outdept chua ky


END
GO
/****** Object:  StoredProcedure [dbo].[Select_PMS_OutSAP_search2_new2]    Script Date: 5/4/2026 11:53:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_PMS_OutSAP_search2_new2] --Select_PMS_OutSAP_search2_new2 '2026-03-06','2026-04-22','','','','ALL','MCS'
	@_fromdate as nvarchar(50), 
	@_todate as nvarchar(50), 
	@requestno as nvarchar(50),
	@sanctionno as nvarchar(50),
	@typesapPMS as nvarchar(50),
	@status_issueout as nvarchar(50),
	@selectedOption as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	---SET NOCOUNT ON;
	declare @sql  as nvarchar(max)
	set @sql = '
	select * from (
	SELECT RequestNo, 
			RQDeptID AS Department, Status_RQ, 
               StatusMGR_Out as ''Status_Approved_OutSAP'', 
			   ''B'' AS TypeForm, SanctionName, DocumentNo,Status_Delete,
			   (select top 1 [FullName] from tbl_UserIssueRQ b where b.UserLogin=a.UserCreate ) as UserCreate,
TypeSapPMS,
(select top 1 c.TYPENAME from tbl_TypeMater c where c.TypeID=a.TypeID ) as TypeID,
(select top 1 d.Content_Comment from tbl_RQMaterial_Comment d where d.RQ=a.RequestNo ) as commentlog,
Linkfile,
CommentPMS,
Satatu_tranferPMS,
StatusMGR_Out,
Status_Finish_PMS
        FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a
        WHERE StatusACC_GM=''OK'' 
		and ISNULL(StatusInchage_Out, '') <> ''NG'' 
and ISNULL(StatusMGR_Out, '') <> ''NG''
and ISNULL(StatusGM_Out, '') <> ''NG''
		and Insert_Date BETWEEN CONVERT(DATETIME, '''+@_fromdate+''', 120) AND DATEADD(SECOND, 86399, CONVERT(DATETIME, '''+@_todate+''', 120))  and TypeOutSap='''+@selectedOption+'''

        UNION

        SELECT RequestNo,
	  RQDeptID AS Department, Status_RQ, 
               StatusMGR_Out as ''Status_Approved_OutSAP'', 
			   ''A'' AS TypeForm, SanctionName, DocumentNo,Status_Delete,
			    (select top 1 [FullName] from tbl_UserIssueRQ b where b.UserLogin=a.UserCreate ) as UserCreate,
TypeSapPMS,
(select top 1 c.TYPENAME from tbl_TypeMater c where c.TypeID=a.TypeID ) as TypeID,
(select top 1 d.Content_Comment from tbl_RQMaterial_Comment d where d.RQ=a.RequestNo ) as commentlog,
Linkfile,
CommentPMS,
Satatu_tranferPMS,
StatusMGR_Out,
Status_Finish_PMS
        FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a
        WHERE StatusACC_GM=''OK'' 
		and ISNULL(StatusInchage_Out, '') <> ''NG'' 
and ISNULL(StatusMGR_Out, '') <> ''NG''
and ISNULL(StatusGM_Out, '') <> ''NG''
		and Insert_Date BETWEEN CONVERT(DATETIME, '''+@_fromdate+''', 120) AND DATEADD(SECOND, 86399, CONVERT(DATETIME, '''+@_todate+''', 120)) and TypeOutSap='''+@selectedOption+'''
		) as ABC where Status_Delete = ''N''
	'
   
   if(@requestno <>'')
   begin
		set @sql += ' and RequestNo='''+@requestno+''' '
   end

   if(@sanctionno <>'')
   begin
		set @sql += ' and NameSacntion='''+@sanctionno+''' '
   end
   if(@typesapPMS <> '')
   begin
		set @sql += ' and TypeSapPMS='''+@typesapPMS+''' '
   end

   if(@status_issueout='Pending')
   begin
		set @sql += ' and StatusMGR_Out is NULL '
   end

   print @sql
   exec (@sql)

   --CodeMGR_Out is NULL

END
GO
