USE [Issue_MaterialInOut]
GO
/****** Object:  StoredProcedure [dbo].[Select_PMS_OutSAP_download2]    Script Date: 5/21/2026 12:19:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_PMS_OutSAP_download2]  -- Select_PMS_OutSAP_download2 '2026-04-11','2026-05-11','2005211','1','PMS','Pending'
	@_fromdate as nvarchar(50), 
	@_todate as nvarchar(50), 
	@userid as nvarchar(50),
	@typedownload as nvarchar(5),
	@selectedOption as nvarchar(50),  -- tham so PMS or MCS
	@status_issueout as nvarchar(50)		--filter Pending / ALL
AS
BEGIN
----- chu ky so 8 out dept: CodeMGR_Out, StatusMGR_Out Null thi xuat ra 
--- chang LOG download all de check
IF (EXISTS (SELECT * FROM [Issue_MaterialInOut].[dbo].[tbl_UserStock_IssueMaterial] WHERE ([UserName] = @userid)) or  @userid='2011948')
    BEGIN

	if(@typedownload = '0')
	begin
		--truong hop download CSV format tổng (Transfer) G99
		-- **** dieu kien ****:  cột U trong file pending list mà blank thì xuất toàn bộ ra file csv tổng
		--- chu ky so 8 out dept: CodeMGR_Out, StatusMGR_Out Null thi xuat ra 		
		if(@status_issueout='Pending')
		begin
				SELECT DISTINCT 1, Plant,Material,Sloc,
				--'' as ReceiveSloc,
				 CASE 
										WHEN LEFT(a.Sloc,1) = '1' THEN '1G99'
										WHEN LEFT(a.Sloc,1) = '6' THEN '6G99'
										WHEN LEFT(a.Sloc,1) = '8' THEN '8G99'
										WHEN LEFT(a.Sloc,1) = '9' THEN '9G99'
										WHEN LEFT(a.Sloc,1) = '5' THEN '5G99'
										ELSE a.Sloc
									END AS 'Receive Sloc',
				IssueQty as Qty,RequestNo, MvType
				FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a
				WHERE  StatusACC_GM is not NULL  and  --- chu ky so 6 cua level 3 ACC
				isnull(Satatu_tranferPMS,'') = '' and  --- điều kiện cột status tranfer sap bị bỏ trông
				--StatusMGR_Out is not NULL and  
				--TypeOutSap=@selectedOption and
				TypeID not in ('15.1','15.2','16.1','16.2') and
				TypeSapPMS='Scrap' and
				 ISNULL(StatusMGR_Issue, '') <> 'NG'
				and ISNULL(StatusGM_Issue, '') <> 'NG'
				and ISNULL(StatusACC_Check, '') <> 'NG'
				and ISNULL(StatusACC_MGR, '') <> 'NG'
				and ISNULL(StatusACC_GM, '') <> 'NG'
				and ISNULL(StatusInchage_Out, '') <> 'NG'
				and ISNULL(StatusMGR_Out, '') <> 'NG'
				and ISNULL(StatusGM_Out, '') <> 'NG' and
				Status_Delete = 'N' AND Insert_Date BETWEEN CONVERT(DATETIME, @_fromdate, 120) AND DATEADD(SECOND, 86399, CONVERT(DATETIME, @_todate, 120))  --_todate bao gồm cả ngày cuối (đến 23:59:59):

				UNION

					SELECT DISTINCT 1, Plant,Material,Sloc,
					--'' as ReceiveSloc,
					CASE 
										WHEN LEFT(a.Sloc,1) = '1' THEN '1G99'
										WHEN LEFT(a.Sloc,1) = '6' THEN '6G99'
										WHEN LEFT(a.Sloc,1) = '8' THEN '8G99'
										WHEN LEFT(a.Sloc,1) = '9' THEN '9G99'
										WHEN LEFT(a.Sloc,1) = '5' THEN '5G99'
										ELSE a.Sloc
									END AS 'Receive Sloc',
					IssueQty as Qty,RequestNo, MvType
						FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a
						WHERE StatusACC_GM is not NULL  and  --- chu ky so 6 cua level 3 ACC
						isnull(Satatu_tranferPMS,'') = '' and  --- điều kiện cột status tranfer sap bị bỏ trông
						--StatusMGR_Out is not NULL and 
						--TypeOutSap=@selectedOption and
						TypeID not in ('15.1','15.2','16.1','16.2') and
						TypeSapPMS='Scrap' and
						ISNULL(StatusMGR_Issue, '') <> 'NG'
						and ISNULL(StatusGM_Issue, '') <> 'NG'
						and ISNULL(StatusACC_Check, '') <> 'NG'
						and ISNULL(StatusACC_MGR, '') <> 'NG'
						and ISNULL(StatusACC_GM, '') <> 'NG'
						and ISNULL(StatusInchage_Out, '') <> 'NG'
						and ISNULL(StatusMGR_Out, '') <> 'NG'
						and ISNULL(StatusGM_Out, '') <> 'NG' and
						Status_Delete = 'N' AND Insert_Date BETWEEN CONVERT(DATETIME, @_fromdate, 120) AND DATEADD(SECOND, 86399, CONVERT(DATETIME, @_todate, 120))  --_todate bao gồm cả ngày cuối (đến 23:59:59):
		
		end
		else
		begin
			 --dowload all tranfer typesapPMS
				 SELECT DISTINCT 1, Plant,Material,Sloc,
					--'' as ReceiveSloc,
					 CASE 
											WHEN LEFT(a.Sloc,1) = '1' THEN '1G99'
											WHEN LEFT(a.Sloc,1) = '6' THEN '6G99'
											WHEN LEFT(a.Sloc,1) = '8' THEN '8G99'
											WHEN LEFT(a.Sloc,1) = '9' THEN '9G99'
											WHEN LEFT(a.Sloc,1) = '5' THEN '5G99'
											ELSE a.Sloc
										END AS 'Receive Sloc',
					IssueQty as Qty,RequestNo, MvType
					FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a
					WHERE  
					--StatusACC_GM is not NULL  and  --- chu ky so 6 cua level 3 ACC
					--StatusMGR_Out is not NULL and  
					--TypeOutSap=@selectedOption and
					TypeID not in ('15.1','15.2','16.1','16.2') and
					TypeSapPMS='Scrap' and
					 ISNULL(StatusMGR_Issue, '') <> 'NG'
					and ISNULL(StatusGM_Issue, '') <> 'NG'
					and ISNULL(StatusACC_Check, '') <> 'NG'
					and ISNULL(StatusACC_MGR, '') <> 'NG'
					and ISNULL(StatusACC_GM, '') <> 'NG'
					and ISNULL(StatusInchage_Out, '') <> 'NG'
					and ISNULL(StatusMGR_Out, '') <> 'NG'
					and ISNULL(StatusGM_Out, '') <> 'NG' and
					Status_Delete = 'N' AND Insert_Date BETWEEN CONVERT(DATETIME, @_fromdate, 120) AND DATEADD(SECOND, 86399, CONVERT(DATETIME, @_todate, 120))  --_todate bao gồm cả ngày cuối (đến 23:59:59):

					UNION

						SELECT DISTINCT 1, Plant,Material,Sloc,
						--'' as ReceiveSloc,
						CASE 
											WHEN LEFT(a.Sloc,1) = '1' THEN '1G99'
											WHEN LEFT(a.Sloc,1) = '6' THEN '6G99'
											WHEN LEFT(a.Sloc,1) = '8' THEN '8G99'
											WHEN LEFT(a.Sloc,1) = '9' THEN '9G99'
											WHEN LEFT(a.Sloc,1) = '5' THEN '5G99'
											ELSE a.Sloc
										END AS 'Receive Sloc',
						IssueQty as Qty,RequestNo, MvType
							FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a
							WHERE 
							--StatusACC_GM is not NULL  and  --- chu ky so 6 cua level 3 ACC
							--StatusMGR_Out is not NULL and 
							--TypeOutSap=@selectedOption and
							TypeID not in ('15.1','15.2','16.1','16.2') and
							TypeSapPMS='Scrap' and
							ISNULL(StatusMGR_Issue, '') <> 'NG'
							and ISNULL(StatusGM_Issue, '') <> 'NG'
							and ISNULL(StatusACC_Check, '') <> 'NG'
							and ISNULL(StatusACC_MGR, '') <> 'NG'
							and ISNULL(StatusACC_GM, '') <> 'NG'
							and ISNULL(StatusInchage_Out, '') <> 'NG'
							and ISNULL(StatusMGR_Out, '') <> 'NG'
							and ISNULL(StatusGM_Out, '') <> 'NG' and
							Status_Delete = 'N' AND Insert_Date BETWEEN CONVERT(DATETIME, @_fromdate, 120) AND DATEADD(SECOND, 86399, CONVERT(DATETIME, @_todate, 120))  --_todate bao gồm cả ngày cuối (đến 23:59:59):
		
		end
		

	end
	else if(@typedownload = '1')
	begin
	--download  Format pending_done list
		--print @status_issueout
		if(@status_issueout = 'Pending')
		begin
			print '1'
			SELECT 1,RequestNo, MvType,VendorCode,CostCenter,
			--'' as GLaccount,	--link tu bang mater type
			(select top 1 b.AccountCost from tbl_TypeMater b where b.TypeID=a.TypeID) as 'GL account',
			Plant,Material,IssueQty,
			Sloc as 'issue sloc',
			[UnitPrice_ST],[Amount_ST]									
				,[UnitPrice_AC]
				,[Amount_AC], 
				SanctionName,
				--'' as commentlog, -- link tu bang comment
				(select top 1 d.Content_Comment from tbl_RQMaterial_Comment d where d.RQ=a.RequestNo ) as commentlog,
				TypeSapPMS,
				(select top 1 c.TYPENAME from tbl_TypeMater c where c.TypeID=a.TypeID ) as TypeID,
				--UserCreate,
			    (select top 1 FullName from tbl_UserIssueRQ b where b.UserLogin = a.UserCreate) as UserCreate,
				RQDeptID,
				---CodeMGR_Out as 'Status_Approved_PIC', --chu ky so 8 Out dept :StatusMGR_Out
				CASE 
					WHEN StatusMGR_Out IS NULL OR LTRIM(RTRIM(StatusMGR_Out)) = '' THEN ''
					ELSE StatusMGR_Out
				END as 'Status_Approved_PIC',
				CASE 
					WHEN StatusGM_Out IS NULL OR StatusGM_Out = '' THEN 'pending'
					ELSE StatusGM_Out
				END as 'Status_Approved_Final',
				TypeOutSap as 'Section out',   -- truong nay phai dua vao sloc mater MCS
				DocumentNo,
				Satatu_tranferPMS as 'Status tranfer',
				Status_Finish_PMS as 'Status finished'

				FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a
				WHERE Status_Delete = 'N' 
				and StatusACC_GM is not NULL --- chu ky so 6 leve3 ACC phai duoc ky roi thi moi cho vao trong list
				and TypeID not in ('15.1','15.2','16.1','16.2')
				and ISNULL(StatusMGR_Issue, '') <> 'NG'
				and ISNULL(StatusGM_Issue, '') <> 'NG'
				and ISNULL(StatusACC_Check, '') <> 'NG'
				and ISNULL(StatusACC_MGR, '') <> 'NG'
				and ISNULL(StatusACC_GM, '') <> 'NG'
				and ISNULL(StatusInchage_Out, '') <> 'NG'
				and ISNULL(StatusMGR_Out, '') <> 'NG'
				and ISNULL(StatusGM_Out, '') <> 'NG'
				AND Insert_Date BETWEEN CONVERT(DATETIME, @_fromdate, 120) AND DATEADD(SECOND, 86399, CONVERT(DATETIME, @_todate, 120))  --_todate bao gồm cả ngày cuối (đến 23:59:59):	

        UNION

			SELECT 1,RequestNo, MvType,VendorCode,CostCenter,
			--'' as GLaccount,	--link tu bang mater type
			(select top 1 b.AccountCost from tbl_TypeMater b where b.TypeID=a.TypeID) as 'GL account',
			Plant,Material,IssueQty,
			Sloc as 'issue sloc',
			[UnitPrice_ST],[Amount_ST]									
				,0 as UnitPrice_AC
				,0 as Amount_AC, 
				SanctionName,
				--'' as commentlog, -- link tu bang comment
				(select top 1 d.Content_Comment from tbl_RQMaterial_Comment d where d.RQ=a.RequestNo ) as commentlog,
				TypeSapPMS,
				(select top 1 c.TYPENAME from tbl_TypeMater c where c.TypeID=a.TypeID ) as TypeID,
				--UserCreate,
				(select top 1 FullName from tbl_UserIssueRQ b where b.UserLogin = a.UserCreate) as UserCreate,
				RQDeptID,
				---CodeMGR_Out as 'Status_Approved_PIC', --chu ky so 8 Out dept :StatusMGR_Out
				CASE 
					WHEN StatusMGR_Out IS NULL OR LTRIM(RTRIM(StatusMGR_Out)) = '' THEN ''
					ELSE StatusMGR_Out
				END as 'Status_Approved_PIC',
				CASE 
					WHEN StatusGM_Out IS NULL OR StatusGM_Out = '' THEN 'pending'
					ELSE StatusGM_Out
				END as 'Status_Approved_Final',
				TypeOutSap as 'Section out',   -- truong nay phai dua vao sloc mater MCS
				DocumentNo,
				Satatu_tranferPMS as 'Status trafer',
				Status_Finish_PMS as 'Status finished'
				FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a
				WHERE Status_Delete = 'N' 
				and StatusACC_GM is not NULL --- chu ky so 6 leve3 ACC phai duoc ky roi thi moi cho vao trong list
				and TypeID not in ('15.1','15.2','16.1','16.2')
				and ISNULL(StatusMGR_Issue, '') <> 'NG'
				and ISNULL(StatusGM_Issue, '') <> 'NG'
				and ISNULL(StatusACC_Check, '') <> 'NG'
				and ISNULL(StatusACC_MGR, '') <> 'NG'
				and ISNULL(StatusACC_GM, '') <> 'NG'
				and ISNULL(StatusInchage_Out, '') <> 'NG'
				and ISNULL(StatusMGR_Out, '') <> 'NG'
				and ISNULL(StatusGM_Out, '') <> 'NG'
				AND Insert_Date BETWEEN CONVERT(DATETIME, @_fromdate, 120) AND DATEADD(SECOND, 86399, CONVERT(DATETIME, @_todate, 120))  --_todate bao gồm cả ngày cuối (đến 23:59:59):
		end
		else
		begin
			--ALL
			SELECT 1,RequestNo, MvType,VendorCode,CostCenter,
			--'' as GLaccount,	--link tu bang mater type
			(select top 1 b.AccountCost from tbl_TypeMater b where b.TypeID=a.TypeID) as 'GL account',
			Plant,Material,IssueQty,
			Sloc as 'issue sloc',
			[UnitPrice_ST],[Amount_ST]									
				,[UnitPrice_AC]
				,[Amount_AC], 
				SanctionName,
				--'' as commentlog, -- link tu bang comment
				(select top 1 d.Content_Comment from tbl_RQMaterial_Comment d where d.RQ=a.RequestNo ) as commentlog,
				TypeSapPMS,
				(select top 1 c.TYPENAME from tbl_TypeMater c where c.TypeID=a.TypeID ) as TypeID,
				--UserCreate,
			    (select top 1 FullName from tbl_UserIssueRQ b where b.UserLogin = a.UserCreate) as UserCreate,
				RQDeptID,
				---CodeMGR_Out as 'Status_Approved_PIC', --chu ky so 8 Out dept :StatusMGR_Out
				CASE 
					WHEN StatusMGR_Out IS NULL OR LTRIM(RTRIM(StatusMGR_Out)) = '' THEN ''
					ELSE StatusMGR_Out
				END as 'Status_Approved_PIC',
				CASE 
					WHEN StatusGM_Out IS NULL OR StatusGM_Out = '' THEN 'pending'
					ELSE StatusGM_Out
				END as 'Status_Approved_Final',
				TypeOutSap as 'Section out',   -- truong nay phai dua vao sloc mater MCS
				DocumentNo,
				Satatu_tranferPMS as 'Status tranfer',
				Status_Finish_PMS as 'Status finished'
				FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a
				WHERE Status_Delete = 'N' 	
				and TypeID not in ('15.1','15.2','16.1','16.2')
				and ISNULL(StatusMGR_Issue, '') <> 'NG'
				and ISNULL(StatusGM_Issue, '') <> 'NG'
				and ISNULL(StatusACC_Check, '') <> 'NG'
				and ISNULL(StatusACC_MGR, '') <> 'NG'
				and ISNULL(StatusACC_GM, '') <> 'NG'
				and ISNULL(StatusInchage_Out, '') <> 'NG'
				and ISNULL(StatusMGR_Out, '') <> 'NG'
				and ISNULL(StatusGM_Out, '') <> 'NG'
				AND Insert_Date BETWEEN CONVERT(DATETIME, @_fromdate, 120) AND DATEADD(SECOND, 86399, CONVERT(DATETIME, @_todate, 120))  --_todate bao gồm cả ngày cuối (đến 23:59:59):	

        UNION

			SELECT 1,RequestNo, MvType,VendorCode,CostCenter,
			--'' as GLaccount,	--link tu bang mater type
			(select top 1 b.AccountCost from tbl_TypeMater b where b.TypeID=a.TypeID) as 'GL account',
			Plant,Material,IssueQty,
			Sloc as 'issue sloc',
			[UnitPrice_ST],[Amount_ST]									
				,0 as UnitPrice_AC
				,0 as Amount_AC, 
				SanctionName,
				--'' as commentlog, -- link tu bang comment
				(select top 1 d.Content_Comment from tbl_RQMaterial_Comment d where d.RQ=a.RequestNo ) as commentlog,
				TypeSapPMS,
				(select top 1 c.TYPENAME from tbl_TypeMater c where c.TypeID=a.TypeID ) as TypeID,
				--UserCreate,
				(select top 1 FullName from tbl_UserIssueRQ b where b.UserLogin = a.UserCreate) as UserCreate,
				RQDeptID,
				---CodeMGR_Out as 'Status_Approved_PIC', --chu ky so 8 Out dept :StatusMGR_Out
				CASE 
					WHEN StatusMGR_Out IS NULL OR LTRIM(RTRIM(StatusMGR_Out)) = '' THEN ''
					ELSE StatusMGR_Out
				END as 'Status_Approved_PIC',
				CASE 
					WHEN StatusGM_Out IS NULL OR StatusGM_Out = '' THEN 'pending'
					ELSE StatusGM_Out
				END as 'Status_Approved_Final',
				TypeOutSap as 'Section out',   -- truong nay phai dua vao sloc mater MCS
				DocumentNo,
				Satatu_tranferPMS as 'Status trafer',
				Status_Finish_PMS as 'Status finished'
				FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a
				WHERE Status_Delete = 'N' 	
				and TypeID not in ('15.1','15.2','16.1','16.2')
				and ISNULL(StatusMGR_Issue, '') <> 'NG'
				and ISNULL(StatusGM_Issue, '') <> 'NG'
				and ISNULL(StatusACC_Check, '') <> 'NG'
				and ISNULL(StatusACC_MGR, '') <> 'NG'
				and ISNULL(StatusACC_GM, '') <> 'NG'
				and ISNULL(StatusInchage_Out, '') <> 'NG'
				and ISNULL(StatusMGR_Out, '') <> 'NG'
				and ISNULL(StatusGM_Out, '') <> 'NG'
				AND Insert_Date BETWEEN CONVERT(DATETIME, @_fromdate, 120) AND DATEADD(SECOND, 86399, CONVERT(DATETIME, @_todate, 120))  --_todate bao gồm cả ngày cuối (đến 23:59:59):
		end

			

	end
	else if(@typedownload = '2')
	begin
		--dowload CSV format tổng(issue out)
		print 'download  CSV format tổng(issue out)'		
		if(@status_issueout = 'Pending')
		begin
			   select 1, a.Plant,a.Material,a.Sloc as 'Issue Sloc','' as 'Receive Sloc',a.IssueQty as Qty,
							  (select top 1 b.AccountCost from tbl_TypeMater b where b.TypeID=a.TypeID) as 'GL account',a.CostCenter,
							  '' as Reservation,
							  '' as Reservationitem,
							  '' as ReceivingMaterial,
							  '' as ReceivingPlant,
							  '' as Reason,
							  a.RequestNo,
							  a.MvType,
							  a.TypeSapPMS
							  from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a 
				 where Status_Delete = 'N' AND Insert_Date BETWEEN CONVERT(DATETIME, @_fromdate, 120) AND DATEADD(SECOND, 86399, CONVERT(DATETIME, @_todate, 120)) 
				 and StatusMGR_Out is not NULL 
				 and isnull(Status_Finish_PMS,'') = ''  --- điều kiện cột Status_Finish_PMS bị bỏ trông
				 --and DocumentNo is not NULL --bo dieu kien nay di 13.04.2026
				 --and TypeOutSap=@selectedOption
				 and ISNULL(StatusMGR_Issue, '') <> 'NG'
				and ISNULL(StatusGM_Issue, '') <> 'NG'
				and ISNULL(StatusACC_Check, '') <> 'NG'
				and ISNULL(StatusACC_MGR, '') <> 'NG'
				and ISNULL(StatusACC_GM, '') <> 'NG'
				and ISNULL(StatusInchage_Out, '') <> 'NG'
				and ISNULL(StatusMGR_Out, '') <> 'NG'
				and ISNULL(StatusGM_Out, '') <> 'NG' 
				and TypeID not in ('15.1','15.2','16.1','16.2')
				 union 

				 select 1, a.Plant,a.Material,a.Sloc as 'Issue Sloc','' as 'Receive Sloc',a.IssueQty as Qty,
									  (select b.AccountCost from tbl_TypeMater b where b.TypeID=a.TypeID) as 'GL account',a.CostCenter, 
									  '' as Reservation,
							  '' as Reservationitem,
							  '' as ReceivingMaterial,
							  '' as ReceivingPlant,
							  '' as Reason,
							  a.RequestNo,
							  a.MvType,
							  a.TypeSapPMS
									  from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a 
				 where Status_Delete = 'N' AND Insert_Date BETWEEN CONVERT(DATETIME, @_fromdate, 120) AND DATEADD(SECOND, 86399, CONVERT(DATETIME, @_todate, 120)) 
				 and StatusMGR_Out is not NULL 
				 and isnull(Status_Finish_PMS,'') = ''  --- điều kiện cột Status_Finish_PMS bị bỏ trông
				 --and DocumentNo is not NULL  --bo dieu kien nay di 13.04.2026
				 --and TypeOutSap=@selectedOption
				 and ISNULL(StatusMGR_Issue, '') <> 'NG'
				and ISNULL(StatusGM_Issue, '') <> 'NG'
				and ISNULL(StatusACC_Check, '') <> 'NG'
				and ISNULL(StatusACC_MGR, '') <> 'NG'
				and ISNULL(StatusACC_GM, '') <> 'NG'
				and ISNULL(StatusInchage_Out, '') <> 'NG'
				and ISNULL(StatusMGR_Out, '') <> 'NG'
				and ISNULL(StatusGM_Out, '') <> 'NG' 
				and TypeID not in ('15.1','15.2','16.1','16.2')

		end
		else
		begin
			----dowload all
			select 1, a.Plant,a.Material,a.Sloc as 'Issue Sloc','' as 'Receive Sloc',a.IssueQty as Qty,
							  (select top 1 b.AccountCost from tbl_TypeMater b where b.TypeID=a.TypeID) as 'GL account',a.CostCenter,
							  '' as Reservation,
							  '' as Reservationitem,
							  '' as ReceivingMaterial,
							  '' as ReceivingPlant,
							  '' as Reason,
							  a.RequestNo,
							  a.MvType,
							  a.TypeSapPMS
							  from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a 
				 where Status_Delete = 'N' AND Insert_Date BETWEEN CONVERT(DATETIME, @_fromdate, 120) AND DATEADD(SECOND, 86399, CONVERT(DATETIME, @_todate, 120)) 
				 --and StatusMGR_Out is not NULL 
				 --and isnull(Status_Finish_PMS,'') = ''  --- điều kiện cột Status_Finish_PMS bị bỏ trông
				 --and DocumentNo is not NULL --bo dieu kien nay di 13.04.2026
				 --and TypeOutSap=@selectedOption
				 and ISNULL(StatusMGR_Issue, '') <> 'NG'
				and ISNULL(StatusGM_Issue, '') <> 'NG'
				and ISNULL(StatusACC_Check, '') <> 'NG'
				and ISNULL(StatusACC_MGR, '') <> 'NG'
				and ISNULL(StatusACC_GM, '') <> 'NG'
				and ISNULL(StatusInchage_Out, '') <> 'NG'
				and ISNULL(StatusMGR_Out, '') <> 'NG'
				and ISNULL(StatusGM_Out, '') <> 'NG' 
				and TypeID not in ('15.1','15.2','16.1','16.2')
				 union 

				 select 1, a.Plant,a.Material,a.Sloc as 'Issue Sloc','' as 'Receive Sloc',a.IssueQty as Qty,
									  (select b.AccountCost from tbl_TypeMater b where b.TypeID=a.TypeID) as 'GL account',a.CostCenter, 
									  '' as Reservation,
							  '' as Reservationitem,
							  '' as ReceivingMaterial,
							  '' as ReceivingPlant,
							  '' as Reason,
							  a.RequestNo,
							  a.MvType,
							  a.TypeSapPMS
									  from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a 
				 where Status_Delete = 'N' AND Insert_Date BETWEEN CONVERT(DATETIME, @_fromdate, 120) AND DATEADD(SECOND, 86399, CONVERT(DATETIME, @_todate, 120)) 
				 --and StatusMGR_Out is not NULL 
				 --and isnull(Status_Finish_PMS,'') = ''  --- điều kiện cột Status_Finish_PMS bị bỏ trông
				 --and DocumentNo is not NULL  --bo dieu kien nay di 13.04.2026
				 --and TypeOutSap=@selectedOption
				 and ISNULL(StatusMGR_Issue, '') <> 'NG'
				and ISNULL(StatusGM_Issue, '') <> 'NG'
				and ISNULL(StatusACC_Check, '') <> 'NG'
				and ISNULL(StatusACC_MGR, '') <> 'NG'
				and ISNULL(StatusACC_GM, '') <> 'NG'
				and ISNULL(StatusInchage_Out, '') <> 'NG'
				and ISNULL(StatusMGR_Out, '') <> 'NG'
				and ISNULL(StatusGM_Out, '') <> 'NG' 
				and TypeID not in ('15.1','15.2','16.1','16.2')

		end

		 

	end
	else if (@typedownload = '3')
	begin
		--dowload all cho LOG
		select 1, 
		[RequestNo]
      ,[Material]
      ,[ItemDescription]
      ,[TypeID]
      ,[MvType]
      ,[MvName]
      ,[Plant]
      ,[VendorCode]
      ,[CostCenter]
      ,[Sloc]
      ,[IssueQty]
      ,[UnitPrice_ST]
      ,[Amount_ST]
      ,[DateVoucher]
      ,[CountryofOrigin]
      ,[Note]
	  ,[Status_RQ]
      ,[Status_IVoice]
      ,[Status_Delete]
      ,[RQDeptID]
      ,[Insert_Date]
	  ,[SanctionName]
      ,[Flag_price_sap]
      ,[Type_Rosh_Halb]
      ,[Reason]
      ,[NameCode]
      ,[DocumentNo]
		from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a 
	     where Status_Delete = 'N' AND Insert_Date BETWEEN CONVERT(DATETIME, @_fromdate, 120) AND DATEADD(SECOND, 86399, CONVERT(DATETIME, @_todate, 120)) 		 
		 and ISNULL(StatusMGR_Issue, '') <> 'NG'
		and ISNULL(StatusGM_Issue, '') <> 'NG'
		and ISNULL(StatusACC_Check, '') <> 'NG'
		and ISNULL(StatusACC_MGR, '') <> 'NG'
		and ISNULL(StatusACC_GM, '') <> 'NG'
		and ISNULL(StatusInchage_Out, '') <> 'NG'
		and ISNULL(StatusMGR_Out, '') <> 'NG'
		and ISNULL(StatusGM_Out, '') <> 'NG' 

		union

		select 1, 
		[RequestNo]
      ,[Material]
      ,[ItemDescription]
      ,[TypeID]
      ,[MvType]
      ,[MvName]
      ,[Plant]
      ,[VendorCode]
      ,[CostCenter]
      ,[Sloc]
      ,[IssueQty]
      ,[UnitPrice_ST]
      ,[Amount_ST]
      ,[DateVoucher]
      ,[CountryofOrigin]
      ,[Note]
	  ,[Status_RQ]
      ,[Status_IVoice]
      ,[Status_Delete]
      ,[RQDeptID]
      ,[Insert_Date]
	  ,[SanctionName]
      ,[Flag_price_sap]
      ,[Type_Rosh_Halb]
      ,[Reason]
      ,[NameCode]
      ,[DocumentNo]
		from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a 
		 where Status_Delete = 'N' AND Insert_Date BETWEEN CONVERT(DATETIME, @_fromdate, 120) AND DATEADD(SECOND, 86399, CONVERT(DATETIME, @_todate, 120)) 		 
		 and ISNULL(StatusMGR_Issue, '') <> 'NG'
		and ISNULL(StatusGM_Issue, '') <> 'NG'
		and ISNULL(StatusACC_Check, '') <> 'NG'
		and ISNULL(StatusACC_MGR, '') <> 'NG'
		and ISNULL(StatusACC_GM, '') <> 'NG'
		and ISNULL(StatusInchage_Out, '') <> 'NG'
		and ISNULL(StatusMGR_Out, '') <> 'NG'
		and ISNULL(StatusGM_Out, '') <> 'NG' 

	end


    END
    ELSE
    BEGIN
        SELECT 2
    END




END
GO
/****** Object:  StoredProcedure [dbo].[Select_PMS_OutSAP_download2_chon]    Script Date: 5/21/2026 12:19:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_PMS_OutSAP_download2_chon]  -- Select_PMS_OutSAP_download2_chon '2026-04-01','2026-05-20','2012757','1','PMS','ALL','RQA-HR-GA-1225-4,RQA-IT-1225-2'
	@_fromdate as nvarchar(50), 
	@_todate as nvarchar(50), 
	@userid as nvarchar(50),
	@typedownload as nvarchar(5),
	@selectedOption as nvarchar(50),  -- tham so PMS or MCS
	@status_issueout as nvarchar(50),		--filter Pending / ALL
	@requestList as nvarchar(500)
AS
BEGIN
----- chu ky so 8 out dept: CodeMGR_Out, StatusMGR_Out Null thi xuat ra 
--- chang LOG download all de check
IF (EXISTS (SELECT * FROM [Issue_MaterialInOut].[dbo].[tbl_UserStock_IssueMaterial] WHERE [UserName] = @userid))
    BEGIN

	if(@typedownload = '0')
	begin
		--truong hop download CSV format tổng (Transfer) G99
		-- **** dieu kien ****:  cột U trong file pending list mà blank thì xuất toàn bộ ra file csv tổng
		--- chu ky so 8 out dept: CodeMGR_Out, StatusMGR_Out Null thi xuat ra 		
		if(@status_issueout='Pending')
		begin
				SELECT DISTINCT 1, Plant,Material,Sloc,
				--'' as ReceiveSloc,
				 CASE 
										WHEN LEFT(a.Sloc,1) = '1' THEN '1G99'
										WHEN LEFT(a.Sloc,1) = '6' THEN '6G99'
										WHEN LEFT(a.Sloc,1) = '8' THEN '8G99'
										WHEN LEFT(a.Sloc,1) = '9' THEN '9G99'
										WHEN LEFT(a.Sloc,1) = '5' THEN '5G99'
										ELSE a.Sloc
									END AS 'Receive Sloc',
				IssueQty as Qty,RequestNo, MvType
				FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a
				WHERE  StatusACC_GM is not NULL  and  --- chu ky so 6 cua level 3 ACC
				isnull(Satatu_tranferPMS,'') = '' and  --- điều kiện cột status tranfer sap bị bỏ trông
				--StatusMGR_Out is not NULL and  
				--TypeOutSap=@selectedOption and
				TypeID not in ('15.1','15.2','16.1','16.2') and
				TypeSapPMS='Scrap' and
				 ISNULL(StatusMGR_Issue, '') <> 'NG'
				and ISNULL(StatusGM_Issue, '') <> 'NG'
				and ISNULL(StatusACC_Check, '') <> 'NG'
				and ISNULL(StatusACC_MGR, '') <> 'NG'
				and ISNULL(StatusACC_GM, '') <> 'NG'
				and ISNULL(StatusInchage_Out, '') <> 'NG'
				and ISNULL(StatusMGR_Out, '') <> 'NG'
				and ISNULL(StatusGM_Out, '') <> 'NG' and
				Status_Delete = 'N' AND Insert_Date BETWEEN CONVERT(DATETIME, @_fromdate, 120) AND DATEADD(SECOND, 86399, CONVERT(DATETIME, @_todate, 120))  --_todate bao gồm cả ngày cuối (đến 23:59:59):
				AND RequestNo IN (
    SELECT value
    FROM STRING_SPLIT(@requestList, ',')
)

				UNION

					SELECT DISTINCT 1, Plant,Material,Sloc,
					--'' as ReceiveSloc,
					CASE 
										WHEN LEFT(a.Sloc,1) = '1' THEN '1G99'
										WHEN LEFT(a.Sloc,1) = '6' THEN '6G99'
										WHEN LEFT(a.Sloc,1) = '8' THEN '8G99'
										WHEN LEFT(a.Sloc,1) = '9' THEN '9G99'
										WHEN LEFT(a.Sloc,1) = '5' THEN '5G99'
										ELSE a.Sloc
									END AS 'Receive Sloc',
					IssueQty as Qty,RequestNo, MvType
						FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a
						WHERE StatusACC_GM is not NULL  and  --- chu ky so 6 cua level 3 ACC
						isnull(Satatu_tranferPMS,'') = '' and  --- điều kiện cột status tranfer sap bị bỏ trông
						--StatusMGR_Out is not NULL and 
						--TypeOutSap=@selectedOption and
						TypeID not in ('15.1','15.2','16.1','16.2') and
						TypeSapPMS='Scrap' and
						ISNULL(StatusMGR_Issue, '') <> 'NG'
						and ISNULL(StatusGM_Issue, '') <> 'NG'
						and ISNULL(StatusACC_Check, '') <> 'NG'
						and ISNULL(StatusACC_MGR, '') <> 'NG'
						and ISNULL(StatusACC_GM, '') <> 'NG'
						and ISNULL(StatusInchage_Out, '') <> 'NG'
						and ISNULL(StatusMGR_Out, '') <> 'NG'
						and ISNULL(StatusGM_Out, '') <> 'NG' and
						Status_Delete = 'N' AND Insert_Date BETWEEN CONVERT(DATETIME, @_fromdate, 120) AND DATEADD(SECOND, 86399, CONVERT(DATETIME, @_todate, 120))  --_todate bao gồm cả ngày cuối (đến 23:59:59):
		AND RequestNo IN (
    SELECT value
    FROM STRING_SPLIT(@requestList, ',')
)

		end
		else
		begin
			 --dowload all tranfer typesapPMS
				 SELECT DISTINCT 1, Plant,Material,Sloc,
					--'' as ReceiveSloc,
					 CASE 
											WHEN LEFT(a.Sloc,1) = '1' THEN '1G99'
											WHEN LEFT(a.Sloc,1) = '6' THEN '6G99'
											WHEN LEFT(a.Sloc,1) = '8' THEN '8G99'
											WHEN LEFT(a.Sloc,1) = '9' THEN '9G99'
											WHEN LEFT(a.Sloc,1) = '5' THEN '5G99'
											ELSE a.Sloc
										END AS 'Receive Sloc',
					IssueQty as Qty,RequestNo, MvType
					FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a
					WHERE  
					--StatusACC_GM is not NULL  and  --- chu ky so 6 cua level 3 ACC
					--StatusMGR_Out is not NULL and  
					--TypeOutSap=@selectedOption and
					TypeID not in ('15.1','15.2','16.1','16.2') and
					TypeSapPMS='Scrap' and
					 ISNULL(StatusMGR_Issue, '') <> 'NG'
					and ISNULL(StatusGM_Issue, '') <> 'NG'
					and ISNULL(StatusACC_Check, '') <> 'NG'
					and ISNULL(StatusACC_MGR, '') <> 'NG'
					and ISNULL(StatusACC_GM, '') <> 'NG'
					and ISNULL(StatusInchage_Out, '') <> 'NG'
					and ISNULL(StatusMGR_Out, '') <> 'NG'
					and ISNULL(StatusGM_Out, '') <> 'NG' and
					Status_Delete = 'N' AND Insert_Date BETWEEN CONVERT(DATETIME, @_fromdate, 120) AND DATEADD(SECOND, 86399, CONVERT(DATETIME, @_todate, 120))  --_todate bao gồm cả ngày cuối (đến 23:59:59):
					AND RequestNo IN (
    SELECT value
    FROM STRING_SPLIT(@requestList, ',')
)

					UNION

						SELECT DISTINCT 1, Plant,Material,Sloc,
						--'' as ReceiveSloc,
						CASE 
											WHEN LEFT(a.Sloc,1) = '1' THEN '1G99'
											WHEN LEFT(a.Sloc,1) = '6' THEN '6G99'
											WHEN LEFT(a.Sloc,1) = '8' THEN '8G99'
											WHEN LEFT(a.Sloc,1) = '9' THEN '9G99'
											WHEN LEFT(a.Sloc,1) = '5' THEN '5G99'
											ELSE a.Sloc
										END AS 'Receive Sloc',
						IssueQty as Qty,RequestNo, MvType
							FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a
							WHERE 
							--StatusACC_GM is not NULL  and  --- chu ky so 6 cua level 3 ACC
							--StatusMGR_Out is not NULL and 
							--TypeOutSap=@selectedOption and
							TypeID not in ('15.1','15.2','16.1','16.2') and
							TypeSapPMS='Scrap' and
							ISNULL(StatusMGR_Issue, '') <> 'NG'
							and ISNULL(StatusGM_Issue, '') <> 'NG'
							and ISNULL(StatusACC_Check, '') <> 'NG'
							and ISNULL(StatusACC_MGR, '') <> 'NG'
							and ISNULL(StatusACC_GM, '') <> 'NG'
							and ISNULL(StatusInchage_Out, '') <> 'NG'
							and ISNULL(StatusMGR_Out, '') <> 'NG'
							and ISNULL(StatusGM_Out, '') <> 'NG' and
							Status_Delete = 'N' AND Insert_Date BETWEEN CONVERT(DATETIME, @_fromdate, 120) AND DATEADD(SECOND, 86399, CONVERT(DATETIME, @_todate, 120))  --_todate bao gồm cả ngày cuối (đến 23:59:59):
		AND RequestNo IN (
    SELECT value
    FROM STRING_SPLIT(@requestList, ',')
)

		end
		

	end
	else if(@typedownload = '1')
	begin
	--download  Format pending_done list
		--print @status_issueout
		if(@status_issueout = 'Pending')
		begin
			print '1'
			SELECT 1,RequestNo, MvType,VendorCode,CostCenter,
			--'' as GLaccount,	--link tu bang mater type
			(select top 1 b.AccountCost from tbl_TypeMater b where b.TypeID=a.TypeID) as 'GL account',
			Plant,Material,IssueQty,
			Sloc as 'issue sloc',
			[UnitPrice_ST],[Amount_ST]									
				,[UnitPrice_AC]
				,[Amount_AC], 
				SanctionName,
				--'' as commentlog, -- link tu bang comment
				(select top 1 d.Content_Comment from tbl_RQMaterial_Comment d where d.RQ=a.RequestNo ) as commentlog,
				TypeSapPMS,
				(select top 1 c.TYPENAME from tbl_TypeMater c where c.TypeID=a.TypeID ) as TypeID,
				--UserCreate,
			    (select top 1 FullName from tbl_UserIssueRQ b where b.UserLogin = a.UserCreate) as UserCreate,
				RQDeptID,
				---CodeMGR_Out as 'Status_Approved_PIC', --chu ky so 8 Out dept :StatusMGR_Out
				CASE 
					WHEN StatusMGR_Out IS NULL OR LTRIM(RTRIM(StatusMGR_Out)) = '' THEN ''
					ELSE StatusMGR_Out
				END as 'Status_Approved_PIC',
				CASE 
					WHEN StatusGM_Out IS NULL OR StatusGM_Out = '' THEN 'pending'
					ELSE StatusGM_Out
				END as 'Status_Approved_Final',
				TypeOutSap as 'Section out',   -- truong nay phai dua vao sloc mater MCS
				DocumentNo,
				Satatu_tranferPMS as 'Status tranfer',
				Status_Finish_PMS as 'Status finished'

				FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a
				WHERE Status_Delete = 'N' 
				and StatusACC_GM is not NULL --- chu ky so 6 leve3 ACC phai duoc ky roi thi moi cho vao trong list
				and TypeID not in ('15.1','15.2','16.1','16.2')
				and ISNULL(StatusMGR_Issue, '') <> 'NG'
				and ISNULL(StatusGM_Issue, '') <> 'NG'
				and ISNULL(StatusACC_Check, '') <> 'NG'
				and ISNULL(StatusACC_MGR, '') <> 'NG'
				and ISNULL(StatusACC_GM, '') <> 'NG'
				and ISNULL(StatusInchage_Out, '') <> 'NG'
				and ISNULL(StatusMGR_Out, '') <> 'NG'
				and ISNULL(StatusGM_Out, '') <> 'NG'
				AND Insert_Date BETWEEN CONVERT(DATETIME, @_fromdate, 120) AND DATEADD(SECOND, 86399, CONVERT(DATETIME, @_todate, 120))  --_todate bao gồm cả ngày cuối (đến 23:59:59):	
				AND RequestNo IN (
    SELECT value
    FROM STRING_SPLIT(@requestList, ',')
)

        UNION

			SELECT 1,RequestNo, MvType,VendorCode,CostCenter,
			--'' as GLaccount,	--link tu bang mater type
			(select top 1 b.AccountCost from tbl_TypeMater b where b.TypeID=a.TypeID) as 'GL account',
			Plant,Material,IssueQty,
			Sloc as 'issue sloc',
			[UnitPrice_ST],[Amount_ST]									
				,0 as UnitPrice_AC
				,0 as Amount_AC, 
				SanctionName,
				--'' as commentlog, -- link tu bang comment
				(select top 1 d.Content_Comment from tbl_RQMaterial_Comment d where d.RQ=a.RequestNo ) as commentlog,
				TypeSapPMS,
				(select top 1 c.TYPENAME from tbl_TypeMater c where c.TypeID=a.TypeID ) as TypeID,
				--UserCreate,
				(select top 1 FullName from tbl_UserIssueRQ b where b.UserLogin = a.UserCreate) as UserCreate,
				RQDeptID,
				---CodeMGR_Out as 'Status_Approved_PIC', --chu ky so 8 Out dept :StatusMGR_Out
				CASE 
					WHEN StatusMGR_Out IS NULL OR LTRIM(RTRIM(StatusMGR_Out)) = '' THEN ''
					ELSE StatusMGR_Out
				END as 'Status_Approved_PIC',
				CASE 
					WHEN StatusGM_Out IS NULL OR StatusGM_Out = '' THEN 'pending'
					ELSE StatusGM_Out
				END as 'Status_Approved_Final',
				TypeOutSap as 'Section out',   -- truong nay phai dua vao sloc mater MCS
				DocumentNo,
				Satatu_tranferPMS as 'Status trafer',
				Status_Finish_PMS as 'Status finished'
				FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a
				WHERE Status_Delete = 'N' 
				and StatusACC_GM is not NULL --- chu ky so 6 leve3 ACC phai duoc ky roi thi moi cho vao trong list
				and TypeID not in ('15.1','15.2','16.1','16.2')
				and ISNULL(StatusMGR_Issue, '') <> 'NG'
				and ISNULL(StatusGM_Issue, '') <> 'NG'
				and ISNULL(StatusACC_Check, '') <> 'NG'
				and ISNULL(StatusACC_MGR, '') <> 'NG'
				and ISNULL(StatusACC_GM, '') <> 'NG'
				and ISNULL(StatusInchage_Out, '') <> 'NG'
				and ISNULL(StatusMGR_Out, '') <> 'NG'
				and ISNULL(StatusGM_Out, '') <> 'NG'
				AND Insert_Date BETWEEN CONVERT(DATETIME, @_fromdate, 120) AND DATEADD(SECOND, 86399, CONVERT(DATETIME, @_todate, 120))  --_todate bao gồm cả ngày cuối (đến 23:59:59):
				AND RequestNo IN (
    SELECT value
    FROM STRING_SPLIT(@requestList, ',')
)
		end
		else
		begin
			--ALL
			SELECT 1,RequestNo, MvType,VendorCode,CostCenter,
			--'' as GLaccount,	--link tu bang mater type
			(select top 1 b.AccountCost from tbl_TypeMater b where b.TypeID=a.TypeID) as 'GL account',
			Plant,Material,IssueQty,
			Sloc as 'issue sloc',
			[UnitPrice_ST],[Amount_ST]									
				,[UnitPrice_AC]
				,[Amount_AC], 
				SanctionName,
				--'' as commentlog, -- link tu bang comment
				(select top 1 d.Content_Comment from tbl_RQMaterial_Comment d where d.RQ=a.RequestNo ) as commentlog,
				TypeSapPMS,
				(select top 1 c.TYPENAME from tbl_TypeMater c where c.TypeID=a.TypeID ) as TypeID,
				--UserCreate,
			    (select top 1 FullName from tbl_UserIssueRQ b where b.UserLogin = a.UserCreate) as UserCreate,
				RQDeptID,
				---CodeMGR_Out as 'Status_Approved_PIC', --chu ky so 8 Out dept :StatusMGR_Out
				CASE 
					WHEN StatusMGR_Out IS NULL OR LTRIM(RTRIM(StatusMGR_Out)) = '' THEN ''
					ELSE StatusMGR_Out
				END as 'Status_Approved_PIC',
				CASE 
					WHEN StatusGM_Out IS NULL OR StatusGM_Out = '' THEN 'pending'
					ELSE StatusGM_Out
				END as 'Status_Approved_Final',
				TypeOutSap as 'Section out',   -- truong nay phai dua vao sloc mater MCS
				DocumentNo,
				Satatu_tranferPMS as 'Status tranfer',
				Status_Finish_PMS as 'Status finished'
				FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a
				WHERE Status_Delete = 'N' 	
				and TypeID not in ('15.1','15.2','16.1','16.2')
				and ISNULL(StatusMGR_Issue, '') <> 'NG'
				and ISNULL(StatusGM_Issue, '') <> 'NG'
				and ISNULL(StatusACC_Check, '') <> 'NG'
				and ISNULL(StatusACC_MGR, '') <> 'NG'
				and ISNULL(StatusACC_GM, '') <> 'NG'
				and ISNULL(StatusInchage_Out, '') <> 'NG'
				and ISNULL(StatusMGR_Out, '') <> 'NG'
				and ISNULL(StatusGM_Out, '') <> 'NG'
				AND Insert_Date BETWEEN CONVERT(DATETIME, @_fromdate, 120) AND DATEADD(SECOND, 86399, CONVERT(DATETIME, @_todate, 120))  --_todate bao gồm cả ngày cuối (đến 23:59:59):	
				AND RequestNo IN (
    SELECT value
    FROM STRING_SPLIT(@requestList, ',')
)

        UNION

			SELECT 1,RequestNo, MvType,VendorCode,CostCenter,
			--'' as GLaccount,	--link tu bang mater type
			(select top 1 b.AccountCost from tbl_TypeMater b where b.TypeID=a.TypeID) as 'GL account',
			Plant,Material,IssueQty,
			Sloc as 'issue sloc',
			[UnitPrice_ST],[Amount_ST]									
				,0 as UnitPrice_AC
				,0 as Amount_AC, 
				SanctionName,
				--'' as commentlog, -- link tu bang comment
				(select top 1 d.Content_Comment from tbl_RQMaterial_Comment d where d.RQ=a.RequestNo ) as commentlog,
				TypeSapPMS,
				(select top 1 c.TYPENAME from tbl_TypeMater c where c.TypeID=a.TypeID ) as TypeID,
				--UserCreate,
				(select top 1 FullName from tbl_UserIssueRQ b where b.UserLogin = a.UserCreate) as UserCreate,
				RQDeptID,
				---CodeMGR_Out as 'Status_Approved_PIC', --chu ky so 8 Out dept :StatusMGR_Out
				CASE 
					WHEN StatusMGR_Out IS NULL OR LTRIM(RTRIM(StatusMGR_Out)) = '' THEN ''
					ELSE StatusMGR_Out
				END as 'Status_Approved_PIC',
				CASE 
					WHEN StatusGM_Out IS NULL OR StatusGM_Out = '' THEN 'pending'
					ELSE StatusGM_Out
				END as 'Status_Approved_Final',
				TypeOutSap as 'Section out',   -- truong nay phai dua vao sloc mater MCS
				DocumentNo,
				Satatu_tranferPMS as 'Status trafer',
				Status_Finish_PMS as 'Status finished'
				FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a
				WHERE Status_Delete = 'N' 	
				and TypeID not in ('15.1','15.2','16.1','16.2')
				and ISNULL(StatusMGR_Issue, '') <> 'NG'
				and ISNULL(StatusGM_Issue, '') <> 'NG'
				and ISNULL(StatusACC_Check, '') <> 'NG'
				and ISNULL(StatusACC_MGR, '') <> 'NG'
				and ISNULL(StatusACC_GM, '') <> 'NG'
				and ISNULL(StatusInchage_Out, '') <> 'NG'
				and ISNULL(StatusMGR_Out, '') <> 'NG'
				and ISNULL(StatusGM_Out, '') <> 'NG'
				AND Insert_Date BETWEEN CONVERT(DATETIME, @_fromdate, 120) AND DATEADD(SECOND, 86399, CONVERT(DATETIME, @_todate, 120))  --_todate bao gồm cả ngày cuối (đến 23:59:59):
				AND RequestNo IN (
    SELECT value
    FROM STRING_SPLIT(@requestList, ',')
)
		end

			

	end
	else if(@typedownload = '2')
	begin
		--dowload CSV format tổng(issue out)
		print 'download  CSV format tổng(issue out)'		
		if(@status_issueout = 'Pending')
		begin
			   select 1, a.Plant,a.Material,a.Sloc as 'Issue Sloc','' as 'Receive Sloc',a.IssueQty as Qty,
							  (select top 1 b.AccountCost from tbl_TypeMater b where b.TypeID=a.TypeID) as 'GL account',a.CostCenter,
							  '' as Reservation,
							  '' as Reservationitem,
							  '' as ReceivingMaterial,
							  '' as ReceivingPlant,
							  '' as Reason,
							  a.RequestNo,
							  a.MvType,
							  a.TypeSapPMS
							  from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a 
				 where Status_Delete = 'N' AND Insert_Date BETWEEN CONVERT(DATETIME, @_fromdate, 120) AND DATEADD(SECOND, 86399, CONVERT(DATETIME, @_todate, 120)) 
				 and StatusMGR_Out is not NULL 
				 and isnull(Status_Finish_PMS,'') = ''  --- điều kiện cột Status_Finish_PMS bị bỏ trông
				 --and DocumentNo is not NULL --bo dieu kien nay di 13.04.2026
				 --and TypeOutSap=@selectedOption
				 and ISNULL(StatusMGR_Issue, '') <> 'NG'
				and ISNULL(StatusGM_Issue, '') <> 'NG'
				and ISNULL(StatusACC_Check, '') <> 'NG'
				and ISNULL(StatusACC_MGR, '') <> 'NG'
				and ISNULL(StatusACC_GM, '') <> 'NG'
				and ISNULL(StatusInchage_Out, '') <> 'NG'
				and ISNULL(StatusMGR_Out, '') <> 'NG'
				and ISNULL(StatusGM_Out, '') <> 'NG' 
				and TypeID not in ('15.1','15.2','16.1','16.2')
				AND RequestNo IN (
    SELECT value
    FROM STRING_SPLIT(@requestList, ',')
)

				 union 

				 select 1, a.Plant,a.Material,a.Sloc as 'Issue Sloc','' as 'Receive Sloc',a.IssueQty as Qty,
									  (select b.AccountCost from tbl_TypeMater b where b.TypeID=a.TypeID) as 'GL account',a.CostCenter, 
									  '' as Reservation,
							  '' as Reservationitem,
							  '' as ReceivingMaterial,
							  '' as ReceivingPlant,
							  '' as Reason,
							  a.RequestNo,
							  a.MvType,
							  a.TypeSapPMS
									  from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a 
				 where Status_Delete = 'N' AND Insert_Date BETWEEN CONVERT(DATETIME, @_fromdate, 120) AND DATEADD(SECOND, 86399, CONVERT(DATETIME, @_todate, 120)) 
				 and StatusMGR_Out is not NULL 
				 and isnull(Status_Finish_PMS,'') = ''  --- điều kiện cột Status_Finish_PMS bị bỏ trông
				 --and DocumentNo is not NULL  --bo dieu kien nay di 13.04.2026
				 --and TypeOutSap=@selectedOption
				 and ISNULL(StatusMGR_Issue, '') <> 'NG'
				and ISNULL(StatusGM_Issue, '') <> 'NG'
				and ISNULL(StatusACC_Check, '') <> 'NG'
				and ISNULL(StatusACC_MGR, '') <> 'NG'
				and ISNULL(StatusACC_GM, '') <> 'NG'
				and ISNULL(StatusInchage_Out, '') <> 'NG'
				and ISNULL(StatusMGR_Out, '') <> 'NG'
				and ISNULL(StatusGM_Out, '') <> 'NG' 
				and TypeID not in ('15.1','15.2','16.1','16.2')
				AND RequestNo IN (
    SELECT value
    FROM STRING_SPLIT(@requestList, ',')
)

		end
		else
		begin
			----dowload all
			select 1, a.Plant,a.Material,a.Sloc as 'Issue Sloc','' as 'Receive Sloc',a.IssueQty as Qty,
							  (select top 1 b.AccountCost from tbl_TypeMater b where b.TypeID=a.TypeID) as 'GL account',a.CostCenter,
							  '' as Reservation,
							  '' as Reservationitem,
							  '' as ReceivingMaterial,
							  '' as ReceivingPlant,
							  '' as Reason,
							  a.RequestNo,
							  a.MvType,
							  a.TypeSapPMS
							  from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a 
				 where Status_Delete = 'N' AND Insert_Date BETWEEN CONVERT(DATETIME, @_fromdate, 120) AND DATEADD(SECOND, 86399, CONVERT(DATETIME, @_todate, 120)) 
				 --and StatusMGR_Out is not NULL 
				 --and isnull(Status_Finish_PMS,'') = ''  --- điều kiện cột Status_Finish_PMS bị bỏ trông
				 --and DocumentNo is not NULL --bo dieu kien nay di 13.04.2026
				 --and TypeOutSap=@selectedOption
				 and ISNULL(StatusMGR_Issue, '') <> 'NG'
				and ISNULL(StatusGM_Issue, '') <> 'NG'
				and ISNULL(StatusACC_Check, '') <> 'NG'
				and ISNULL(StatusACC_MGR, '') <> 'NG'
				and ISNULL(StatusACC_GM, '') <> 'NG'
				and ISNULL(StatusInchage_Out, '') <> 'NG'
				and ISNULL(StatusMGR_Out, '') <> 'NG'
				and ISNULL(StatusGM_Out, '') <> 'NG' 
				and TypeID not in ('15.1','15.2','16.1','16.2')
				AND RequestNo IN (
    SELECT value
    FROM STRING_SPLIT(@requestList, ',')
)

				 union 

				 select 1, a.Plant,a.Material,a.Sloc as 'Issue Sloc','' as 'Receive Sloc',a.IssueQty as Qty,
									  (select b.AccountCost from tbl_TypeMater b where b.TypeID=a.TypeID) as 'GL account',a.CostCenter, 
									  '' as Reservation,
							  '' as Reservationitem,
							  '' as ReceivingMaterial,
							  '' as ReceivingPlant,
							  '' as Reason,
							  a.RequestNo,
							  a.MvType,
							  a.TypeSapPMS
									  from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a 
				 where Status_Delete = 'N' AND Insert_Date BETWEEN CONVERT(DATETIME, @_fromdate, 120) AND DATEADD(SECOND, 86399, CONVERT(DATETIME, @_todate, 120)) 
				 --and StatusMGR_Out is not NULL 
				 --and isnull(Status_Finish_PMS,'') = ''  --- điều kiện cột Status_Finish_PMS bị bỏ trông
				 --and DocumentNo is not NULL  --bo dieu kien nay di 13.04.2026
				 --and TypeOutSap=@selectedOption
				 and ISNULL(StatusMGR_Issue, '') <> 'NG'
				and ISNULL(StatusGM_Issue, '') <> 'NG'
				and ISNULL(StatusACC_Check, '') <> 'NG'
				and ISNULL(StatusACC_MGR, '') <> 'NG'
				and ISNULL(StatusACC_GM, '') <> 'NG'
				and ISNULL(StatusInchage_Out, '') <> 'NG'
				and ISNULL(StatusMGR_Out, '') <> 'NG'
				and ISNULL(StatusGM_Out, '') <> 'NG' 
				and TypeID not in ('15.1','15.2','16.1','16.2')
				AND RequestNo IN (
    SELECT value
    FROM STRING_SPLIT(@requestList, ',')
)

		end

		 

	end
	else if (@typedownload = '3')
	begin
		--dowload all cho LOG
		select 1, 
		[RequestNo]
      ,[Material]
      ,[ItemDescription]
      ,[TypeID]
      ,[MvType]
      ,[MvName]
      ,[Plant]
      ,[VendorCode]
      ,[CostCenter]
      ,[Sloc]
      ,[IssueQty]
      ,[UnitPrice_ST]
      ,[Amount_ST]
      ,[DateVoucher]
      ,[CountryofOrigin]
      ,[Note]
	  ,[Status_RQ]
      ,[Status_IVoice]
      ,[Status_Delete]
      ,[RQDeptID]
      ,[Insert_Date]
	  ,[SanctionName]
      ,[Flag_price_sap]
      ,[Type_Rosh_Halb]
      ,[Reason]
      ,[NameCode]
      ,[DocumentNo]
		from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a 
	     where Status_Delete = 'N' AND Insert_Date BETWEEN CONVERT(DATETIME, @_fromdate, 120) AND DATEADD(SECOND, 86399, CONVERT(DATETIME, @_todate, 120)) 		 
		 and ISNULL(StatusMGR_Issue, '') <> 'NG'
		and ISNULL(StatusGM_Issue, '') <> 'NG'
		and ISNULL(StatusACC_Check, '') <> 'NG'
		and ISNULL(StatusACC_MGR, '') <> 'NG'
		and ISNULL(StatusACC_GM, '') <> 'NG'
		and ISNULL(StatusInchage_Out, '') <> 'NG'
		and ISNULL(StatusMGR_Out, '') <> 'NG'
		and ISNULL(StatusGM_Out, '') <> 'NG' 

		union

		select 1, 
		[RequestNo]
      ,[Material]
      ,[ItemDescription]
      ,[TypeID]
      ,[MvType]
      ,[MvName]
      ,[Plant]
      ,[VendorCode]
      ,[CostCenter]
      ,[Sloc]
      ,[IssueQty]
      ,[UnitPrice_ST]
      ,[Amount_ST]
      ,[DateVoucher]
      ,[CountryofOrigin]
      ,[Note]
	  ,[Status_RQ]
      ,[Status_IVoice]
      ,[Status_Delete]
      ,[RQDeptID]
      ,[Insert_Date]
	  ,[SanctionName]
      ,[Flag_price_sap]
      ,[Type_Rosh_Halb]
      ,[Reason]
      ,[NameCode]
      ,[DocumentNo]
		from [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a 
		 where Status_Delete = 'N' AND Insert_Date BETWEEN CONVERT(DATETIME, @_fromdate, 120) AND DATEADD(SECOND, 86399, CONVERT(DATETIME, @_todate, 120)) 		 
		 and ISNULL(StatusMGR_Issue, '') <> 'NG'
		and ISNULL(StatusGM_Issue, '') <> 'NG'
		and ISNULL(StatusACC_Check, '') <> 'NG'
		and ISNULL(StatusACC_MGR, '') <> 'NG'
		and ISNULL(StatusACC_GM, '') <> 'NG'
		and ISNULL(StatusInchage_Out, '') <> 'NG'
		and ISNULL(StatusMGR_Out, '') <> 'NG'
		and ISNULL(StatusGM_Out, '') <> 'NG' 

	end


    END
    ELSE
    BEGIN
        SELECT 2
    END




END
GO
/****** Object:  StoredProcedure [dbo].[Select_PMS_OutSAP_new_section]    Script Date: 5/21/2026 12:19:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_PMS_OutSAP_new_section] --Select_PMS_OutSAP_new_section 'PMS','IT'
	@selectedOption as nvarchar(50),
	@section as nvarchar(50)
AS
BEGIN

if(@section = '==Section==')
begin
--load all
		SELECT DISTINCT RequestNo,RQDeptID AS Department, Status_RQ,StatusMGR_Out as 'Status_Approved_OutSAP','B' AS TypeForm,SanctionName,DocumentNo,
		--UserCreate,
		(select top 1 [FullName] from tbl_UserIssueRQ b where b.UserLogin=a.UserCreate ) as UserCreate,
		a.TypeSapPMS,
		(select top 1 c.TYPENAME from tbl_TypeMater c where c.TypeID=a.TypeID ) as TypeID,
		--a.TypeID,
		--'' commentlog
		(select top 1 d.Content_Comment from tbl_RQMaterial_Comment d where d.RQ=a.RequestNo ) as commentlog,
		Linkfile,
		CommentPMS,
		Satatu_tranferPMS,
		Status_Finish_PMS
		--convert(date,DateACC_GM) as DateACC_GM
		FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a
		WHERE Status_Delete = 'N' AND Insert_Date BETWEEN DATEADD(MONTH, -1, GETDATE()) AND GETDATE() and TypeOutSap=@selectedOption
		and StatusACC_GM='OK' -- ke toan ky PM moi duoc nhin thay
		--and ISNULL(StatusMGR_Issue, '') <> 'NG'
		--and ISNULL(StatusGM_Issue, '') <> 'NG'
		--and ISNULL(StatusACC_Check, '') <> 'NG'
		--and ISNULL(StatusACC_MGR, '') <> 'NG'
		and ISNULL(StatusInchage_Out, '') <> 'NG' 
		and ISNULL(StatusMGR_Out, '') <> 'NG'
		and ISNULL(StatusGM_Out, '') <> 'NG'
		and StatusMGR_Out is NULL   --chu ky so 8 outdept chua ky
		

		UNION

		SELECT DISTINCT RequestNo,RQDeptID AS Department,Status_RQ,StatusMGR_Out as 'Status_Approved_OutSAP','A' AS TypeForm,SanctionName,DocumentNo,
		--UserCreate,
		(select top 1 [FullName] from [Issue_MaterialInOut].[dbo].[tbl_UserIssueRQ] b where b.UserLogin=a.UserCreate ) as UserCreate,
		a.TypeSapPMS,
		(select top 1 c.TYPENAME from tbl_TypeMater c where c.TypeID=a.TypeID ) as TypeID,
		--a.TypeID,
		--'' commentlog
		(select top 1 d.Content_Comment from tbl_RQMaterial_Comment d where d.RQ=a.RequestNo ) as commentlog,
		Linkfile,
		CommentPMS,
		Satatu_tranferPMS,
		Status_Finish_PMS
		--convert(date,DateACC_GM) as DateACC_GM
		FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a
		WHERE Status_Delete = 'N' AND Insert_Date BETWEEN DATEADD(MONTH, -1, GETDATE()) AND GETDATE() and TypeOutSap=@selectedOption
		and StatusACC_GM='OK' -- ke toan ky PM moi duoc nhin thay
		--and ISNULL(StatusMGR_Issue, '') <> 'NG'
		--and ISNULL(StatusGM_Issue, '') <> 'NG'
		--and ISNULL(StatusACC_Check, '') <> 'NG'
		--and ISNULL(StatusACC_MGR, '') <> 'NG'
		and ISNULL(StatusInchage_Out, '') <> 'NG'
		and ISNULL(StatusMGR_Out, '') <> 'NG'
		and ISNULL(StatusGM_Out, '') <> 'NG'
		and StatusMGR_Out is NULL   --chu ky so 8 outdept chua ky
			
end
else
begin
		--loc theo section
		SELECT DISTINCT RequestNo,RQDeptID AS Department, Status_RQ,StatusMGR_Out as 'Status_Approved_OutSAP','B' AS TypeForm,SanctionName,DocumentNo,
		--UserCreate,
		(select top 1 [FullName] from tbl_UserIssueRQ b where b.UserLogin=a.UserCreate ) as UserCreate,
		a.TypeSapPMS,
		(select top 1 c.TYPENAME from tbl_TypeMater c where c.TypeID=a.TypeID ) as TypeID,
		--a.TypeID,
		--'' commentlog
		(select top 1 d.Content_Comment from tbl_RQMaterial_Comment d where d.RQ=a.RequestNo ) as commentlog,
		Linkfile,
		CommentPMS,
		Satatu_tranferPMS,
		Status_Finish_PMS
		--convert(date,DateACC_GM) as DateACC_GM
		FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] a
		WHERE Status_Delete = 'N' AND Insert_Date BETWEEN DATEADD(MONTH, -1, GETDATE()) AND GETDATE() and TypeOutSap=@selectedOption
		and StatusACC_GM='OK' -- ke toan ky PM moi duoc nhin thay
		--and ISNULL(StatusMGR_Issue, '') <> 'NG'
		--and ISNULL(StatusGM_Issue, '') <> 'NG'
		--and ISNULL(StatusACC_Check, '') <> 'NG'
		--and ISNULL(StatusACC_MGR, '') <> 'NG'
		and ISNULL(StatusInchage_Out, '') <> 'NG' 
		and ISNULL(StatusMGR_Out, '') <> 'NG'
		and ISNULL(StatusGM_Out, '') <> 'NG'
		and StatusMGR_Out is NULL   --chu ky so 8 outdept chua ky
		and RQDeptID = @section

		UNION

		SELECT DISTINCT RequestNo,RQDeptID AS Department,Status_RQ,StatusMGR_Out as 'Status_Approved_OutSAP','A' AS TypeForm,SanctionName,DocumentNo,
		--UserCreate,
		(select top 1 [FullName] from [Issue_MaterialInOut].[dbo].[tbl_UserIssueRQ] b where b.UserLogin=a.UserCreate ) as UserCreate,
		a.TypeSapPMS,
		(select top 1 c.TYPENAME from tbl_TypeMater c where c.TypeID=a.TypeID ) as TypeID,
		--a.TypeID,
		--'' commentlog
		(select top 1 d.Content_Comment from tbl_RQMaterial_Comment d where d.RQ=a.RequestNo ) as commentlog,
		Linkfile,
		CommentPMS,
		Satatu_tranferPMS,
		Status_Finish_PMS
		--convert(date,DateACC_GM) as DateACC_GM
		FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] a
		WHERE Status_Delete = 'N' AND Insert_Date BETWEEN DATEADD(MONTH, -1, GETDATE()) AND GETDATE() and TypeOutSap=@selectedOption
		and StatusACC_GM='OK' -- ke toan ky PM moi duoc nhin thay
		--and ISNULL(StatusMGR_Issue, '') <> 'NG'
		--and ISNULL(StatusGM_Issue, '') <> 'NG'
		--and ISNULL(StatusACC_Check, '') <> 'NG'
		--and ISNULL(StatusACC_MGR, '') <> 'NG'
		and ISNULL(StatusInchage_Out, '') <> 'NG'
		and ISNULL(StatusMGR_Out, '') <> 'NG'
		and ISNULL(StatusGM_Out, '') <> 'NG'
		and StatusMGR_Out is NULL   --chu ky so 8 outdept chua ky
		and RQDeptID = @section
end
	

END
GO
