USE [Issue_MaterialInOut]
GO
/****** Object:  StoredProcedure [dbo].[SP_Issue_Material_Search_A_tongplant]    Script Date: 5/10/2026 11:23:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Issue_Material_Search_A_tongplant]   --- [SP_Issue_Material_Search_A_tongplant] 'RQB-PUR-1225-1'
	@RQ nvarchar(500) =  null
AS 
BEGIN

--declare @tongVR01_qty as float
--declare @tongVE01_qty as float
--declare @tongVG01_qty as float
--declare @tongV501_qty as float

--declare @tongVR01_amount as float
--declare @tongVE01_amount as float
--declare @tongVG01_amount as float
--declare @tongV501_amount as float


SET NOCOUNT ON;

    SELECT
        -- Quantity
        SUM(CASE WHEN a.Plant = 'VR01' THEN a.IssueQty ELSE 0 END) AS Qty_VR01,
        SUM(CASE WHEN a.Plant = 'VE01' THEN a.IssueQty ELSE 0 END) AS Qty_VE01,
        SUM(CASE WHEN a.Plant = 'VG01' THEN a.IssueQty ELSE 0 END) AS Qty_VG01,
        SUM(CASE WHEN a.Plant = 'V501' THEN a.IssueQty ELSE 0 END) AS Qty_V501,
		SUM(CASE WHEN a.Plant = 'VB01' THEN a.IssueQty ELSE 0 END) AS Qty_VB01,
		SUM(CASE WHEN a.Plant = 'VY01' THEN a.IssueQty ELSE 0 END) AS Qty_VY01,

        -- Amount ST
        SUM(CASE WHEN a.Plant = 'VR01' THEN a.Amount_ST ELSE 0 END) AS Amt_VR01,
        SUM(CASE WHEN a.Plant = 'VE01' THEN a.Amount_ST ELSE 0 END) AS Amt_VE01,
        SUM(CASE WHEN a.Plant = 'VG01' THEN a.Amount_ST ELSE 0 END) AS Amt_VG01,
        SUM(CASE WHEN a.Plant = 'V501' THEN a.Amount_ST ELSE 0 END) AS Amt_V501,
		SUM(CASE WHEN a.Plant = 'VB01' THEN a.Amount_ST ELSE 0 END) AS Amt_VB01,
		SUM(CASE WHEN a.Plant = 'VY01' THEN a.Amount_ST ELSE 0 END) AS Amt_VY01

    FROM [dbo].[tbl_RQ_MaterialIssue] a
    WHERE a.Status_Delete = 'N'
      AND a.RequestNo = @RQ;



	--select 
	--a.RequestNo, a.Material , a.IssueQty, a.UnitPrice_ST, 
 --       CONVERT(varchar, CAST(Amount_ST AS money), 1)  as Amount_ST ,
	--	 UnitPrice_AC,
 --       CONVERT(varchar, CAST(Amount_AC AS money), 1)  as Amount_AC,
	--	 a.Plant , b.NamePlant, c.TypeName ,a.VendorCode,  e.VendorName,
	--	   a.MvType, a.MvName,d.[AccountCost],d.[AccountName] , a.DateVoucher ,a.Note ,  a.CostCenter,f.DeptName  , a.Sloc,  a.Status_RQ
	--	from  [dbo].[tbl_RQ_MaterialIssueB] a  inner join  [dbo].[tbl_Plant] b on a.Plant = b.Plant
	--	inner join [dbo].[tbl_TypeMater] c on a.TypeID = c.TypeID 
	--   inner join  [dbo].[tbl_ACC_Master] d on d.[TypeID] =  a.TypeID
	--	left join tbl_VendorMaster e on a.VendorCode =  e.VendorCode 
	--	inner join tbl_DeptMaster f on a.RQDeptID = f.DeptCode
	--	where a.Status_Delete = 'N' and a.RequestNo = @RQ 

	
	
    
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Issue_Material_Search_B_tongplant]    Script Date: 5/10/2026 11:23:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Issue_Material_Search_B_tongplant]   --- [SP_Issue_Material_Search_B_tongplant] 'RQB-PUR-0126-36'
	@RQ nvarchar(500) =  null
AS 
BEGIN

--declare @tongVR01_qty as float
--declare @tongVE01_qty as float
--declare @tongVG01_qty as float
--declare @tongV501_qty as float

--declare @tongVR01_amount as float
--declare @tongVE01_amount as float
--declare @tongVG01_amount as float
--declare @tongV501_amount as float


SET NOCOUNT ON;

    SELECT
        -- Quantity
        SUM(CASE WHEN a.Plant = 'VR01' THEN a.IssueQty ELSE 0 END) AS Qty_VR01,
        SUM(CASE WHEN a.Plant = 'VE01' THEN a.IssueQty ELSE 0 END) AS Qty_VE01,
        SUM(CASE WHEN a.Plant = 'VG01' THEN a.IssueQty ELSE 0 END) AS Qty_VG01,
        SUM(CASE WHEN a.Plant = 'V501' THEN a.IssueQty ELSE 0 END) AS Qty_V501,
		SUM(CASE WHEN a.Plant = 'VB01' THEN a.IssueQty ELSE 0 END) AS Qty_VB01,
		SUM(CASE WHEN a.Plant = 'VY01' THEN a.IssueQty ELSE 0 END) AS Qty_VY01,

        -- Amount ST
        SUM(CASE WHEN a.Plant = 'VR01' THEN a.Amount_ST ELSE 0 END) AS Amt_VR01,
        SUM(CASE WHEN a.Plant = 'VE01' THEN a.Amount_ST ELSE 0 END) AS Amt_VE01,
        SUM(CASE WHEN a.Plant = 'VG01' THEN a.Amount_ST ELSE 0 END) AS Amt_VG01,
        SUM(CASE WHEN a.Plant = 'V501' THEN a.Amount_ST ELSE 0 END) AS Amt_V501,
		SUM(CASE WHEN a.Plant = 'VB01' THEN a.Amount_ST ELSE 0 END) AS Amt_VB01,
		SUM(CASE WHEN a.Plant = 'VY01' THEN a.Amount_ST ELSE 0 END) AS Amt_VY01

    FROM [dbo].[tbl_RQ_MaterialIssueB] a
    WHERE a.Status_Delete = 'N'
      AND a.RequestNo = @RQ;



	--select 
	--a.RequestNo, a.Material , a.IssueQty, a.UnitPrice_ST, 
 --       CONVERT(varchar, CAST(Amount_ST AS money), 1)  as Amount_ST ,
	--	 UnitPrice_AC,
 --       CONVERT(varchar, CAST(Amount_AC AS money), 1)  as Amount_AC,
	--	 a.Plant , b.NamePlant, c.TypeName ,a.VendorCode,  e.VendorName,
	--	   a.MvType, a.MvName,d.[AccountCost],d.[AccountName] , a.DateVoucher ,a.Note ,  a.CostCenter,f.DeptName  , a.Sloc,  a.Status_RQ
	--	from  [dbo].[tbl_RQ_MaterialIssueB] a  inner join  [dbo].[tbl_Plant] b on a.Plant = b.Plant
	--	inner join [dbo].[tbl_TypeMater] c on a.TypeID = c.TypeID 
	--   inner join  [dbo].[tbl_ACC_Master] d on d.[TypeID] =  a.TypeID
	--	left join tbl_VendorMaster e on a.VendorCode =  e.VendorCode 
	--	inner join tbl_DeptMaster f on a.RQDeptID = f.DeptCode
	--	where a.Status_Delete = 'N' and a.RequestNo = @RQ 

	
	
    
END
GO
