USE [Issue_MaterialInOut]
GO
/****** Object:  Table [dbo].[tbl_UserDeptCombine]    Script Date: 4/28/2026 9:00:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserDeptCombine](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UserLogin] [nvarchar](50) NULL,
	[FullName] [nvarchar](50) NULL,
	[Deptcombine] [nvarchar](100) NULL,
	[Level_dept] [nvarchar](10) NULL,
	[RoleDept] [nvarchar](50) NULL,
	[DateCreate] [datetime] NULL,
	[Flagdelete] [tinyint] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_UserDeptCombine] ADD  CONSTRAINT [DF_tbl_UserDeptCombine_Flagdelete]  DEFAULT ((0)) FOR [Flagdelete]
GO
/****** Object:  StoredProcedure [dbo].[SP_Issue_Material_BindRQ_NOTApproved]    Script Date: 4/28/2026 9:00:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Issue_Material_BindRQ_NOTApproved]  ---SP_Issue_Material_BindRQ_NOTApproved 'IT','2020,2020','RQ','2013168_3','3'
	@DeptID nvarchar(500),
	@Stock nvarchar(500) = null,
	@RoleName nvarchar(500),
	@User nvarchar(500),
	@RoleAproved nvarchar(500)

AS
BEGIN
	
	declare @Stock_N  nvarchar(200), @delimiter nvarchar(10);

	SET @delimiter=','
	set  @Stock_N = '''' +  (select REPLACE(@Stock, @delimiter , ''','''))  + '''' 
	declare @Sql nvarchar(max)

	
	
	IF (@RoleAproved  = 1 and @RoleName = 'RQ')  
	begin
		
		if(@DeptID = 'PMS')
		begin
			--bo dieu kien and RQDeptID =  '''+ @DeptID+''' 
			set @Sql = 
			 '
					select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
					from [dbo].[tbl_RQ_MaterialIssue] a
					where Status_Delete = ''N'' and     (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject''  ) and StatusInchage_Issue is NULL  and
					 a.UserCreate ='''+ @User+''' 
					 and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
					order by  Insert_Date desc
				'
		end
		else if(@DeptID = 'LOG')
		begin
		--and StatusInchage_Issue is NULL
		set @Sql ='
					select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
					from [dbo].[tbl_RQ_MaterialIssue] a
					where Status_Delete = ''N'' and     (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject''  ) and
					 a.TypeID =''1'' 
					 and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
					order by  Insert_Date desc
				'
		end
		else
		begin
			set @Sql = 
			 '
					select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
					from [dbo].[tbl_RQ_MaterialIssue] a
					where Status_Delete = ''N'' and     (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject''  ) and StatusInchage_Issue is NULL  and
					 a.UserCreate ='''+ @User+''' and RQDeptID =  '''+ @DeptID+''' 
					 and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
					order by  Insert_Date desc
				'
		end

	
	end

   
	IF (@RoleAproved  = 2 and @RoleName = 'RQ')
	begin

		if(@DeptID = 'PMS')
		begin
			--bo dieu kien and RQDeptID =  '''+ @DeptID+'''
			 set @Sql = 
			'
				select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
				from [dbo].[tbl_RQ_MaterialIssue] a
				where Status_Delete = ''N'' and    (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'')
				and  ([StatusInchage_Issue] = ''OK'' and ([StatusMGR_Issue] is NULL or  [StatusMGR_Issue] = ''NG'')    ) 
				and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
				order by  Insert_Date desc
			'
		end
		else
		begin
				 set @Sql = 
			'
				select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
				from [dbo].[tbl_RQ_MaterialIssue] a
				where Status_Delete = ''N'' and    (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'')
				and  ([StatusInchage_Issue] = ''OK'' and ([StatusMGR_Issue] is NULL or  [StatusMGR_Issue] = ''NG'') and RQDeptID =  '''+ @DeptID+'''   ) 
				and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
				order by  Insert_Date desc
			'
			--	 set @Sql = 
			--'
			--	select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
			--	from [dbo].[tbl_RQ_MaterialIssue] a
			--	where Status_Delete = ''N'' and    (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'')
			--	and  ([StatusInchage_Issue] = ''OK'' and ([StatusMGR_Issue] is NULL or  [StatusMGR_Issue] = ''NG'')   and RQDeptID =  '''+ @DeptID+''' ) 
			--	and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
			--	order by  Insert_Date desc
			--'

		end
	end

	IF (@RoleAproved  = 3 and @RoleName = 'RQ') 
			begin

			if(@DeptID = 'PMS')
			begin
				--and RQDeptID =  '''+ @DeptID+'''
				set @Sql = 
				 '
						select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
						from [dbo].[tbl_RQ_MaterialIssue] a
						where Status_Delete = ''N'' and     (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'')  
						and  ([StatusInchage_Issue] = ''OK'' and [StatusMGR_Issue] = ''OK'' and ( StatusGM_Issue is NULL or StatusGM_Issue = ''NG'')  )
						and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
						order by  Insert_Date desc
				'
			end
			else
			begin
				--and RQDeptID =  '''+ @DeptID+'''
				print 'level3 bo phan'

				if exists(select * from tbl_UserDeptCombine where UserLogin=@User and Level_dept=@RoleAproved)
				begin
					--loc theo bo phan
					declare @bophancombine as nvarchar(100)
					set @bophancombine = (select Deptcombine from tbl_UserDeptCombine where UserLogin=@User and Level_dept=@RoleAproved)
					--print @bophancombine

					set @Sql = 
					 '
							select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
							from [dbo].[tbl_RQ_MaterialIssue] a
							where Status_Delete = ''N'' and     (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'')  
							and  ([StatusInchage_Issue] = ''OK'' and [StatusMGR_Issue] = ''OK'' and( StatusGM_Issue is NULL or StatusGM_Issue = ''NG'')  and RQDeptID in  '+ @bophancombine+'   )
							and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
							order by  Insert_Date desc
					'
				end
				else
				begin
					-- giu nguyen theo bo phan
					set @Sql = 
					 '
							select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
							from [dbo].[tbl_RQ_MaterialIssue] a
							where Status_Delete = ''N'' and     (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'')  
							and  ([StatusInchage_Issue] = ''OK'' and [StatusMGR_Issue] = ''OK'' and( StatusGM_Issue is NULL or StatusGM_Issue = ''NG'')  and RQDeptID =  '''+ @DeptID+'''   )
							and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
							order by  Insert_Date desc
					'
				end

				
			end

			 
			end
	
  
  IF (@RoleAproved  = 1 and @RoleName = 'ACC-CHECK') 
			begin
			 set @Sql = 
				 '
						select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
						from [dbo].[tbl_RQ_MaterialIssue] a
						where Status_Delete = ''N'' and     (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'')  and StatusGM_Issue = ''OK'' 
						and (StatusACC_Check is NULL or  StatusGM_Issue = ''NG'')
						and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
						order by  Insert_Date desc
				'
		end

IF (@RoleAproved  = 2 and @RoleName = 'ACC-CHECK') 
			begin
			 set @Sql = 
				 '
						select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
						from [dbo].[tbl_RQ_MaterialIssue] a
						where Status_Delete = ''N'' and     (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'')  and StatusACC_Check = ''OK'' 
						and (StatusACC_MGR is NULL or  StatusACC_MGR  = ''NG'')
						and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
						order by  Insert_Date desc
				'
		end

IF (@RoleAproved  = 3 and @RoleName = 'ACC-CHECK') 
			begin
			 set @Sql = 
				 '
						select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
						from [dbo].[tbl_RQ_MaterialIssue] a
						where Status_Delete = ''N'' and     (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject'')  and StatusACC_MGR = ''OK'' 
						and  (StatusACC_GM is NULL or  StatusACC_GM  = ''NG'')
						and  cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
						order by  Insert_Date desc 
				'
		end

---27.01.2026 them out stored  --@RoleAproved  = 1 and  --and     (a.Status_RQ = ''Pending'' or a.Status_RQ = ''Reject''  )
IF (@RoleName = 'STORE')
begin
	set @Sql = 
			 '
					select  distinct a.RequestNo ,CAST(a.Insert_Date AS date) AS Insert_Date
					from [dbo].[tbl_RQ_MaterialIssue] a
					where Status_Delete = ''N'' and					
					 cast (a.Insert_Date as date ) >=   DATEADD(day, 1, EOMONTH(DATEADD(month, -2, GETDATE()))) 
					order by  Insert_Date desc
				'
end


	exec (@Sql)
	print @Sql
END
GO
